[2012-08-14 16:42] paulcwatts opened #6 "Allow for changing the sort order for stops and routes"
Either that or just change it to be alphabetical -- I'm not sure if anyone actually gets the current sorting mechanism.

[2012-08-14 16:47] paulcwatts opened #7 "Make errors more specific, in particular around network connectivity"
I think a lot of people get errors about getting stops or arrivals when they don't realize they don't have network connectivity, either due to a dead zone or some temporary lapse.

Rather than a generic "problem getting stops" toast or "communication error", try to make it clear that this is because you actually don't have any internet connectivity.

[2012-08-26 22:01] paulcwatts opened #8 "Add a preference to disable to GPS warning popup"
We can add a checkbox for the folks who really don't like this popup.

[2012-08-29 01:03] paulcwatts opened #9 "Use different icon for notifications in arrivals screen"
In newest SDKs, the lighter icon is used so it's basically a white-on-white icon.

[2012-08-29 01:04] paulcwatts opened #10 "Use transit-specific icon in the notification tray"
I use the "reminder/notification" icon which looks like a generic "notification" icon. We should use something that more specifically calls out as OneBusAway, like the old bus icon.

[2012-08-30 16:08] paulcwatts opened #11 "Search route hint has wrong background"
This is the hint text on the "Search" tab of the "My Routes" activity.

I never noticed when the default background was white, but on ICS/JB it's off white it has this strange white-on-off white.

[2012-08-31 03:22] paulcwatts opened #12 "Add location provider status to bug report email"
This will be helpful in diagnosing when people email me about GPS problems. I may be able to add a lat/lon/accuracy as well.

[2012-08-31 03:42] paulcwatts opened #13 "Polylines appear and disappear at different zoom levels"
This didn't seem to happen on Gingerbread, perhaps it's ICS/JB only?

[2012-08-31 03:45] paulcwatts opened #14 "Add trip status/extended arrival details screen"
This would be useful for three reasons:

1. It's cool
2. we wouldn't have to shove so much into a popup box
3. We could add even more information that would be useful for debugging
4. We could display extra warning text to make it clear when we don't have predicted information. We could finally make people understand what "scheduled arrival" means.

OK, that's four reasons.

[2012-08-31 03:54] paulcwatts opened #15 "Fix the case with overlapping map stops"
We should be able to detect stops that are right on top of each other, or close enough within some range, and popup something that will allow you to disambiguate them.

[2012-08-31 04:33] paulcwatts opened #16 "View posted schedule from a stop"
Move from http://code.google.com/p/seattle-bus-bot/issues/detail?id=17

Reported by project member paulcwatts, Dec 1, 2009
It would be useful to view the posted schedule of departures from the
StopInfo screen.

Right now this information isn't available from the REST APIs, but we could
still link to the KC Metro site for KCM routes.

Comment 3 by hoffman.mm, Jul 19, 2012
Could you link to the OneB

[2012-08-31 04:34] paulcwatts opened #17 "Destination reminders"
Right now we only have arrival reminders for when a bus is coming to the
stop where you want to board.

Multiple users have requested the ability to have a reminder for when you
want to get off the bus.

This will be dependent on showing the trip schedule; we'll have to wait
until that API is stabilized and create a screen for it.

Labels: Milestone-1.5
Comment 3 by devin@twuni.org, Jun 13, 2011
A

[2012-08-31 04:35] paulcwatts opened #18 "Map popup could have better layout in landscape mode"
What steps will reproduce the problem?
This is most noticeable on a WVGA screen:
1. Select a stop on a map, particularly one with a short name or few routes
2. Put the phone in landscape mode
3. Click 'show routes'

What is the expected output? What do you see instead?

There's a lot of wasted space on the right hand side that obscures a good
portion of the map.

We could optimize the layout of th

[2012-08-31 04:36] paulcwatts opened #19 "Reminders don't restart after an update"
What steps will reproduce the problem?
1. Schedule a reminder
2. Update the app
3. Wait for the reminder

What is the expected output? What do you see instead?

Android doesn't seem to be restarting the TripService, and so the reminder
alarms are removed. The user has to go and re-save a reminder, add a new
reminder, or reboot their phone.

Figure out a way for Android to run the server post-updat

[2012-08-31 04:38] paulcwatts opened #20 "Please don't make me enter a title for reminders"
Reported by eric.hanchrow, May 1, 2010
What steps will reproduce the problem?
1. Start the app
2. Somehow get to a page that shows the arrival times for a particular stop
3. Tap the line corresponding to any arrival.  You'll see "Bus options"; one of those
options is "Set a reminder"; tap it.

What is the expected output? What do you see instead?

What I'd prefer is for the dumb soft keyboard to N

[2012-08-31 04:39] paulcwatts opened #21 "Set the default reminder interval based on last chosen interval"
Reported by eric.hanchrow, May 13, 2010
What steps will reproduce the problem?
1. Open the page for a particular stop.
2. Tap one of the arrival times
3. Tap "Set a reminder".  Note that the default time is 10 minutes.
4. Tap 5 minutes instead of the default.
5. Tap "Save".
6. Back at the stop page, tap another arrival time.
7. Again, tap "Set a reminder".

Note that the default is once again 10 m

[2012-08-31 04:41] paulcwatts opened #22 "Add a nearby stops list option to the map (accessibility)"
Reported by choiyoung7, May 20, 2010
First of all, I want to command you for your fabulous app. I am a blind. I
recently got Samsung Moment android phone. I use gTalk.

I downloaded your app. most features are working great, however, the first
view to select the bus or bus-stop is a map. If you add listview option
such asn recent stop for TTS, many visually impaired users would be able
to use your

[2012-08-31 04:54] paulcwatts opened #23 "improve the green directional arrows with better/thicker outlines/shadows"
Honestly I think we can improve the whole pin to make it look better and to have different resolutions for different screen sizes.

This is migrated from this bug, where there is a PSD attached:
http://code.google.com/p/seattle-bus-bot/issues/detail?id=56

[2012-08-31 05:04] paulcwatts opened #24 "Sounder does not display route label"
Reported by cookieguru, Sep 21, 2010
Both the route popup under "show routes" in map view and the arrivals view show an empty label when viewing Sounder.  Similarly, Amtrak fails.

This is probably due to the fact that, despite being a required field, the shortName is not defined for these routes.  The API does not return a container for shortName either:

http://api.onebusaway.org/api/where/arriv

[2012-08-31 05:08] paulcwatts opened #25 "Trip planning"
There's no longer an OBA API for it, but people continue to ask for it. Frankly I doubt I will ever have time to do this, but I want to keep something open because it's such a popular feature request.

To be clear, this would involve either bringing back Brian's API, integrating OpenTripPlanner, or running my own server. If it were a different server it would have to be kept updated with GTFS upda

[2012-08-31 05:10] paulcwatts opened #26 "Add option to include arrivals more than 30 minutes out"
I'd still like to do this. I may be able to incorporate it into a neat "get more" UI.

[2012-08-31 05:14] paulcwatts opened #27 "Warn the user if their clock is not accurate, or if it's not set to automatic by the network"
I've definitely had reports where some of the accuracy problems people have with OneBusAway is because the clock on their phone is off. This only becomes apparently when it's _way_ off, but perhaps some of the other, smaller inaccuracies are because of smaller offsets.

There are two options to consider:
1. Warn the user that their clock is not set to be automatically updated by the network. This

[2012-08-31 05:15] paulcwatts opened #28 "Sounder route label is cut off"
This task is derived from  Issue 68  (http://code.google.com/p/seattle-bus-bot/issues/detail?id=68); specifically, comment #3. The example stop given in that issue (http://api.onebusaway.org/api/where/arrivals-and-departures-for-stop/40_S_KS.xml?key=TEST&version=2) does not seem to exist any longer. To reproduce this problem, one must either mock the API call or find a route that contains a longNa

[2012-08-31 05:16] paulcwatts opened #29 "Arrival times can differ due to clock sync issues"
Reported by project member paulcwatts, Sep 24, 2010
From a user who is reporting the times on the Android client are different from those on the iPhone. I'll probably need to make sure I'm synchronizing with OBA's system time rather than the phone's time.

Hi Paul, I may have found the cause.  My Droid's clock is about 4 minutes faster than the IPhone's.  4 minutes appears to be the difference bet

[2012-08-31 05:31] paulcwatts opened #30 "When searching for numeric stops, switch the soft keyboard to digits"
Reported by eric.hanchrow, Dec 16, 2010
What steps will reproduce the problem?
1. Somehow get to the page with the magnifying glass in the rightmost top tab, then click it
2. Tap in the text entry area.  The soft keyboard appears -- but it's displaying letters, not numbers; in order to type a number, I have to first hit the "123" button in the lower-left corner.

What is the expected output? What

[2012-08-31 05:32] paulcwatts opened #31 "Option for satellite images on map"
This is possible, but I'm not sure if we really need it. If it's easy to do and doesn't get in the way.

[2012-08-31 05:33] paulcwatts opened #32 "Cloud save for favorites/recent stops/routes"
Reported by eric.hanchrow, Aug 11, 2012
I use the app on many devices, and have to enter my favorite stops on each. It'd be nice if I could save that list of stops so that it'd be available on every other Android device on which I was logged in, and using the app.

Comment 1 by cookieguru, Today (103 minutes ago)
Dropbox or a similar service?

Comment 2 by eric.hanchrow, Today (101 minutes ago)
Dr

[2012-08-31 05:35] paulcwatts opened #33 "SoundTransit 535 schedule broken"
Reported by project member paulcwatts, Nov 22, 2011
1. Search for the route 535
2. Press & hold the result and tap on "show schedule"

Expected:
3. The schedule to be shown

Actual:
4. 404 page

Comment 1 by cookieguru, Jan 22, 2012
Problem is with the Metro GTFS.  All the ST URLs are broken.  Report to PublicRequests.TransitData@kingcounty.gov

[2012-09-06 15:52] paulcwatts opened #34 "Include links to OneBusAway project in the readme"
The wiki/developer page, as well as the mobile app design considerations page:

https://github.com/OneBusAway/onebusaway-application-modules/wiki/Mobile-App-Design-Considerations

[2012-09-12 03:23] paulcwatts opened #35 "White on white text in dialogs"
Repro:
1. Go out of range of OneBusAway so the Out of range dialog pops up.
2. Look at the header of the dialog

Expected:
3. You should be able to read the text
4. The text is white-on-white, it makes it really difficult to read.

[2012-09-16 00:05] #9 closed, assigned to nobody

[2012-09-16 00:05] #11 closed, assigned to nobody

[2012-09-16 00:07] #35 closed, assigned to paulcwatts

[2012-09-16 00:08] #10 closed, assigned to nobody

[2012-09-16 00:12] paulcwatts opened #36 "Update Jackson libraries"
We're on 1.8.5, they're on 2.0.6.

[2012-09-16 00:53] #34 closed, assigned to nobody

[2012-09-16 01:43] #20 closed, assigned to nobody

[2012-09-16 02:09] #36 closed, assigned to paulcwatts

[2012-09-16 16:23] paulcwatts opened #37 "Support multiple OBA servers in different regions"
See this discussion:

https://groups.google.com/forum/#!topic/onebusaway-developers/MsGNjBDdFXs

This would require a few things to happen:
1. The app would always have to get the user's location on first launch
2. Either get the list of regions and select the closest, or allow the user to select one;
3. Remove the hardcoded locations in the various areas around the app;
4. Persist the selected re

[2012-09-16 20:44] #13 closed, assigned to nobody

[2012-09-18 03:37] paulcwatts opened #38 "Add User Guide back"
This time I can potentially add it directly to the app, since it changes infrequently enough.

[2012-10-02 21:59] paulcwatts opened #39 "Make getting in between route mode on the map and list mode easier"
It's odd that you can't get to the stops-for-route list from "route mode" on the map. I think this could be added if we also did something like adding a list mode for stops-for-location (issue #22)

[2012-10-02 22:01] paulcwatts opened #40 "Add an option for the route schedule from the route info screen"
Eventually this could be a link to an activity/fragment, but until there's time to do that it can only be the web link.

[2012-10-02 22:33] paulcwatts opened #41 "Only enable the boot receiver if there are reminders"
There apparently is a way to do this:

http://stackoverflow.com/questions/11483007/broadcastreceiver-conditionally-start-service-on-boot-without-starting-the-app

[2012-10-08 18:06] paulcwatts opened #42 "Unable to search for the "A Line" from downtown Seattle"
It looks like we may need to expand our search radius -- perhaps the default radius should be expanded?

[2012-10-10 16:45] paulcwatts opened #43 "Sounder route popup on map obscures the entire map"
The length of the route name "Sounder / South ..." pushes the long description far to the right.

[2012-10-12 23:34] paulcwatts opened #44 "Crash when sending problem reports"
java.lang.NullPointerException
at com.joulespersecond.seattlebusbot.ReportProblemFragmentBase.onLoadFinished(ReportProblemFragmentBase.java:89)
at com.joulespersecond.seattlebusbot.ReportProblemFragmentBase.onLoadFinished(ReportProblemFragmentBase.java:38)
at android.support.v4.app.LoaderManagerImpl$LoaderInfo.callOnLoadFinished(LoaderManager.java:424)
at android.support.v4.app.LoaderManagerImpl$L

[2012-10-13 00:09] #44 closed, assigned to paulcwatts

[2012-10-13 00:09] #7 closed, assigned to paulcwatts

[2012-10-13 00:36] #12 closed, assigned to nobody

[2012-10-13 00:55] #43 closed, assigned to nobody

[2012-10-14 18:09] paulcwatts opened #45 "Refresh old arrival data on resume, discard if it is too old"
It occurred to me the way we persist the old arrival information might end up being more of a problem that a solution. In particular this case:
1. Have OneBusAway active on the arrivals screen;
2. Have your phone go to sleep
3. A few minutes later, bring your phone back from sleep

In onResume, we show the old data and immediately start fetching new data. However, the old data is still on the scre

[2012-11-14 17:25] paulcwatts opened #46 "Shortcuts not always showing the shortcut stop"
When using shortcuts to stops, the app might not display the shortcut that was actually activated.

Repro:
1. Open OneBusAway using the App icon in the app drawer
2. Press the phone back button (bottom left) multiple time, until the app quit completely, back to the phone home screen
3. Open shortcut to stop A. Schedule of stop A is showing
4. Press phone Home button
5. Open shortcut to stop B. Sch

[2012-12-17 23:49] paulcwatts opened #47 "Consider improvements in app icon navigation: Up vs Home"
See this conversation on Twitter:

https://twitter.com/leggett/status/279304677294747648

The idea would be to have the App Icon go to My Stops from a Stop, then to the Map. I know a lot of people, including me, like the ability to go directly to the map from stop, but this may have the added benefit of prioritizing the My Stops screen (which isn't very discoverable as it is).

This could also be

[2013-01-02 21:37] paulcwatts opened #48 "Only warn that Airplane Mode is on when we can't connect"
Right now we'll warn the user that you can't use it in Airplane Mode right as you start the app.

Since I added this warning, I've added much better error reporting, so there's no sense in pre-warning the user. In particular, this error is totally useless if you want to use the app with Airplane Mode enabled but Wifi turned on (which I didn't realize was possible, at least it probably wasn't when

[2013-02-07 04:30] paulcwatts opened #49 "Replace unit test mocks with Retrofit?"
https://github.com/square/retrofit

This looks pretty cool, I wonder if it can work for us.

[2013-03-03 17:51] #48 closed, assigned to nobody

[2013-03-03 18:59] #45 closed, assigned to nobody

[2013-03-03 19:27] offby1 opened #50 ""Out of range" warning appeared in a funny place"
I just built from my fork -- https://github.com/offby1/onebusaway-android/commit/6e5bcb6cc900d72bc9d35b80e904736cd350ea15 -- and saw this:

![2013-03-03 11 19 19](https://f.cloud.github.com/assets/3145/214636/c0b89e5c-8437-11e2-9429-f7f87cd6b8ec.png)

Note how the entry for route 16 says "You are out of OneBusAway's service area. Go there now?"  That seems out of place.

[2013-03-03 19:30] #50 closed, assigned to nobody

[2013-03-03 20:26] #47 closed, assigned to nobody

[2013-03-07 04:37] #46 closed, assigned to nobody

[2013-03-21 14:54] technerd206 opened #51 "Blackberry 10 Conversion"
It would be great if you could convert the APK file to a BAR, so the Android version of the app can be either be side-loaded on a Z10/Q10 or hosted on blackberry world.

https://bdsc.webapps.blackberry.com/android/bpaa/

[2013-05-15 16:59] barbeau opened #52 "Add debug statements to track regions logic"
Adding debug statements to track regions logic will help developers that aren't as familiar with the source code follow the current state of the application at runtime and make improvements.  Debug statements should be added so they are only visible in the debug configuration (i.e., not in release):

[code]

[2013-05-17 13:49] barbeau opened #54 "super.onCreate() isn't called in Application.onCreate()"
Android docs explicitly say that super.onCreate() should be called in Application.onCreate():
http://developer.android.com/reference/android/app/Application.html#onCreate()

...and this isn't currently being done in com.joulespersecond.seattlebusbot.Application:
https://github.com/OneBusAway/onebusaway-android/blob/develop/src/com/joulespersecond/seattlebusbot/Application.java#L35

There should be

[2013-05-24 00:16] #54 closed, assigned to nobody

[2013-05-28 21:06] #52 closed, assigned to nobody

[2013-05-29 17:17] barbeau opened #56 "Upgrade to Android Maps API v2"
There are many advantages for switching to the new Maps API, some detailed here:
https://developers.google.com/maps/documentation/android/

_Drawbacks:_
- Need to add Google Play services SDK, which is only compatible with Android 2.2 and higher -  We currently support Android 2.1 as well, so we'd need to maintain two versions of the app going forward, or drop support for Android 2.1.  As of May 2

[2013-06-08 17:35] paulcwatts opened #58 "New NavUtils support library for up navigation"
http://developer.android.com/reference/android/support/v4/app/NavUtils.html

We should use this to implement the Up navigation implemented in NavHelp.java.

[2013-06-08 17:35] #37 closed, assigned to barbeau

[2013-06-13 19:36] vuldin opened #59 "Build failed with ant"
I'm using ant to build the project as per the README, but get the following error:

[code]

I see there is a local.properties file in the tests subdirectory which has a comment saying it should not be commited to the repo. What are the steps for building the project with ant? Thanks!

[2013-06-13 19:39] vuldin opened #60 "Enhancement: distribute app via f-droid or some other method besides Google Play"
I would like to see if it would be possible to have this app be made available outside of Google Play? This is an important app on my phone, and having it available to install outside of Google Play would go far towards not having gapps on my device. Thanks!

[2013-07-30 06:46] bbodenmiller opened #61 "reduce permission requests"
i don't see any reason why the play store version needs a number of these testing permissions:
- mock location sources for testing
- phone status and identity
- run at startup - why?
- test access to protected storage
- view network connections
- prevent tablet from sleeping

[2013-07-30 06:54] bbodenmiller opened #62 "zoom to current location on startup"
would like to see the app zoom to the current location on startup.

[2013-07-30 06:55] bbodenmiller opened #63 "Display different icon for rail stops"
would like to see the rail stops display a different icon like oba iphone does.

[2013-07-30 17:50] #61 closed, assigned to nobody

[2013-07-30 17:52] #62 closed, assigned to nobody

[2013-07-30 22:10] barbeau opened #64 "Update from original Location API to Google Play Services Location Services"
The old Location API is now outdated by Google Play Services Location Services (available on Android 2.2 and up):
http://developer.android.com/training/location/retrieve-current.html

The old Location.getLastKnownLocation() can be buggy on some devices, resulting in the app not getting a location fix quickly and users needing to wait for a new location update, or worse, providing a wrong location

[2013-08-02 18:04] barbeau opened #65 "Show Twitter URL of the currently selected region"
Right now the Twitter URL is hard-coded to Puget Sound.  The Regions API was just recently updated to include a Twitter URL for each region.  We should display the Twitter URL for the region in the app when a region is selected, and default to the hard-coded version when a custom URL is selected.

[2013-08-03 15:56] #65 closed, assigned to barbeau

[2013-08-05 15:16] JonathanR33D opened #67 "Add an option to show favorites rather than map as main screen"
Would it be too much of an issue for you to QUICKLY implement a feature allowing users to jump directly to the "favorites" (starred bus routes and locations) section upon opening the app? 

I hate having to clutter my Android desktop with a bunch of nearly redundant icons, all for the sake of getting quicker access to route information. 

I need this particular feature ASAP. 
Now later on it would

[2013-08-09 23:05] paulcwatts opened #68 "NPE in RegionUtils"
There's an NPE happening in the wild here:

https://github.com/OneBusAway/onebusaway-android/blob/master/src/com/joulespersecond/oba/region/RegionUtils.java#L81

I suspect that the null pointer that's causing it is the fact that getDistanceAway() returns a Float but the return value being assigned to a float. getDistanceAway() can return null if region.getBounds() is null.

Nothing else on that li

[2013-08-09 23:06] paulcwatts opened #69 "IllegalArgumentException: Location must be a valid location"
Happened a couple times in the wild. v1.6.0.

java.lang.IllegalArgumentException: Location must be a valid location
at com.joulespersecond.oba.region.RegionUtils.isLocationWithinRegion(RegionUtils.java:195)
at com.joulespersecond.oba.region.RegionUtils.isLocationWithinRegion(RegionUtils.java:219)
at com.joulespersecond.seattlebusbot.map.StopMapController.onLoadFinished(StopMapController.java:245)

[2013-08-09 23:08] paulcwatts opened #70 "NPE in ObaRoutesForLocationRequest.Builder"
Haven't gotten to investigate this. It only happened 5 times this week.

java.lang.RuntimeException: An error occured while executing doInBackground()
at android.support.v4.content.ModernAsyncTask$3.done(ModernAsyncTask.java:137)
at java.util.concurrent.FutureTask$Sync.innerSetException(FutureTask.java:274)
at java.util.concurrent.FutureTask.setException(FutureTask.java:125)
at java.util.concurren

[2013-08-12 16:17] #33 closed, assigned to nobody

[2013-08-20 16:05] barbeau opened #71 "Allow app to be moved to external storage"
Requested by a Tampa user.

According to the [Android developer docs](http://developer.android.com/guide/topics/data/install-location.html), you can simply add an element to the manifest:

[code]

or...

[code]

...to enable this.

This is available on API Level 8 (Android 2.2) and higher, and our current minSdkLevel is 8, so it would be available to all OBA Android users in the current version of

[2013-08-30 20:08] paulcwatts opened #72 "Confusing issue around a custom API server"
I had thought we decided to have the custom API server be a URL, rather than a server. However, in this commit:

https://github.com/OneBusAway/onebusaway-android/commit/1af64030e65cf411b3bb5fea3bfc2180500fc41d#src/com/joulespersecond/oba/ObaContext.java

The custom URL is being prepended with "http://", so you still add just a server name. What's worse, since it's actually not _joined_ as a server

[2013-09-06 22:00] #70 closed, assigned to paulcwatts

[2013-09-06 22:01] #68 closed, assigned to paulcwatts

[2013-09-06 22:02] #69 closed, assigned to paulcwatts

[2013-09-09 17:01] barbeau opened #76 "Clarify "There are no upcoming arrivals" message"
Currently, according to the [OBA REST API docs for arrival times](http://developer.onebusaway.org/modules/onebusaway-application-modules/current/api/where/methods/arrivals-and-departures-for-stop.html), the API only returns arrivals for the next 35 minutes by default.

If a bus is estimated to arrive in 36 or more minutes from now, OBA Android displays a message:
`There are no upcoming arrivals at

[2013-09-09 19:17] #76 closed, assigned to barbeau

[2013-09-11 17:35] #51 closed, assigned to nobody

[2013-09-12 20:52] #72 closed, assigned to nobody

[2013-10-01 14:08] barbeau opened #82 "Provide stop schedule info"
From discussion in https://github.com/OneBusAway/onebusaway-android/issues/26#issuecomment-25445699, related to showing arrival times for buses in the future:

We would like to be able to provide info within the app via a new Android Activity/Fragment to allow users to access the schedule for a specific stop. Looks like the REST API method for [`schedule-for-stop`](http://developer.onebusaway.org/

[2013-10-25 01:27] bbodenmiller opened #85 "Submit to Amazon App Store."
Interesting [request from a Twitter user](https://twitter.com/jordanaaking/status/392781354561052672) to upload this application to the Amazon App Store.

[2013-10-25 01:29] #85 closed, assigned to nobody

[2013-10-25 07:36] bbodenmiller opened #86 "Add support for amazon maps api on amazon app store version"
Convert app to use [Amazon Maps API](https://developer.amazon.com/sdk/maps.html) when installed on a Kindle Fire. Related to #85.

[2013-11-02 15:24] #26 closed, assigned to nobody

[2013-11-02 15:38] #38 closed, assigned to paulcwatts

[2013-11-04 20:29] barbeau opened #87 "Migrate to Gradle build process and Android Studio"
Details on process here:
http://developer.android.com/sdk/installing/migrate.html

But there are a lot of issues getting to work properly when including a library project such as ActionBarSherlock.

Here's the best resource I've found yet to get everything working properly:
http://stackoverflow.com/a/16639227/937715

[2013-11-09 18:23] #87 closed, assigned to nobody

[2013-11-09 18:26] #59 closed, assigned to nobody

[2013-11-26 19:56] barbeau opened #89 "Add support for experimental servers"
As discussed on the [OBA dev list](https://groups.google.com/forum/#!topic/onebusaway-developers/xxkBT8GN_PY), we'd like to support experimental servers in the OBA apps.

This would involve:
1. Consuming a new `experimental` boolean value for each region from the Regions API
2. Only using servers with `experimental` set to `false` AND `active` set to true, by default
3. Allowing the user to opt-in

[2013-12-15 19:17] #89 closed, assigned to barbeau

[2014-01-12 17:45] paulcwatts opened #94 "NullPointerException at com.joulespersecond.seattlebusbot.ArrivalsListFragment.onLoadFinished(ArrivalsListFragment.java:258)"
Unknown repro.
Version 1.6.4
This is the only crash with any "large" reporting (13 reports this week):

java.lang.NullPointerException
at com.joulespersecond.seattlebusbot.ArrivalsListFragment.onLoadFinished(ArrivalsListFragment.java:258)
at com.joulespersecond.seattlebusbot.ArrivalsListFragment.onLoadFinished(ArrivalsListFragment.java:61)
at android.support.v4.app.LoaderManagerImpl$LoaderInfo.cal

[2014-01-17 22:31] #94 closed, assigned to nobody

[2014-01-21 21:15] barbeau opened #97 "Add code style guide and template"
As discussed [here](https://github.com/OneBusAway/onebusaway-iphone/issues/246#issuecomment-32907797), we'd like OBA Android to follow similar code style guidelines as Android itself:
http://source.android.com/source/code-style.html

We can use the AOSP style guide template for IntelliJ from latest Android code with Android Studio:
https://android.googlesource.com/platform/development/+/master/ide

[2014-01-25 18:41] #97 closed, assigned to nobody

[2014-01-28 15:54] barbeau opened #99 "Android code template removes leading spaces for string plurals"
Two manifestations:
1. There is a missing space in the Toast that is displayed to the user when they tap on "Load more arrivals" and there are no additional arrivals in the next X hours
2. "Departed8 minutes late".

![device-2014-01-28-105414](https://f.cloud.github.com/assets/928045/2020635/7c9dd03c-8834-11e3-8a2f-aaa2bb4bad1a.png)

[2014-01-29 22:43] barbeau opened #101 "Change "X minutes delay" text?"
The current plural subtext that indicates how late a bus is running is phrased as "X minutes delay", to match the "X minutes early" text:

![image](https://f.cloud.github.com/assets/928045/2035130/b74013a6-8935-11e3-8183-52727c5271bc.png)

This doesn't sound natural to me.  IMO, more natural plural alternatives would be:
1. "X minutes delayed"
2. "X minute delay"

@paulcwatts Do you have strong fe

[2014-01-29 22:45] #99 closed, assigned to barbeau

[2014-02-10 14:29] barbeau opened #103 "Add support for StopInfo project to help blind riders to better locate bus stops"
More info about the StopInfo project on OBA Dev list [here](https://groups.google.com/forum/#!topic/onebusaway-developers/PKHS8MtAuO0).

PR that added this feature to OBA iPhone:
https://github.com/OneBusAway/onebusaway-iphone/pull/245

To implement this, we'd need to:

1. Consume StopInfo server url from Regions API
2. Show info button on arrival info fragment, if the StopInfo url is not null for

[2014-02-14 17:31] barbeau opened #104 "Reminder notifications are triggered again after being dismissed"
From Google Play (Galaxy S4 (jfltevzw)):

I recall a few others user reporting this too.

[2014-02-14 21:49] barbeau opened #105 "Add Google Analytics"
As discussed in https://github.com/OneBusAway/onebusaway-iphone/issues/263#issuecomment-35123537, we'd like to add Google Analytics to both the OBA iOS and Android apps to have better information about how they are being used.  As recommended in [GA Best Practices](https://support.google.com/analytics/answer/2587087), we plan to use the same property for both apps:

If you’ve developed the same ap

[2014-02-14 22:49] barbeau opened #106 "Add distance limiter to automatic region selection"
In OBA iOS, there is a [100 mile distance limiter](https://github.com/OneBusAway/onebusaway-iphone/issues/243#issuecomment-32624720) placed on automatic region selection.  In other words, if the device is detected as being more than 100 miles from the closest OBA region, then automatic selection is aborted and the user is prompted to manually select the region.

I'd like to implement this in Andro

[2014-02-16 03:42] barbeau opened #107 "Add "Android" to "Contact Us" email subject"
Now that [OBA iOS is including info footer in feedback emails](https://github.com/OneBusAway/onebusaway-iphone/pull/265), we should add the word "Android" to the subject line of OBA Android feedback email to allow clear distinction between the two sources.

[2014-02-17 15:47] barbeau opened #108 "Persist state of "Show routes" between app executions"
From Atlanta user:

I would imagine screen real-estate on small screen devices is probably why "Show routes" is hidden by default, and I don't think we should change the default behavior.  However, seems like it would be a good idea to keep whatever state the user last selected.

[2014-02-17 16:44] #107 closed, assigned to nobody

[2014-03-31 17:02] barbeau opened #112 "Add continuous integration via Travis CI build server"
@paulcwatts I noticed your Travis branch here:
https://github.com/OneBusAway/onebusaway-android/tree/Travis

...and account on Travis CI:
https://travis-ci.org/OneBusAway/onebusaway-android

Thanks for working on this, its been on my TODO list for a while but I haven't gotten around to it.  Adding the issue here to track progress, as I might have more time to work on this soon ((also for posterity

[2014-04-04 15:33] #112 closed, assigned to nobody

[2014-04-15 20:10] barbeau opened #116 "OneBusAway Glassware - native GDK version"
I've been working on a GDK (native) version of OBA Glassware lately, and I now have a working alpha version to share.  I'm opening this issue so we can track implementation for the GDK version separately from the Mirror API version (https://github.com/OneBusAway/onebusaway-application-modules/issues/60).

Code for this is now available via a WIP PR - https://github.com/OneBusAway/onebusaway-androi

[2014-05-02 02:04] #101 closed, assigned to nobody

[2014-05-05 18:14] barbeau opened #120 "Add "Vehicle Info" option to provide arrival list/map for a single vehicle"
From a former OBA iPhone user:

If we want feature parity with OBA iPhone we should add this feature.

[2014-05-15 13:50] barbeau opened #126 "Port number is removed from custom API URLs"
Reported in:
https://groups.google.com/forum/#!topic/onebusaway-users/cMu16WnoBmU

If you enter a custom URL such as `mydomain:8080`, on Android 4.4.2 (Samsung Galaxy S3) the resulting URL reported by `ObaDefaultConnection` in log is `mydomain:/api/where/arrivals-and-departures-for-stop/Hillsborough%20Area%20Regional%20Transit_7688.json?minutesAfter=35&app_ver=35&app_uid=7f94aad2d459467baab0b37622

[2014-05-16 21:41] barbeau opened #130 "Tests are broken after update to Android Gradle plugin 0.9"
The update to Android Gradle plugin 0.9 requires renaming the test folder, which we haven't done yet.  Per http://tools.android.com/tech-docs/new-build-system/migrating_to_09:

[2014-05-18 23:32] #126 closed, assigned to barbeau

[2014-05-20 21:57] barbeau opened #132 "URL formatting issues for region base URLs"
OBA Android currently doesn't handle the following URLs correctly, when they are set as region base URLs:
- http://api.pugetsound.onebusaway.org - No trailing `/` - trailing `/` is required per OBA Server Directory, but we should still handle this in case someone accidentally omits the trailing `/`.  Unit tests added in #131 fail when comparing URI host with `expected:<...sound.onebusaway.org[]> b

[2014-05-24 18:02] #130 closed, assigned to barbeau

[2014-05-24 18:04] #132 closed, assigned to barbeau

[2014-05-26 08:52] bbodenmiller opened #136 "Show stop button centers on users current location"
Selecting the show stop on map button on the stop arrivals view briefly centers the map on the stop location and then recenters the user on their current location. I think it would be more useful to leave the map centered on the stop location until the user takes an action.

Same issue seems to appear when selecting the show route on map button.

[2014-05-27 15:24] barbeau opened #137 "Run tests on Travis CI"
Now that the tests are working (#130), we should run the tests for every Travis CI build.  As discussed in the [Android Gradle plugin docs](http://tools.android.com/tech-docs/new-build-system/user-guide#TOC-Running-tests), tests are run using `gradlew connectedCheck`.

Here's [an example script](https://github.com/gildegoma/android-tdd-playground/blob/welcome-android-on-travis/.travis.yml) excerpt

[2014-05-28 15:18] #137 closed, assigned to nobody

[2014-06-30 19:54] barbeau opened #145 "Travis builds are failing"
Travis build:
https://travis-ci.org/OneBusAway/onebusaway-android/builds/28670672

...failed with these messages:

[code]

It appears that the Android SDK license has changed with the release of L preview:
https://twitter.com/travisci/status/482255297738985473

Here's an example of the new license to include:
https://gist.github.com/BanzaiMan/545cf6d6fe9639c7c7cd#file-travis-yml-L9

Here's the Tra

[2014-07-17 15:15] barbeau opened #151 "AlarmReceiver Intent actions in manifest don't match constants defined in TripService"
As mentioned in https://github.com/OneBusAway/onebusaway-android/issues/104#issuecomment-49053656, the current Intent actions for the AlarmReceiver in the AndroidManifest.xml don't match the constants defined in TripService.

If I understand the general design of AlarmReceiver and TripService correctly, this means that an external app could never actually invoke the TripService via an Intent, sinc

[2014-07-19 15:39] #64 closed, assigned to barbeau

[2014-07-21 20:18] #151 closed, assigned to nobody

[2014-07-21 20:19] #104 closed, assigned to nobody

[2014-07-23 21:59] barbeau opened #155 "UI re-design"
As part of the current work I'm doing on OBA Android, I'd like to refresh the UI a bit to bring it in line with modern Android UI components/design (especially [the bottom sliding drawer](http://stackoverflow.com/questions/16680985/a-library-for-a-sliding-up-drawer-similar-to-new-google-music-and-rdio) used in apps such as Google Maps).  In particular, I'd like to make the main ways of viewing sto

[2014-07-25 21:06] barbeau opened #157 "Add Feature Graphic to Google Play"
I saw this comment in the Google Play Developer console today:

Feature Graphic requirements:

[2014-07-29 16:21] paulcwatts opened #158 "Support for the Amazon Fire phone"
I have no idea what this entails, other than perhaps fixing #86 and getting approved in the Amazon App store.

[2014-07-30 13:35] barbeau opened #159 "Add Finnish translation"
Discussed here:

https://groups.google.com/forum/#!topic/onebusaway-developers/IIbTIlv85L4

I made changes to two files: strings.xml and arrays.xml.

[2014-07-30 19:04] barbeau opened #160 "Add ICLA to readme"
Following discussions [on the OBA developer list](https://groups.google.com/forum/#!topic/onebusaway-developers/-Iq8q_SruBs) and OBA Board discussions, we have a general consensus that an ICLA should be signed by 3rd party contributors.

Here's the click-to-accept ICLA as a Google Doc Form:
https://docs.google.com/forms/d/12jV-ByyN186MuPotMvxJtNKtSaGGTnEHm8rXomM2bm4/viewform

[2014-07-31 14:31] #145 closed, assigned to barbeau

[2014-08-02 16:36] #160 closed, assigned to nobody

[2014-08-11 14:28] barbeau opened #162 "Use `FusedLocationApi` instead of `LocationClient` for Location"
Not sure when this happened, but for Google Play Services apparently the `LocationClient` is now deprecated:
https://developer.android.com/reference/com/google/android/gms/location/LocationClient.html

...and we should be using `LocationServices.FusedLocationApi` instead:
https://developer.android.com/reference/com/google/android/gms/location/LocationServices.html#FusedLocationApi

As of the creat

[2014-08-11 16:13] barbeau opened #163 "Add option to change preferred distance units (metric, imperial)"
Discussed here, in context of adding a Finnish translation:

https://groups.google.com/forum/#!topic/onebusaway-developers/IIbTIlv85L4

Finnish translation is ticketed in https://github.com/OneBusAway/onebusaway-android/issues/159.

[2014-08-11 20:31] barbeau opened #165 "Build fails w/ Android SDK "Google Repository" v11"
If you update the Android SDK to "Google Repository" v11 and Google Play services v19, the build will fail since it can't find `com.google.android.gms:play-services:5.0.77`.

According to:
http://tools.android.com/knownissues
https://groups.google.com/forum/#!msg/adt-dev/NPCx-2udgDk/A3-kMSjeJHAJ

...Google found critical bugs in Google Play services v5.0.77 and yanked the published artifact from t

[2014-08-12 14:05] barbeau opened #167 "Update Travis config to explicitly reference required components"
Travis now recommends that you explicitly specify required components:
http://docs.travis-ci.com/user/languages/android/#Pre-installed-components

The downside of explicitly referencing components is that this can significantly increase the Travis build times, since components are installed at run-time instead of using preexisting images with common components already installed.  As seen in https:

[2014-08-12 21:19] barbeau opened #168 "Exception when changing orientation of map view"
The below exception is thrown internally (so the user never sees it, nor does the app crash) with orientation changes:

[code]

I missed a Bundle cast when I refactored map zoom from an `int` to a `float`.  I'll submit a PR for this shortly.

[2014-08-13 20:24] barbeau opened #171 "Show stop_code inside the app"
We're increasingly finding that seeing the Stop IDs somewhere (subtlety) in the app would be extremely useful for debugging issues, both in having users tell us which stops they had problems at, as well as immediately seeing Stop IDs ourselves during testing.

[OBA iOS](https://itunes.apple.com/us/app/onebusaway/id329380089) shows the Stop ID as part of the arrival list header:

![image](https://c

[2014-08-17 02:43] #163 closed, assigned to nobody

[2014-08-17 02:44] #168 closed, assigned to nobody

[2014-08-17 02:44] #136 closed, assigned to nobody

[2014-08-18 18:35] barbeau opened #172 "Support re-branding/white-labeling without forking project"
This has come up multiple times - people want to deploy OBA Android for their own transit agency, but want to re-brand it with colors/logos and even custom icons and Google Play store listings.  It would be nice to be able to support re-branding within the application, without forking the project.  This way everyone continues to benefit from improvements to the app.

I see two possible solutions:

[2014-08-23 16:21] #165 closed, assigned to nobody

[2014-09-13 18:38] #157 closed, assigned to nobody

[2014-09-18 14:09] barbeau opened #176 "Show bus position on map, either simulated or using real-time data"
I just opened this ticket on iPhone as well (https://github.com/OneBusAway/onebusaway-iphone/issues/320), but I wanted to mirror here so we have a reference specific to Android as well.

This was something that @caitbonnar and @jrharshath discussed the other day, and I wanted to capture some info/links related to this.

We have all the data we need to simulate the bus position based on a particula

[2014-09-23 03:28] paulcwatts opened #178 "Shortcuts are dependent on the region"
From a user:

Shortcuts on Android are dependent upon the currently selected region. Suggested fix: include region as part of shortcut. Alternate fix: display currently selected region in "shortcut out of date?" error message.

repro steps:
1. create shortcut to a bus stop in Puget Sound region, place on home menu
2. Travel to Houston, accidentally launch OneBusAway, have it automatically update t

[2014-10-02 21:29] caitbonnar opened #179 "Crash on bookmark editing"
Was going through the Testflight crash logs, and found one that appears to have been occurring while the users edit bookmarks. Here's the log:

![crashlog](https://cloud.githubusercontent.com/assets/4627278/4498759/20a64746-4a7b-11e4-9556-23c6a3d119f9.png)

@Wizecoder, can you take a look? Fortunately it isn't occurring too often, and as far as I know we haven't had any reports, but there have sti

[2014-10-02 21:30] #179 closed, assigned to nobody

[2014-10-03 18:28] barbeau opened #180 "Hide "Contact Us" when custom API is set"
Currently, if you tap "Contact Us" menu option while having a custom API set, the app does nothing (just returns to map view) and provides no message.  We should add an informational message saying that no contact information is available because a custom API is set (contact information for each region comes from the Region API).

[2014-10-06 13:40] barbeau opened #181 "Add Android Wear support"
Requested by a user.

For adding support for existing notifications, see:
https://developer.android.com/training/wearables/notifications/index.html

[2014-10-10 20:16] barbeau opened #183 "Refactor core package to "org.onebusaway.android""
Some history - OneBusAway Android used to be "Seattle Bus Bot".  @paulcwatts graciously donated his work to the OneBusAway project and it became the official Android client to OneBusAway.

There are still some remnants of this former identity within the project.  For example, the core package of the app is "com.joulespersecond", with the app then split between UI elements from the app's former ide

[2014-10-15 14:35] barbeau opened #184 "Notify me with an arrival time when I'm near favorite stops"
Requested by a few users here in Tampa.  When the user nears a favorite stop, OBA should pop up a notification with real-time arrival info for that stop.

We should be able to do this in an energy-efficient manner using [Geofences in Google Play Services](http://developer.android.com/training/location/geofencing.html), since the proximity detection is offloaded to hardware.  We should notify a use

[2014-10-16 16:17] #42 closed, assigned to nobody

[2014-10-16 16:24] barbeau opened #185 "Crash when starting and then navigating away from HomeActivity"
See in production versions 1.6.4 and 1.6.5 on Google Play, via Developer Console (225 reports over 5 months).

Based on user comments, seems to happen when launching and then immediately exiting OBA.  From a quick look at the stacktrace, it appears that the task to select the region is still running in the background and attempt to access the Activity after it is paused/destroyed.

[code]

[2014-10-16 16:26] barbeau opened #186 "NPE when tapping on "Show Arrivals" on map to show arrival activity"
Seen in production version 1.6.5 on Google Play via Developer Console, (46 reports over the last 5 months)

Entire structure of this process is changing in UI redesign (#155), but we should still investigate to try and figure out why it was happening.

[code]

[2014-10-17 17:11] cagryInside opened #187 "Improve issue reporting"
Summary:  To provide some background – in Tampa, HART has gotten a large amount of feedback from transit riders via OneBusAway.  However, they lack good infrastructure to triage/manage these issues, both because of the multi-departmental administration of OBA, as well as issues that cross jurisdictions and may not relate to HART infrastructure.  Therefore, cross-departmental and cross-agency commu

[2014-10-21 22:41] #186 closed, assigned to nobody

[2014-10-21 22:42] #185 closed, assigned to nobody

[2014-10-27 16:56] barbeau opened #190 "Change beta testing group structure"
I'd like to change the beta testing group structure with the goal of:

1. Getting us more beta testers to more thoroughly test production-ready releases
2. Providing alpha releases to other OBA developers via a new alpha channel

Currently, to sign up for OBA betas you have to be a member of the [onebusaway-developers group](https://groups.google.com/forum/#!forum/onebusaway-developers).  IMO, thi

[2014-10-28 19:23] jrharshath opened #191 "Add address search"
It seems like the search bar on the OBA app does not support searching for addresses.

My hunch is that users expect the search to work like search works on google maps. I suggest that when an address is searched for, the map pans and zooms to that address, and shows the bus stops close to that address.

[2014-11-13 21:35] barbeau opened #193 "Increase stop search radius parameter"
This is really an extension of https://github.com/OneBusAway/onebusaway-android/issues/42.  In https://github.com/OneBusAway/onebusaway-android/pull/182, in my implementation I increased the route search radius, but not the stop search radius (and, I mislabeled the PR title).  We should expand the stop search radius to match.

[2014-11-14 18:06] #193 closed, assigned to nobody

[2014-11-20 15:32] barbeau opened #195 "Error when dismissing dialog from ObaRegionTask (AsyncTask)"
Here's the stack trace, which has happened 28 times according to Google Play (mainly on older devices (Android 2.3 had this 16 times):

[code]

[2014-11-20 21:32] #195 closed, assigned to nobody

[2014-11-26 21:24] #167 closed, assigned to nobody

[2014-12-15 17:06] #162 closed, assigned to nobody

[2014-12-15 17:06] #183 closed, assigned to nobody

[2014-12-15 17:08] #56 closed, assigned to nobody

[2014-12-16 15:28] #67 closed, assigned to nobody

[2014-12-19 22:56] barbeau opened #200 "Add support for ride-hailing/TNC apps"
We should take a look at this.  For example, the Uber API is showing up in all kinds of apps, from Google Maps, to the Transit App, to MARTA's app.  Here's the API to check out for Uber specifically:
https://developer.uber.com/

It would be nice to support more than one vendor if possible.

[2015-01-07 22:24] barbeau commented on #105
@cagryInside is currently working on this.  As mentioned earlier, we’d like to capture a metric for how far the user is in real-time from their bus stop when they check the arrival time.  For example, is the user waiting at the bus stop when they check the time, or from a more distant location (e.g., work, coffee shop)?  Does this differ depending on the stop?

To do this in a privacy-sensitive ma

[2015-01-07 22:28] barbeau commented on #105
Above question also posted to oba-dev and users lists:
https://groups.google.com/forum/#!topic/onebusaway-users/bWe1nWm_gwI
https://groups.google.com/forum/#!topic/onebusaway-developers/bWe1nWm_gwI

[2015-01-08 19:19] bbodenmiller commented on #105
Are you planning on collecting this information using Google Analytics?
Before you go through all the effort of wiring this up using GA I'd be sure
to check that GA allows you to crunch the numbers or export the way you'd
like to.

If you are going through the effort I think creating another bucket for
everything outside the "FAR" category would be good also. This might show
other unusual usage pa

[2015-01-08 21:46] barbeau commented on #155
So here's a shot at a small pointy end on the circular stops to represent travel direction, but still using the red marker to denote the selected stop.  Largely inspired by how Google Maps represents orientation on the blue real-time location dot.  Thoughts?

![oba-circlestopmarkerwithdirection-50](https://cloud.githubusercontent.com/assets/928045/5671393/8d98747e-9755-11e4-9568-e4ca54e9fd48.png)

[2015-01-08 21:55] caitbonnar commented on #155
@barbeau Definitely agree with @jrharshath about the directionality. The screenshot you just posted looks good. :-)

Sorry for not responding to your previous comment about contrast! The star outline is still a bit tough to distinguish, but everything else looks good!

[2015-01-08 22:00] barbeau commented on #155
@caitbonnar Thanks!  Yes, I should have specified that I haven't touched the star or header organization yet - that will change a bit still based on past feedback.

[2015-01-08 22:03] caitbonnar commented on #155
@barbeau Sounds good. :-) Looking forward to the final result!

[2015-01-08 22:36] bbodenmiller commented on #155
With the new icon is there a way to differentiate bus stops from train
stops?
On Thu, Jan 8, 2015 at 2:03 PM Caitlin Bonnar <notifications@github.com>
wrote:

[2015-01-08 22:43] barbeau commented on #155
@bbodenmiller We lose that ability on the map when changing to the simplified circular icon.  It's definitely a tradeoff - cleaner and simpler icons like the plain circle lose some information along the way.  I'm hoping, though, to somehow keep that info in the header.  For example, currently there is a bus icon representing the next bus arrival - it would be a train if the next arrival was a trai

[2015-01-09 14:37] barbeau commented on #155
Another option to display different modes would be to enlarge the icon for train/rail stops.  Do you have  a stop ID that I could test this with in Puget Sound that has train/rail arrivals?  We only have bus in Tampa.

[2015-01-09 14:58] barbeau commented on #105
Before you go through all the effort of wiring this up using GA I'd be sure
to check that GA allows you to crunch the numbers or export the way you'd
like to.

@bbodenmiller Yes, @cagryInside has been working with a PoC for this with Google Analytics, and it seems to work as expected.  The buckets are essentially treated as arbitrary labels and can be sliced/diced as desired.

Thanks for the examp

[2015-01-09 15:07] barbeau commented on #105
One other challenge I should mention related to capturing and using altitude - on Android, the only location accuracy value we have is [horizontal accuracy](http://developer.android.com/reference/android/location/Location.html#getAccuracy()).  We do not have a comparable vertical accuracy value.  So, given the current Location APIs on Android, determining whether or not an altitude value from a de

[2015-01-09 19:48] bbodenmiller commented on #155
#455 has both bus & train. #99905 has just trains.
On Fri, Jan 9, 2015 at 6:38 AM Sean Barbeau <notifications@github.com>
wrote:

[2015-01-12 15:26] barbeau commented on #155
Looking at the [REST API response](http://api.pugetsound.onebusaway.org/api/where/arrivals-and-departures-for-stop/1_99905.json?key=TEST) for stop 99905, "train" routes in Puget Sound have `type=0`:

[code]

...and bus routes have `type=3`:

[code]

So, "train" is classified under [GTFS route_type category](https://developers.google.com/transit/gtfs/reference#routes_fields) for:

[2015-01-12 23:17] barbeau commented on #158
So I believe we have two main items we need to overcome to port to Fire Phone:
* Maps API (v1 for master branch, and v2 for develop branch)
* Google Play Services Location Services
  *  One-shot location requests (master and develop branches)
  *  Ongoing location updates (develop branch only - we needed to add this for showing real-time location on Maps API v2)

**Maps:**

Maps API v1 and v2 requ

[2015-01-13 16:37] barbeau commented on #158
Amazon says:

I don't think this is correct, though.  I believe Play Services stubs from the Play Services library (specified via the Gradle dependency) are bundled with the project, hence the availability of the `GooglePlayServicesUtil.isGooglePlayServicesAvailable()` method, which I assumes tries to do IPC with Play Services, and returns false if this fails.  A quick run of the current develop b

[2015-01-13 16:40] barbeau commented on #158
New problem - for some reason the Amazon Maps API v2 AAR library file is not available via Jcenter or Maven Central.

My question to Amazon:

https://developer.amazon.com/public/apis/experience/maps/docs-v2/configuring-your-project-to-use-the-amazon-maps-api-v2#Referencing the Amazon Maps API Support Library

There is a workaround where we could manually bundle the AAR file in the libs directory,

[2015-01-13 16:49] cagryInside commented on #105
We have implemented the fallowing segmentation hierarchy for  capturing a metric for how far the user is in real-time from their bus stop when they check the arrival time.

   + By region
+ By agency+stop
           + By search distance

In GA interface, we could segment these data.

Here is the results from GA:

Segment by search distance:
![untitled 2](https://cloud.githubusercontent.com/assets/

[2015-01-13 17:23] bbodenmiller commented on #105
What did you guys decide on the distances? Do you know if there is a limit on number of reported events? An event for every stop a user views could be a lot of events.

On iOS we report the users region to GA slightly differently. Since iOS and Android will use the same GA account it would be nice if they reported it the same way so the data can be aggregated together. Once the regions been report

[2015-01-13 17:32] barbeau commented on #158
Well, the [previous workaround](https://github.com/CUTR-at-USF/usf-step-sensor-demo/blob/master/app/build.gradle) I've used to manually bundle the AAR file in the libs directory doesn't seem to work for some reason, and neither does the ["Import AAR"](http://stackoverflow.com/a/24894387/937715) option in Android Studio.  Will have to investigate further...

[2015-01-13 17:35] cagryInside commented on #105
We also implemented exact same region reporting mechanism with IOS. This is an extra event for reporting distance.

Here is our latest study on distance:
![image](https://cloud.githubusercontent.com/assets/2777974/5725386/6d003c78-9b20-11e4-997a-3690915da08d.png)

Average walking speed from Wolfram Alpha
Average biking speed from Wikipedia

[2015-01-13 17:42] barbeau commented on #105
@cbrakewood or @kariwatkins - at the OBA Annual Meeting you mentioned a reference for past research on how far (on avg) transit riders were willing to walk to use public transportation.  Could you share those, so we can tweak the above Google Analytics distance thresholds based on past research?

[2015-01-13 18:04] barbeau commented on #86
We have a more extensive discussion of this as part of #158, so I'm going to close this as a duplicate of that issue.

[2015-01-13 18:04] #86 closed

[2015-01-13 20:04] barbeau commented on #63
Mentioned in https://github.com/OneBusAway/onebusaway-android/issues/155#issuecomment-69586111:

Looking at the [REST API response](http://api.pugetsound.onebusaway.org/api/where/arrivals-and-departures-for-stop/1_99905.json?key=TEST) for stop 99905, "train" routes in Puget Sound have `type=0`:

[code]

...and bus routes have `type=3`:

[code]

So, "train" is classified under [GTFS route_type cate

[2015-01-13 20:43] bbodenmiller commented on #105
I still think it would be beneficial to have a smaller bucket so you can tell how many people check the schedule while they are at the stop.

[2015-01-13 21:04] barbeau commented on #105
I agree with @bbodenmiller - we will want an "AT STOP" minimum bucket that has something like 30m distance.  My fault, @cagryInside, for not catching that earlier for the above table :).

[2015-01-13 21:06] barbeau commented on #105
I also commented to @cagryInside offline that we might want to change the labels to make it easier to visualize the relative distance category order in GA.  Here's what it currently looks like:

![gatest](https://cloud.githubusercontent.com/assets/928045/5729141/f1273fb6-9b3d-11e4-8e82-8f8a2ecdf2a4.png)

Right now it’s hard to visually identify relative order of fields.

Maybe “1 – AT STOP", "2- C

[2015-01-13 21:13] barbeau commented on #105
From the [Google Analytics Android SDK](https://developers.google.com/analytics/devguides/collection/android/v4/limits-quotas) quota documentation:

I think that should be sustainable, and I doubt that the distance-to-stop metric would push us over the edge, considering that each UI change gets logged - @cagryInside could you please look at this when you're testing to see approx. how many hits we'

[2015-01-14 02:01] cagryInside commented on #105
According to [Google](https://developers.google.com/analytics/devguides/collection/ios/limits-quotas):
[code]

### IOS
Average # of hit per session: 20 (production data)

### Android
On android we are reporting same with IOS + stop distance

Average # of hit per session: 14 (test data)

[2015-01-15 09:57] bbodenmiller commented on #105
What's the reason for including the region as part of the event category? If you go down that route you could theoretically end up with an infinite number of categories which I don't think is desired. I think something along the lines of an event category of `stop_metrics` with event action being the regioncode+stopid and then the event label being `User Distance: 0 - At Stop` would be best. If yo

[2015-01-15 14:39] kariwatkins commented on #105
For walk distance, see TCQSM – pg 4-18 -
http://onlinepubs.trb.org/onlinepubs/tcrp/tcrp_rpt_165ch-04.pdf

Also this paper: https://www.jtlu.org/index.php/jtlu/article/view/308/338

There’s probably more if you need me to do a search.

The rule of thumb I’ve heard is ¼ mile walk to bus stops, ½ mile walk to
rapid transit, 2 mile bike to rapid transit.

It’s probably good to think through if you wan

[2015-01-20 07:59] yaroslavd commented on #158
Hi guys! Any good news on progress? Can't wait to see OBA on the Amazon App Store!

[2015-01-20 14:15] barbeau commented on #158
@yaroslavd Thanks for checking in!  I haven't had a whole lot of time to work on this, but we're getting there gradually.  The largest obstacle is making sure we can properly support both a Google Play and Amazon App Store version going forward.

[2015-01-20 16:18] cagryInside commented on #105
I agree with @bbodenmiller about putting the region name into category.

Here is my simple analysis:
![image](https://cloud.githubusercontent.com/assets/2777974/5820761/29dfa8dc-a095-11e4-83f1-78831455d981.png)

Only question I have is what is the region code and why is it useful? If region code is the region name, since we already implement the region names as secondary dimension, we won't need i

[2015-01-20 16:50] bbodenmiller commented on #105
I'm good with just stop id. I misspoke & meant agency id, not region id. My understanding is that in the Puget Sound King County Metro stop id's in OBA are: 1_stop-id-on-sign (e.g. 1_600) and other agencies are: agencyid_stop-id-on-sign. I was under the impression that other regions were setup the same way so essentially I just meant stop id as OBA tracks it rather than stop id as it is shown on t

[2015-01-20 18:35] barbeau commented on #105
Generally, OBA identifies stops internally as:
`<agency_id>_<stop_id>`

This is how it appears in Puget Sound.

If the GTFS data from an agency doesn't specify `agency_id`, then the format is:
`<agency_name>_<stop_id>`

This is how in appears in Tampa and Atlanta.

In OBA you can also remap the agency_ids if desired (e.g., if two agencies use the same agency_id in their GTFS data).

`stop_id` is t

[2015-01-20 19:40] barbeau commented on #158
I've started work on Amazon Maps API v2 version here:
https://github.com/OneBusAway/onebusaway-android/tree/amazonMapsV2

It currently builds, but will crash when trying to load the map (since its still referencing the Google Map API v2 classes).

Note that to build this requires the manual installation of the Amazon Maps API v2 AAR file to your local Maven repo, as instructed in:
https://develope

[2015-01-20 19:50] barbeau commented on #158
I just bundled the AAR in this project (required for building on Travis), so you can install in your local Maven repo by running:
`mvn install:install-file -Dfile=libs/amazon-maps-api-v2.aar -DpomFile=amazon-maps-api-v2.aar.pom`

[2015-01-20 22:44] barbeau commented on #105
rapid transit, 2 mile bike to rapid transit.

(short walk, long walk, bike, etc) or if you want equally spaced circles
(1000 ft, 2000 ft, etc).  I think the bike distance is important, but that
means that your circles will overlap substantially on most bus lines.  It
seems like you want a circle that represents “station area” (maybe 500
feet), then a short walk distance (1000 feet?) and then 2000,

[2015-01-20 22:53] barbeau commented on #27
A user in Atlanta reported that the network is messing with their device time when connected to a particular tower, which results in some really wacky arrival times (see below).  So, I guess we can't always trust network times either, although hopefully this is an extremely rare situation.  If the tower clock is that off is a miracle that the device and tower can even communicate.

![screenshot_20

[2015-01-21 00:27] cagryInside commented on #105
Thank you @barbeau for pointing out ```<agency_id>_<stop_id>```.

Currently the report looks like this with unique ```stop_id```:

![image](https://cloud.githubusercontent.com/assets/2777974/5829041/3e2586dc-a0da-11e4-8bfe-62259c2cb317.png)

[2015-01-21 09:17] bbodenmiller commented on #105
Since the bucket names seem very subjective why don't we just label them with the distances and let each report make its own assumptions about what the distances mean? Label name's I'm proposing are `formatted as code` below with other information not being part of label and just included here for information purposes. I believe the label name should include both the start and end boundaries of th

[2015-01-21 14:26] barbeau commented on #105
Changing the label names to the distance ranges makes sense to me.  We could probably drop the numeric prefix then, as well.  It would be simpler to add/remove categories in the future if this isn't included in the label.  Does anyone know if there is a way to assign ordinal values to labels so they are sortable in GA, without including the ordinal value in the label itself?

[2015-01-21 14:44] cagryInside commented on #105
There is one other field that we don't use right now. We can assign values to each label and sort them by values.

![image](https://cloud.githubusercontent.com/assets/2777974/5838002/011bd3cc-a152-11e4-9f4a-806868e6bf9f.png)

[2015-01-21 14:48] barbeau commented on #105
@cagryInside Ok, cool, that might work.  Is this changeable within the GA console for each label, or is it set permanently by the reporting client?

[2015-01-21 14:52] cagryInside commented on #105
@barbeau it is set permanently by the reporting client.

[2015-01-21 16:22] bbodenmiller commented on #105
We could add zeros to the label names to make them permanently sortable even as new buckets are added:

* `0000-0050m`
* `0050-0100m`
* `0100-0200m`
* `0200-0400m`
* `0400-0800m`
* `0800-1600m`
* `1600-3200m`
* `3200-∞m`

[2015-01-21 18:19] kariwatkins commented on #105
These look good.  I like the most recent ones Ben proposed with the zeros.
BTW – from a more official walking & biking speed source (FHWA), it appears
that walking speeds are around 1.2 m/s and biking speeds are around 5.6 m/s
on trails.  I didn’t see info about on street biking though.  My personal
experience is that biking on street is about 3 times walking speed.  In sum,
your buckets are good

[2015-01-21 20:00] barbeau commented on #105
Ok, sounds good.  Seems like it would be wise to add one more 0 in the prefix, though, just in case we need to define a bucket above 9,999m (e.g., if horizontal accuracy measurement fails to filter out outliers).  So:

* `00000-00050m`
* `00050-00100m`
* `00100-00200m`
* `00200-00400m`
* `00400-00800m`
* `00800-01600m`
* `01600-03200m`
* `03200-∞m`

Does that sound reasonable?

[2015-01-22 17:10] cagryInside commented on #105
I think, adding fixed labels to distances could be useful.

```User Distance: 00000-00050m```
```User Distance: 00050-00100m```
```User Distance: 00100-00200m```
```User Distance: 00200-00400m```
```User Distance: 00400-00800m```
```User Distance: 00800-01600m```
```User Distance: 01600-03200m```
```User Distance: 03200-∞m```

If we want to see only the metrics for how far the user is in the label

[2015-01-22 18:22] barbeau commented on #105
Yeah, that makes sense too.  Is the event label sortable alphanumerically?
If so, maybe swapping the two would be better, to still allow sorting by
initial distance:
`00000-00050m - User Distance`
On Jan 22, 2015 12:11 PM, "Cagri Cetin" <notifications@github.com> wrote:

[2015-01-22 18:29] cagryInside commented on #105
Yes, labels are alphanumerically sortable.
e.g.:
![image](https://cloud.githubusercontent.com/assets/2777974/5861799/b21179fa-a23a-11e4-98ec-6c1a32c13a36.png)

[2015-01-22 18:36] barbeau commented on #105
Ok, then having the swapped label order makes sense to me.

On a different note -  we probably shouldn't report exact custom server
URLs for privacy reasons, because they  could be IP addresses.  Maybe we
just have a CUSTOM_URL generic name.
On Jan 22, 2015 1:29 PM, "Cagri Cetin" <notifications@github.com> wrote:

[2015-01-22 19:03] bbodenmiller commented on #105
I disagree with this. If the user is using a custom server I believe we should collect the URL so we can see how widely used select custom servers are. We do this currently on iOS. Additionally I just looked through our privacy policy and I don't see anything that collecting those details violates, we mention that IP addresses may be occasionally collected.

[2015-01-22 21:13] barbeau commented on #105
This potentially violates [the personally identifiable information clause](http://tampa.onebusaway.org/p/PrivacyPolicy.action):

If you're running your own OBA server and point the app at it, we're going to see the server name or IP address, if IP is entered, and permanently store this.

@bbodenmiller where is the reference to IP addresses?  I don't see that in the Tampa or Puget Sound privacy pol

[2015-01-22 23:54] bbodenmiller commented on #105
I was reading the privacy policy from the iOS app:

Which I basically took to mean some IP addresses may be logged. Having now looked at each Privacy Policy further you are right it may violate them. I find it hard to believe that all access logs are being deleted every 24 hours.

Collecting user IPs also violates the [Google Analytics Terms of Service](http://www.google.com/analytics/terms/us.htm

[2015-01-23 06:40] cagryInside commented on #105
Here is the GA report test result for latest configuration:
![image](https://cloud.githubusercontent.com/assets/2777974/5870711/c1a17850-a2a0-11e4-811e-bab890f41351.png)

[2015-01-23 06:47] bbodenmiller commented on #105
I don't think it makes sense to put `User Distance:` behind the numbers when all the other GA labels have it in the front & sorting works fine both ways.

[2015-01-23 14:31] barbeau commented on #105
Yeah, good point :).  Not sure what I was thinking.

@cagryInside Can you confirm that the sorting still works with the label first, as originally presented?

[2015-01-23 14:35] cagryInside commented on #105
@barbeau Yes it should work with original configuration as shown in https://github.com/OneBusAway/onebusaway-android/issues/105#issuecomment-71071731

[2015-01-23 14:45] barbeau commented on #105
@cagryInside Ok, great, let's go with that then.

[2015-01-23 14:47] barbeau commented on #105
@bbodenmiller Also - where is the privacy policy for the iOS app?  Is this linked to from within OBA iOS?

[2015-01-23 18:51] barbeau opened #201 "Create a "Donate" link in the mobile app"
This would be for donations to the overall OBA project (not regions), and would direct to this link:
http://onebusaway.org/donate/

Currently the donation account is managed via UW, and used for overall project expenses.

Also ticketed for iOS in https://github.com/OneBusAway/onebusaway-iphone/issues/349.

[2015-01-23 22:05] barbeau opened #202 "Prevent invalid custom APIs from being entered in the app"
We've seen some evidence on iOS that users are entering strange things into the custom API setting (e.g., `seattle wa`), which likely results in the app not working and the user contacting tech support.  We should validate a custom API as a working OBA server prior to accepting it.  This will help developers as well since they will get instant feedback on whether the server they've just entered is

[2015-01-26 19:56] barbeau opened #203 "Travis builds failing with `gradlew... exited with 137`"
Travis builds have been failing intermittently for over a month (see [the history](https://travis-ci.org/OneBusAway/onebusaway-android/builds)).

I initially thought this was something intermittent on Travis's end, but it appears not.

I filed [an issue on Github](https://github.com/travis-ci/travis-ci/issues/3110) with Travis two weeks ago, but no response.  I initially thought it was an issue wi

[2015-01-26 21:14] barbeau commented on #203
Builds on container-based infrastructure seem stable so far (after I got the formatting right), so I'm going to merge https://github.com/OneBusAway/onebusaway-android/pull/206.  I'll re-open if I see the same problem again.  Interestingly, it doesn't seem that builds are running much faster, it may just be that in the container the opportunity for a long-running build to be canceled is greatly red

[2015-01-26 21:15] barbeau commented on #203
Fixed in develop branch

[2015-01-26 21:15] #203 closed

[2015-01-27 18:56] barbeau commented on #158
Another obstacle - per https://github.com/OneBusAway/onebusaway-android/issues/105, we will soon have Google Analytics integrated into OBA Android.

And, per the following link, this isn't available on Amazon devices either:
http://forums.developer.amazon.com/forums/message.jspa?messageID=11294

[2015-01-27 20:01] barbeau commented on #158
Well, maybe analytics isn't an obstacle - response from Amazon:

https://developers.google.com/analytics/devguides/collection/android/v4/

Reading the Google Analytics docs, it seems like this should magically work.

[2015-01-27 22:58] yaroslavd commented on #158
You'd want to be careful about failing gracefully. I sideload Snapchat on
my Fire Phone, and it works, but I do get the message on startup that it
requires Google Services (that I can safely dismiss, and keep using the
app).

On Tue, Jan 27, 2015 at 12:01 PM, Sean Barbeau <notifications@github.com>
wrote:

[2015-01-27 23:02] barbeau commented on #158
@yaroslavd Ok, thanks, good to know.  So you get the notice about Google Services every time you start Snapchat?

[2015-01-27 23:06] yaroslavd commented on #158
Yes, and intermittently after startup (probably when they try to send the
batch). It doesn't say which Google Service it needs, but I can't think of
anything else it'd be other than Analytics. I'd imagine you can check for
presence of Google Analytics before making the call, although I'm guessing.

On Tue, Jan 27, 2015 at 3:02 PM, Sean Barbeau <notifications@github.com>
wrote:

[2015-01-27 23:50] bbodenmiller commented on #158
I don't think it is Google Analytics making this error message as the docs say it can be used without Play Services. I imagine it is likely a result of using Play Services Location APIs.

[2015-01-28 16:16] barbeau commented on #105
Looks like Google has changed their [best practices](https://support.google.com/analytics/answer/2587087), and now recommends using different properties for tracking different platforms of the same app:

If you’ve developed the same app for different platforms (i.e., MyApp for Android and MyApp for iOS), track them in different properties. If you want to see the data together, creating an account

[2015-01-28 17:04] bbodenmiller commented on #105
Hmm. If we do sepetate properties per app it looks like Google Analytics Premium is required for roll up reporting. What app using multiple tracking id's with one being a roll up and the other per app? Based on http://stackoverflow.com/questions/13681345/should-i-use-two-profiles-in-ga-for-tracking-android-and-ios-apps the recommendation definitely changed at some point.

[2015-01-28 19:21] barbeau commented on #105
@bbodenmiller Hmm, good catch on requiring Premium account for rollup reporting.  Recommendation definitely changed, if you look at the first comment on this ticket from me from Feb 2014 the quote says the exact opposite of what the current recommendation is.

Here's the link for multiple trackers for Android:
https://developers.google.com/analytics/devguides/collection/android/v2/advanced#multipl

[2015-01-28 19:58] barbeau commented on #105
Interestingly, if you go to create a new property in GA console, you get this message:

An existing tracking ID can be reused in multiple app versions, app editions, and across platforms. In some cases, one tracking ID can also be used in multiple apps. Using an existing or new tracking ID affects how data appears in your reports.

This in turn links to the best practices guide that tells you to u

[2015-01-28 19:58] cagryInside commented on #105
I agree that there won't be significant performance hit (network usage will slightly increase). On the other hand, we also need to change IOS app.

Since we want to keep the properties clean, we shouldn't touch current IOS property and we should create new property for rolled up reporting version.

| IOS       | Android         |
| ------------- |:-------------:|
| tracker1 (existing property for

[2015-01-28 20:18] barbeau commented on #105
@cagryInside I was thinking of the following, using multiple trackers on both iOS and Android:

| IOS       | Android         |
| ------------- |:-------------:|
| tracker1 (existing property - actually "OBA SmartPhone" with iOS view)    | tracker1 (existing property - actually "OBA SmartPhone" with Android view)|
| tracker2  (rolled up version)    | tracker3 (rolled up version) |

We currently ha

[2015-01-29 07:39] bbodenmiller commented on #105
I agree with @barbeau. I think we should use the existing tracker for the combined tracking (since it has the most complete data) and the two new trackers for platform specific tracking. For the foreseeable future the combined tracker could be used for reporting with the secondary tracker id's preparing for potential Google changes or if the per tracker limits are hit on the combined tracker.

[2015-01-29 15:05] cagryInside commented on #105
@barbeau and @bbodenmiller My only concern is, when we start using existing tracker for the combined tracking, we won't get healthy results for couple weeks (since the IOS is reporting for long time, it will take some time to see good combined results from the android perspective).

[2015-01-30 00:50] bbodenmiller commented on #105
I think that should be fine since the combined tracker still allows filtering by platform.

[2015-01-30 15:24] barbeau commented on #105
@cagryInside and I just discussed this, and given that we have views per platform defined in the main OBA account we should be able to segment per platform ok when using tracker1 on both platforms.  So we're going to proceed with that plan.

I just grabbed two new tracker IDs for the unrolled versions:
* tracker 2 - iOS (unrolled) - **UA-2423527-18**
* tracker 3 - Android (unrolled) - **UA-2423527

[2015-01-30 22:33] bbodenmiller commented on #105
@barbeau can I get access to the new trackers?

[2015-01-30 22:44] bbodenmiller commented on #105
Do we want to use tracker 1 as the default tracker? Or is there an easy way to send this data to multiple trackers?

[2015-01-30 23:15] barbeau commented on #105
@bbodenmiller See https://github.com/OneBusAway/onebusaway-iphone/issues/352#issue-56050282 for a link to iOS multiple tracker implementation details.  Probably best to continue iOS conversation on that thread.  Just added you to view new trackers, let me know if you can't see them.

[2015-01-31 03:50] barbeau commented on #158
Looked at this port a bit more this evening, including building with different Gradle build flavors.

One thing I haven't been able to get around is the following build errors, which appear using the amazonMapsV2branch:
[code]

...and a bunch more related to the Material style from the support library.  This seems to be the issue:
http://stackoverflow.com/questions/26431676/appcompat-v721-0-0-no-r

[2015-02-04 04:42] barbeau commented on #158
Per Amazon, apparently Fire Phone SDK is only required as `compileSdkVersion` if you use Fire Phone-specific APIs.  So, we can use `compileSdkVersion 21`, which fixes the above issue.

[2015-02-05 16:25] barbeau commented on #158
amazonMapsV2 branch is now properly configured with Gradle build flavors to build either Amazon or Google versions of the app (see "Build variants" window in Android Studio).

I also registered the debug keystore with Amazon, so the app now runs on the Fire Phone and I can see the map (an aside - apparently no API key is necessary, registering the applicationId and debug keystore with Amazon is en

[2015-02-05 22:36] barbeau commented on #158
Ah - I think 1) above is a side effect of 4).

[2015-02-05 23:05] barbeau commented on #158
Fixed 1) and 4), and got the Maps V2 / bus stop loading stuff to work:

![amazonmapsapiv2-small](https://cloud.githubusercontent.com/assets/928045/6071135/a0ff83ba-ad60-11e4-973f-a36b5cb7dd3f.png)

However, for some reason real-time location doesn't seem to be working.  So, here's remaining issues I've noticed so far:

1.  **Floating Action Button for MyLocation covers the zoom in/zoom out buttons

[2015-02-06 20:37] barbeau commented on #158
So for 3) real-time location I forgot that the location update mechanism was different for Maps API v2 real-time position, and right now that's being driven only by Fused Location Provider, which isn't available on Amazon devices, which is why we're not seeing any updates.  The solution is to add monitoring for both Location API v1 and Fused Provider in BaseMapFragment, which should help for any p

[2015-02-06 20:45] barbeau commented on #158
And, I believe 1) zoom controls covering FAB fixed itself when I fixed the "install Google Maps" message/setup.

So, given that 2) and 3) are technically not Amazon-specific issues, we should be ready to merge this into develop.  I'll work on squashing the commits and pushing into the PR.

[2015-02-06 21:28] barbeau commented on #158
Fixed for develop branch in https://github.com/OneBusAway/onebusaway-android/pull/208.  Now I need to figure out if its worth back-porting to master, or if we just target the first Amazon release when the develop branch reaches release.

[2015-02-06 21:54] bbodenmiller commented on #158
How much work is left on the develop branch? Is GA also dependent on develop branch being fixed up?

[2015-02-06 22:20] barbeau commented on #158
Not a whole lot - major items that still need to be added for initial release are a slight redesign of sliding panel header, ability to see routes list and interact with routes view after tapping on stop, and recent stops/routes by tapping on search box.  And some general cleanup, listed at top of #177.

For GA, @cagryInside already submitted a PR that I need to finish reviewing for GA in the mast

[2015-02-09 14:52] barbeau commented on #158
I'm going to go ahead and close this issue (fixed in 0d8d7e2aa9e6fddabd74624564183b3077b2b592) and plan to do the first release on Amazon App Store with new UI.

If you have a Fire Phone and want to try an early version of the new UI, I'll keep a stable APK that you can side-load here:
https://dl.dropboxusercontent.com/u/46443835/OneBusAway/Amazon%20Fire%20Phone/onebusaway-android-amazon-debug.apk

[2015-02-09 14:52] #158 closed

[2015-02-09 19:58] aaronantrim commented on #105
I am considering working to implement OneBusAway for a small agency. Google Analytics reports would be useful for assessing usage and success. In addition, it might be useful to spot anomalies in usage patterns that would indicate a OBA configuration problem.

How would we access Google Analytics reports?
* It appears as though there are not instance-specific GA accounts. Would we therefore need a

[2015-02-09 20:11] barbeau commented on #105
@aaronantrim Good questions.

Yes, currently we have a global GA account for the official OBA apps deployed on Google Play and App Store.  If you [added a new region to OBA](http://onebusaway.org/transit-agencies/adding-regions.php) and users downloaded these same apps, we'd give you access to read/analyze the global account.  You would be able to set up filters to view data only for users of your

[2015-02-09 21:22] aaronantrim commented on #105
Thank you for these answers. I do not see any need to restrict GA reports for specific instances to specific users at this time. I just wanted to make sure my understanding was clear. I suppose if a sufficiently compelling need arose in the future, we could cross that bridge then.

[2015-02-09 21:27] barbeau commented on #105
@aaronantrim Ok, great!  Yes, we could always look at defining region-specific GA accounts in the future.

[2015-02-09 22:08] bbodenmiller commented on #105
I agree with you both here. I see no reason the data needs to be private unless a private company begins using OBA. I actually think we should be posting the usage data more publicly on some sort of public dashboard. It appears we could even automate it using the [GA Reporting API](https://developers.google.com/analytics/devguides/reporting/).

[2015-02-09 22:29] barbeau commented on #105
I'm open to making the GA data/dashboard for OBA publicly readable - I actually tried to do that for the GA dashboard a while back but didn't see a way to do this given the Settings I saw within GA.  Building something based on GA Reporting API is possible, but of course requires someone whip something together - I'm open to other ideas of anyone has them, or knows how to do this within GA dashboa

[2015-02-10 14:28] barbeau commented on #105
@aaronantrim Also, just to clarify - if you set up a server instance of OBA for a transit agency, that would include a website to access the real-time info.  GA for that website would be managed privately by you.  The centralized GA instance applies only to the Android/iOS apps.

[2015-02-10 20:52] barbeau commented on #105
I'm re-opening this issue until we get GA merged into the develop branch - this is currently submitted as PR https://github.com/OneBusAway/onebusaway-android/pull/209.

[2015-02-10 22:06] barbeau commented on #105
Merged https://github.com/OneBusAway/onebusaway-android/pull/209 to implement GA in the develop branch.

[2015-02-10 22:06] #105 closed

[2015-02-23 15:32] barbeau opened #211 "Seattle Hackathon (March 20-22, 2015) - Feature Ideas"
This is a companion ticket to the one opened on OBA iOS:
https://github.com/OneBusAway/onebusaway-iphone/issues/353

Please see that issue for a list of possible projects, both cross-platform and for OBA Android.

[2015-02-23 18:54] bbodenmiller commented on #211
Do you know if anyone has tested [sign mode](https://github.com/OneBusAway/onebusaway-application-modules/wiki/Sign-Mode) on an Android web browser? I'm wondering if similar functionality would be nice in the Android app so we could deploy Android devices rather than full blown computers.

[2015-02-23 19:22] barbeau commented on #211
Yes, it does.  Here's a URL if you want to test yourself:
http://tampa.onebusaway.org/where/sign/stop.action?id=Hillsborough%20Area%20Regional%20Transit_6497

Automated scrolling and everything seems to work fine, although I'm not sure there is a "full-screen" option to hide the browser bar (at least in Chrome on Android).  Here's a screenshot:
![obaandroidsignmode](https://cloud.githubusercontent

[2015-02-23 21:24] #201 closed

[2015-02-23 21:27] barbeau opened #213 "More Google Analytics - donate link & opt-out"
Just realized that we should be tracking taps on "Donate" preference.

@cagryInside Would you be able to put this together tomorrow?

My goal is to get a new beta based on the master branch that includes GA out by the end of this week.

[2015-02-23 21:39] cagryInside commented on #213
@barbeau Yes, I can open a PR for tomorrow.
Moreover, what do you think about this https://github.com/OneBusAway/onebusaway-android/pull/212#issuecomment-75638517. We might want to log when the user disables the analytics.

[2015-02-23 21:47] barbeau commented on #213
@cagryInside Yes, I think its reasonable to detect the opt-out itself.  I just changed the name of this ticket to reflect that as well, so you can submit in the same PR.

[2015-02-24 14:32] barbeau opened #214 "Add test for parsing response with situations (i.e., alerts)"
Just realized we don't have this, since its rare to get a response with a situation (i.e., alert) in it.

Here's a JSON response from a test server that was consuming GTFS-rt Service Alerts that we can use:

[code]

[2015-02-24 15:50] barbeau commented on #180
Actually, removing the the "Contact Us" option completely is a better approach.

[2015-02-24 17:54] barbeau opened #215 "Add support for vehicle occupancy"
`OccupancyStatus` is now an "experimental/proposed" GTFS-realtime field, [as discussed on the gtfs-realtime list](https://groups.google.com/d/msg/gtfs-realtime/_HtNTGp5LxM/0mvvEW1WuMMJ).

Here’s an explanation of the enumeration values:
https://groups.google.com/forum/#!msg/gtfs-realtime/_HtNTGp5LxM/0mvvEW1WuMMJ

...and the same text inline, for convenience:

[code]

We should consume this data fr

[2015-02-24 18:33] cagryInside commented on #213
### NOTE:
Google analytics' ```setAppOptOut()``` method removed for enabling/disabling the GA in the app. Because, when we send event before disabling the GA, the event doesn't show up in the GA admin. This issues also posted to stackoverflow:
http://stackoverflow.com/q/28688695/701325
http://stackoverflow.com/q/28701628/701325

Instead of using ```setAppOptOut()```, a workaround solution implemen

[2015-02-24 21:08] barbeau opened #217 "Test testRegionTwitterUrls is currently failing"
In the OBA Server Directory, TwitterUrl is an optional field and can be empty text.  However, our `testRegionTwitterUrls` test currently expects a valid URL - previous to the current Region API output, we've never had a region that wasn't supplying a Twitter URL.  We should change our test to accept empty text as a valid Twitter URL.

[2015-02-24 21:11] barbeau commented on #217
I'll submit a fix for this shortly...

[2015-02-24 21:18] barbeau commented on #217
Example failure can be seen here:
https://travis-ci.org/OneBusAway/onebusaway-android/builds/52044724

[2015-02-24 21:25] #217 closed

[2015-02-24 21:44] bbodenmiller commented on #180
Is there an issue for this in the iPhone repo also?

[2015-02-24 22:22] barbeau commented on #180
@bbodenmiller Not that I know of.  I'm not sure what the current behavior is for iOS.

[2015-02-24 23:09] barbeau commented on #116
Opened a WIP PR for this Glass GDK work so it doesn't get lost - https://github.com/OneBusAway/onebusaway-android/pull/219.

[2015-02-25 16:57] barbeau opened #220 "Auto-show "What's New" dialog is broken"
I actually didn't realize that this was supposed to be happening until I was looking at implementing the same feature.  It appears that its not working on new installs because the default version is `0`, and there is an IF statement in HomeActivity checking for `oldVer > 0` before notifying the user.

I'll submit a fix for this shortly.

[2015-02-25 17:01] barbeau commented on #220
On a related note, since scheduling the trip reminders also happens in this same IF block, this may also be the cause of #19.

[2015-02-25 17:02] barbeau commented on #19
Looks like this might be caused by a missing `=` in an IF statement in HomeActivity, that is checking for `oldVer > 0` before rescheduling the reminders.  See https://github.com/OneBusAway/onebusaway-android/issues/220.

[2015-02-25 17:25] #213 closed

[2015-02-25 17:53] #19 closed

[2015-02-25 17:53] #220 closed

[2015-02-25 22:42] barbeau opened #223 "Error when building release - "Could not normalize path for file""
I'm getting the following error on Windows 7 when running `gradlew assembleRelease`:

    :onebusaway-android:lintVitalRelease FAILED

    FAILURE: Build failed with an exception.

    * What went wrong:

    Execution failed for task ':onebusaway-android:lintVitalRelease'.

Our `build.gradle` originally had:

    compileSdkVersion "Google Inc.:Google APIs:19"
    buildToolsVersion "19.1.0"

I cha

[2015-02-25 22:44] barbeau opened #224 "Error during release build - wrong resource id"
After fixing https://github.com/OneBusAway/onebusaway-android/issues/223, when trying to run:
`gradlew assembleRelease`

...I'm getting the error:

[code]

It doesn't say which file is triggering this, but I believe its `layout/loading.xml`.  Will test further.

[2015-02-25 23:20] barbeau commented on #223
Well, the build tools update didn't actually fix the problem - it just masked it initially by throwing another lint error (see https://github.com/OneBusAway/onebusaway-android/issues/224).  After I fixed https://github.com/OneBusAway/onebusaway-android/issues/224, I'm still seeing the same problem when running `gradlew assembleRelease`.

[2015-02-25 23:45] barbeau commented on #223
Only solution I can see for now is to disable lint checks on release builds:

    lintOptions {
        checkReleaseBuilds false
    }

According to the [AOSP issue](https://code.google.com/p/android/issues/detail?id=148912) a fix for this is targeted in Android Studio 1.2.

[2015-02-25 23:55] #224 closed

[2015-02-26 15:12] barbeau opened #228 "Travis builds failing - "Invalid --abi armeabi-v7a for the selected target""
After updating to the API 21 build tools and SDK, we're getting the following error on Travis:

[code]

See https://travis-ci.org/OneBusAway/onebusaway-android/builds/52205081

[2015-02-26 19:28] #228 closed

[2015-02-26 19:32] barbeau opened #230 "Re-enable Lint checks on release builds following AOSP fix"
In #227, we have to disable Lint checks on release builds to fix #223 due to this AOSP issue:
https://code.google.com/p/android/issues/detail?id=148912

When this AOSP issue is fixed (targeted for Android Studio 1.2), we should re-enable Lint checks.

[2015-02-26 19:38] barbeau commented on #223
When the AOSP issue is fixed, we should re-enable Lint checks.  I've opened a new ticket (https://github.com/OneBusAway/onebusaway-android/issues/230) for re-enabling Lint checks at this time.

[2015-02-26 20:24] #223 closed

[2015-02-27 16:01] barbeau commented on #230
#223 was just fixed in Android Gradle plugin v1.1.2:
https://code.google.com/p/android/issues/detail?id=148912#c11

So, we can revert #227.

[2015-02-27 16:33] #230 closed

[2015-02-27 16:55] barbeau opened #232 "Change location accuracy threshold for Google Analytics"
@cagryInside I was looking at some of the location data from a few Android phones, and I'm thinking it probably makes sense to tighten up the horizontal accuracy threshold prior to a production release.

Currently, [we're using 100m](https://github.com/OneBusAway/onebusaway-android/blob/master/onebusaway-android/src/main/java/com/joulespersecond/oba/ObaAnalytics.java#L43) as the cutoff threshold -

[2015-02-27 17:14] cagryInside commented on #232
@barbeau In the high-end device (nexus 6) I usually measure the horizontal accuracy <30m. But, I think we should also measure some results with older devices to see the variation.

[2015-02-27 17:39] barbeau commented on #232
I was looking at data I collected from a number of Android 2.1 and 2.2
devices a while back, and it seems consistently <50m are good locations.
On Feb 27, 2015 12:14 PM, "Cagri Cetin" <notifications@github.com> wrote:

[2015-02-27 19:39] barbeau opened #233 "StopInfo event reported for incorrect button press in master branch"
Right now, when the user taps on the icon the map, we're reporting a "Loaded StopInfo from X", where X is the region name.  This event on iOS is actually related to the StopInfo project, the icon for which is shown next to the stop name on the ArrivalList Fragment, as discussed in https://github.com/OneBusAway/onebusaway-android/issues/103.

We should remove the "Loaded StopInfo from X" event from

[2015-02-27 19:43] barbeau opened #234 "Report StopInfo event (develop)"
We should report the "Loaded StopInfo from X" event, where X is the region name, when the user taps on the icon for which is shown next to the stop name on the ArrivalList Fragment, as discussed in #103.

This was originally incorrectly reported for the event of tapping on the map in the master branch, as discussed in #233.

[2015-02-27 20:48] #232 closed

[2015-02-27 20:50] #233 closed

[2015-02-27 20:52] barbeau commented on #234
Also, we need to remove the "Loaded StopInfo from X" event from being generated by taps on the map icons in this develop branch as well, just as was done in #233 for master branch.

[2015-02-28 00:53] bbodenmiller commented on #233
Side note, why include the region in the event when we already report that and you can cross reference it?

[2015-03-02 16:26] cagryInside opened #237 "Including custom URLs when reporting events with GA."
We start reporting SHA-1 hashed custom URLs as a secondary dimension as discussed https://github.com/OneBusAway/onebusaway-android/issues/105#issuecomment-71099932.  However, when the application first time installed and run in devices, it also reports "CUSTOM URL" event, even though there is no custom URL set.

[2015-03-02 16:31] cagryInside commented on #233
@bbodenmiller At first, I thought it might be better to include the region in the event to keep it to be consistent with IOS stopInfo event. But, since they are different event, we might not need to include the region for MapStopIcon.

[2015-03-02 16:36] barbeau commented on #233
Agreed to remove region from MapStopIcon event - my fault for writing up this ticket incorrectly.

[2015-03-02 17:22] cagryInside commented on #237
With the current fix, there is one problem may occur if there is no region and no custom url defined at the same time.
[code]
When there is no region and no custom url defined, ``` getObaRegionName() ``` going to return null instead of "custom URL". And, we will push null as a secondary dimension. Since, this happens only one time (until the app finds the closest region when users install the app

[2015-03-02 17:37] barbeau commented on #237
Thanks @cagryInside!  A few comments in line on commit.

[2015-03-02 20:09] barbeau commented on #172
Companion issue on iOS:
https://github.com/OneBusAway/onebusaway-iphone/issues/375

[2015-03-02 23:36] bbodenmiller commented on #237
Worth noting OBA iPhone currently reports null region in a few places. I think it'd be best to not discard logging events just because a region name can't be found.

[2015-03-03 15:56] barbeau commented on #237
@bbodenmiller We're actually changing where the region name is logged, so that's no longer an issue.  In OBA Android the region name is only null for a few seconds on first startup after install, and after that either the region or the custom API URL should always have a value.

[2015-03-03 16:18] cagryInside commented on #237
Also, IOS sends two more events when the app starts and home button presses:
 -> Show Experimental Regions : YES or NO
-> Set Region Automatically: YES or NO

So, in my understanding, we also shouldn't trigger these events when the app starts. These events should be triggered when the event actually happens. (e.g., : when the user clicks Show Experimental Regions button in settings).

@barbeau cou

[2015-03-03 16:25] barbeau commented on #237
@cagryInside Right, IMO:

* Set Region Manually
* Show Experimental Regions : YES or NO
* Set Region Automatically

...should NOT be triggered when the app starts (or, for iOS, home button presses).  Instead, these should be triggered when those values change.  So, if a user starts up OBA for first time and Tampa is automatically selected as a region, "Set Region Automatically" should be triggered

[2015-03-03 16:26] barbeau commented on #237
The main motivation behind capturing these items is to determine how often users actually change these settings, and how often regions are automatically switched.

[2015-03-03 16:36] cagryInside commented on #237
@barbeau agreed. So, in OBA Android the following events will be much less than IOS.
![untitled 2](https://cloud.githubusercontent.com/assets/2777974/6466988/68084f5e-c199-11e4-8c64-2552ebad2060.png)

[2015-03-03 16:52] barbeau commented on #237
Correct.

And, since those event labels have been heavily polluted on iOS by traffic that doesn't really capture what we originally wanted (IMO), we should probably consider changing them.

@bbodenmiller @aaronbrethorst what are your thoughts on this?

I believe that:
* Set Region Manually
* Show Experimental Regions : YES or NO
* Set Region Automatically

... analytics should NOT be triggered whe

[2015-03-03 17:11] bbodenmiller commented on #237
When I setup the iOS analytics I believe I was thinking a bit differently and I'll have to go confirm exactly how it works (or doesn't work) - it's been awhile. Essentially, however, my thinking was that we should track when a setting change occurs but also how many sessions are running with specific settings set. For example it's relivent to know if users with experimental regions enabled are run

[2015-03-03 17:18] bbodenmiller commented on #237
@barbeau if you guys can wait a bit, I think it'd be easiest to wait until I have a chance to review the iOS analytics a bit more.

[2015-03-03 17:42] bbodenmiller commented on #237
I believe the setting of the settings occurs under the `ui_action` category.

[2015-03-03 17:45] cagryInside commented on #237
In the current IOS configuration, events for region reporting set as shown in the table below. Also, current Android GA reporting was developed according to this.

|  Event Category | Event Action  |  Event Label | When? |
|---|---|---|---|
| ui_action  | set_region  | Set Region:  + regionName  | The user select a region |
| ui_action  | button_press  | Set region automatically  | The user select

[2015-03-03 17:50] bbodenmiller commented on #237
What do we gain vs. loss with not reporting the set settings at app startup? My thinking is that we should track when a setting change occurs but also how many sessions are running with specific settings set.

[2015-03-03 19:57] barbeau commented on #237
Thanks @cagryInside for the table showing what is triggered when - I didn't realize we were logging these both under ui_actions and app_settings.  We should really have a table like this on the [OBA Analytics page](https://github.com/OneBusAway/onebusaway/wiki/Tracking-and-Analytics), since right now the whole concept of logging "sessions" is missing from that documentation on iOS.  I'd like to ha

[2015-03-03 20:35] bbodenmiller commented on #237
@barbeau Thanks for the details. I agree we should improve the documentation to include all the analytics details. The current page is certainly a good start.

I look forward to seeing the proposal and certainly agree simplifications would be great. I have to admit iOS analytics were pretty much thrown together just so we had something.

[2015-03-04 18:07] barbeau opened #243 "GoogleAnalytics.setDryRun(true) doesn't work on Amazon Fire Phone (develop)"
We've observed a number of Google Analytics (GA) events reported from Amazon Fire Phones, which is strange because:

1. if `BuildConfig.DEBUG == TRUE` we set `GoogleAnalytics.getInstance(context).setDryRun(true);`, which should disable event reporting on any non-production signed build
2. The currently deployed production-signed beta that includes analytics does not run on a Fire Phone (currently

[2015-03-04 19:28] cagryInside commented on #243
One possible workaround solution could be like this:

    public static void initAnalytics(Context context) {
        if (BuildConfig.DEBUG) {
            //Disables reporting when app runs on debug
            GoogleAnalytics.getInstance(context).setDryRun(true);

            if( the device is amazon fire phone) {
                GoogleAnalytics.getInstance(this).setAppOptOut(true);

[2015-03-04 19:49] barbeau commented on #243
Agreed, although I think the item that may be difficult (or at least has been in the past) is `if( the device is amazon fire phone)`.

This info normally comes from [`android.os.Build.MANUFACTURER`](http://developer.android.com/reference/android/os/Build.html#MANUFACTURER), but since this is just a string I've seen it change on different model phones from the same manufacturer, or characters withi

[2015-03-04 22:54] bbodenmiller commented on #243
Another option might be to setup a seperate tracker id for debug builds so you don't have to worry about turning GA off.

[2015-03-04 23:17] bbodenmiller commented on #180
I made a similar issue on the iPhone repo. It is probably worth discussing together however so we have similar functionality between apps.

[2015-03-05 02:48] cagryInside commented on #243
@barbeau thanks.

[2015-03-05 16:47] barbeau commented on #187
Another item I'd like to add to this is to provide an option for "Ideas for new features", or some similar wording, that would direct the user to the OneBusAway Android Ideascale page:
http://onebusaway.ideascale.com/a/ideas/top/campaign-filter/byids/campaigns/46167

[2015-03-05 17:15] #237 closed

[2015-03-05 17:28] barbeau commented on #233
@cagryInside I believe we're ready to release another beta off the master branch.  Am I forgetting anything that needs to go in before the next release?

[2015-03-05 17:43] cagryInside commented on #233
@barbeau I agree. I don't have anything else to submit for analytics.
Thanks

[2015-03-05 19:30] barbeau opened #244 "Add Google Analytics individually for trip/stop problem reports"
In the current Google Analytics implementation, we're reporting a generic "problem report" metric in `ReportProblemFragmentBase`:
https://github.com/OneBusAway/onebusaway-android/blob/master/onebusaway-android/src/main/java/com/joulespersecond/seattlebusbot/ReportProblemFragmentBase.java#L117

However, as far as I can tell this won't provide any separate reporting for trip/stop reports, and I'd li

[2015-03-05 19:32] barbeau commented on #244
Also, if iOS has the same behavior, can you please open a similar ticket on the OBA iOS project with a pointer to the code and referencing this issue?

Thanks!

[2015-03-05 19:57] cagryInside commented on #244
@barbeau Yes, this event should be moved to ```ReportStopProblemFragment``` and ```ReportTripProblemFragment``` classes.
However, in IOS, the same sendReport labeled event triggered for  ```ReportStopProblemFragment``` and ```ReportTripProblemFragment``` classes. I think, for consistency, we should keep the same structure with ios and add this into the proposal.

[2015-03-05 20:02] barbeau commented on #244
@cagryInside I really want to get a handle on separate trip/stop problem reporting in the next release, since that will help us when designing the feedback improvement (https://github.com/OneBusAway/onebusaway-android/issues/187), and will give us some "before" data for how people used the app, as compared to after our improved process to handle issue reports.

One solution would be to report both

[2015-03-05 20:02] barbeau commented on #244
And, we'd add the new specific events to the proposal for iOS as well.

[2015-03-05 20:15] cagryInside commented on #244
@barbeau

I agree on the solution. For now, we can report the generic one and also specific events to the stop/trip problem. And, when we release the new issue reporting improvement (https://github.com/OneBusAway/onebusaway-android/issues/187), we should rearrange the analytics labels.

One question:
Should we keep the generic "problem report" event in ````ReportProblemFragmentBase```?

[2015-03-05 20:29] cagryInside commented on #244
@barbeau sorry, I miss understood. I thought I implemented the "problem report" event different then IOS. Now, I checked, the current android implementation is exactly same with IOS. So, please ignore the following comments:

[2015-03-05 20:43] barbeau commented on #244
@cagryInside No problem.  Yes, let's keep the current generic "problem report" event in `ReportProblemFragmentBase` so we match iOS, and add specific events to the stop/trip problem reporting to the subclasses (`ReportStopProblemFragment` and `ReportTripProblemFragment`).

[2015-03-05 21:25] #244 closed

[2015-03-06 19:31] barbeau commented on #234
Fixed in https://github.com/OneBusAway/onebusaway-android/pull/242

[2015-03-06 19:31] #234 closed

[2015-03-09 16:35] barbeau commented on #243
Fix via https://github.com/OneBusAway/onebusaway-android/pull/246

[2015-03-09 16:35] #243 closed

[2015-03-09 16:39] barbeau opened #247 "Travis build failures - ShellCommandUnresponsiveException"
We're seeing a lot of build failures on the first and even second execution of PRs on Travis, which then pass on the next attempt.

Here's what the error looks like on failures:

[code]

I believe this is the underlying issue on Travis:
https://github.com/travis-ci/travis-ci/issues/3110

I'm leaving this open for now just so everyone knows why they are failing, and I'll close this out when we have

[2015-03-09 18:31] barbeau commented on #247
Based on a response to the [AOSP issue](https://code.google.com/p/android/issues/detail?id=69735#c9) for this original problem in the Android tools, there is now apparently an (undocumented) environmental variable `ADB_INSTALL_TIMEOUT` where you can set ddmlib timeout.  See this [.travis.yml](https://github.com/ardock/android-testing/blob/ttt-colors/.travis.yml) for an example:

[code]

I'm going

[2015-03-09 18:59] #247 closed

[2015-03-09 19:15] barbeau commented on #247
Made this change in both develop and master.

[2015-03-09 19:39] barbeau commented on #247
Also created this SO post with the problem and solution:
http://stackoverflow.com/questions/28949722/android-tests-fail-on-travis-with-shellcommandunresponsiveexception/28949723#28949723

[2015-03-18 00:00] yaroslavd commented on #158
I've been sideloading this on my Fire Phone without issues for some time now (thanks for the quick turnaround!).

However, I still don't see this in the Amazon App Store. Is that being tracked in another issue?

[2015-03-19 01:41] bbodenmiller commented on #158
@yaroslavd my understanding is that @barbeau plans to release to the Amazon App Store once https://github.com/OneBusAway/onebusaway-android/issues/155 (WIP at https://github.com/OneBusAway/onebusaway-android/pull/177) is complete.

[2015-03-19 20:20] barbeau commented on #158
@yaroslavd Thanks for letting us know it seems to be working well on Fire Phone!  My original plan was to finish the UI redesign (#155) and then launch identical versions simultaneously for Google Play and Amazon App Store.  However, for several reasons its taking longer to wrap up the UI design than I originally planned (long stories).  I've been getting prodded by several Fire Phone users about

[2015-03-19 20:46] yaroslavd commented on #158
Thanks Sean! I would strongly encourage you to publish as-is. It's mounds better than the web app, and is very stable. Frankly, I like it better than the iPhone app (granted, last time I've used that was almost a year ago). I would definitely look forward to improvements in the linked issues, but from my experience the app works great, as-is.

[2015-03-25 13:17] barbeau opened #251 "Puget Sound - Incorrect trips showing up at stops"
Reported by a user - I suspect this is a data issue, but I'm capturing it here so it doesn't get lost:

- Select King St Station
- Tap MENU -> Filter routes
- Check only "Sounder / South" -> SAVE

- App displays trains going to South, as expected, but also displays trains coming from South

http://www.soundtransit.org/Schedules/Sounder-Lakewood-Seattle?dir=inbound

http://www.soundtransit.org/Sche

[2015-03-25 13:24] barbeau commented on #251
Web link to stop:
http://pugetsound.onebusaway.org/where/standard/stop.action?id=40_S_KS

[2015-03-25 15:12] barbeau commented on #251
API request for stop arrivals:
http://api.pugetsound.onebusaway.org/api/where/arrivals-and-departures-for-stop/40_S_KS.json?key=TEST&minutesAfter=1500

API trips for route 40_SNDR_N:
http://api.pugetsound.onebusaway.org/api/where/trips-for-route/40_SNDR_N.json?key=TEST

API trip details:
http://api.pugetsound.onebusaway.org/api/where/trip-details/40_1705.json?key=TEST
http://api.pugetsound.onebusa

[2015-03-26 22:55] barbeau commented on #172
Just opened WIP https://github.com/OneBusAway/onebusaway-android/pull/252 that knocks out most of this.

[2015-03-31 13:31] arirusakko commented on #159
Hi guys

I've made pull request #253 that solves this enhancement.

[2015-04-01 13:36] barbeau commented on #159
Fixed via https://github.com/OneBusAway/onebusaway-android/pull/253.

[2015-04-01 13:36] #159 closed

[2015-04-01 17:58] barbeau commented on #187
@cagryInside Could you please open a WIP PR with the enhanced issue reporting that we've been working on?  No rush, but I'd like to get it into a PR so others can monitor progress as well.  It's fine if you need to rebase/force push to that WIP PR as you continue to update/work on things.

[2015-04-01 18:02] cagryInside commented on #187
@barbeau sure. I will open a WIP PR soon.

[2015-04-04 04:39] barbeau opened #254 "Better management of amazon/google build flavors common code"
With the addition of support for the Amazon Fire Phone (#158), we now have two platform build flavors in the following packages:

* `src/google/java/org/onebusaway/android/map`
* `src/amazon/java/org/onebusaway/android/map`

With the exception of `ProprietaryMapHelpV2`, all other classes in these two packages are identical, except that they import classes from the amazon/google packages for the re

[2015-04-04 23:15] barbeau commented on #254
Gradle task for when file contents change:
https://gradle.org/docs/current/dsl/org.gradle.api.tasks.incremental.IncrementalTaskInputs.html

[2015-04-06 16:05] cagryInside commented on #187
I opened the PR for this implementation: PR https://github.com/OneBusAway/onebusaway-android/pull/255.

[2015-04-06 17:34] cagryInside opened #256 "StopProblem and TripProblem fragments can report issues without selecting a problem category"
It should be required to choose a problem category in order to send a stop or trip problem.
In the ```ReportStopProblemFragment``` and ```ReportTripProblemFragment``` users can currently send issues without selecting a problem category.

![device-2015-04-06-132931](https://cloud.githubusercontent.com/assets/2777974/7008519/85184242-dc61-11e4-9e75-15a30e89960c.png)

[2015-04-10 03:44] aj07mm opened #257 "How to use onebusaway-android with other GTFS databases"
I can't find a guide on how to use the project with my own files instead of the default data from florida that comes with it. How can i do this?

[2015-04-10 13:06] cagryInside commented on #257
@aj07mm You need to run OneBusAway server to show your own GTFS data. This is the wiki page that explains how to configure the application:
https://github.com/OneBusAway/onebusaway-application-modules/wiki

[2015-04-10 13:53] aj07mm commented on #257
Gracias!

[2015-04-10 13:53] #257 closed

[2015-04-10 23:01] bbodenmiller commented on #257
Related it'd be awesome if the OBA apps were to support GTFS & GTFS-RT in the future for non-OBA agencies.

[2015-04-12 12:19] kurtraschke opened #258 "Back button in Preferences Action Bar does not go to home screen"
From the Preferences screen, tapping the green "< OneBusAway" button in the header does nothing.  Tapping the system back button in the footer goes back to the previous screen as expected.

OneBusAway 1.7.8, HTC One M8, Android 5.0.1

[2015-04-13 02:17] barbeau commented on #258
Thanks Kurt.  IIRC, most of the action bar "up" navigation is broken (or at least doesn't behave according to the Google design standards) in the current OBA Android version on Google Play (v1.7.8).

I've been working on a UI overhaul that includes replacing the ActionBar implementation, which is currently in the `develop` branch - you can download an APK for this if you'd like from a link in the

[2015-04-13 02:22] barbeau commented on #258
For posterity sake, here's the Google design guidelines outlining the difference between "up" and "back" navigation:
http://developer.android.com/design/patterns/navigation.html

Tapping on the "<-" button in the ActionBar should initiate the "up" navigation.

[2015-04-16 04:45] barbeau commented on #254
The following works as part of `build.gradle` to copy and filter the classes from the Google to Amazon build flavor:

[code]

This only execute when the files in the Google build flavor maps package change, and works well with one exception.

When filter copying the Maps API v2 classes from the Google to Amazon build flavor, the filtering of the import statement for `com.google.android.gms.maps.Go

[2015-04-18 00:33] barbeau commented on #254
This is now fixed via https://github.com/OneBusAway/onebusaway-android/pull/259 in the develop branch.

[2015-04-18 00:33] #254 closed

[2015-04-21 03:30] cagryInside opened #260 "Add custom markers to BaseMapFragment"
We have implemented several enhancements (PR https://github.com/OneBusAway/onebusaway-android/pull/249) in ```BaseMapFragment``` to be able to use the  ```BaseMapFragment``` in other activities. However, when we are using Maps API v2 objects (e.g., adding a marker: ```mMapFragment.getMap().addMarker(...)``` ) outside of the maps package, Amazon build flavor is failing (https://github.com/OneBusAwa

[2015-04-22 02:27] cagryInside commented on #260
@barbeau I implemented a method (https://github.com/cagryInside/onebusaway-android/commit/e9a1fa46a6d6ca8cb5cb69e1b60885e18fe688f1#diff-5542c1da09f3ac946281c3f258d88e8cR739) that adds markers to ```BaseMapFragment```. It seems working (I only tested with Google phone), but I will also test this with Amazon phone tomorrow and open a PR.

Furthermore, I would like to add this method to ```ObaMapView

[2015-04-22 14:23] cagryInside commented on #260
Also, I tested this development with Amazon firephone.

[2015-04-22 22:45] barbeau commented on #260
@cagryInside I just opened https://github.com/OneBusAway/onebusaway-android/pull/263, please check it out and see if it meets your needs for use in #255.

[2015-04-23 01:37] cagryInside commented on #260
@barbeau Thanks, I checked the implementation. It seems it's going to solve all marker related problems. I will test this with Amazon phone tomorrow, and let you know.

[2015-04-23 05:04] barbeau opened #264 "Improve stop/trip problem reporting API requests"
Looks like there is an issue with how OBA Android is sending REST API requests for stop/trip problem reporting - see https://github.com/OneBusAway/onebusaway-application-modules/issues/126#issuecomment-94544761.

If we can confirm that the documented APIs are currently working, we should change to using that method:

* http://developer.onebusaway.org/modules/onebusaway-application-modules/current/

[2015-04-25 15:21] cagryInside commented on #260
Closed in favor of PR https://github.com/OneBusAway/onebusaway-android/pull/263

[2015-04-25 15:21] #260 closed

[2015-05-09 03:04] cagryInside commented on #256
Fixed via PR https://github.com/OneBusAway/onebusaway-android/pull/261

[2015-05-09 03:04] #256 closed

[2015-05-09 07:22] shakeelmohamed opened #265 "Minor UI bug: keyboard doesn't hide after navigating away from the search tab"
This is for 1.7.8 of the app, if that's relevant.
Please close if this is irrelevant, already fixed, or not possible.

0. Summary: The on-screen keyboard doesn't hide after navigating away from the search tab, it's a bit annoying to have to tap the hide icon every time.
0. Steps to reproduce: Open the app, tap the menu (3 dot thing in the corner), tap "my stops", it defaults to "search" (not sure

[2015-05-11 01:36] barbeau commented on #265
@shakeelmohamed Thanks for the report, and I'm glad you find the app useful!  Thanks for including the steps to reproduce too.

I've never noticed this, but you're right, the desired behavior would be to hide the keyboard when you can no longer enter any text.  This applies to the "My Routes" search as well as the "My Stops" search.  I'll push a quick fix to Github shortly.

[2015-05-11 03:24] shakeelmohamed commented on #265
Thanks @barbeau I'll be on the lookout for an app update!

[2015-05-13 01:21] #265 closed

[2015-06-09 20:22] barbeau commented on #254
For the record, I just stumbled on another project which solves this problem by refactoring all the Google/Amazon Maps API classes behind a common interface:
https://github.com/tomquist/android-maps-abstraction

We'll stick with our solution, but I wanted to record this here for posterity.

[2015-06-12 02:37] anubiann00b opened #268 "Dev branch build error: Can't find Amazon Maps?"
Trying to run the latest dev build, commit 0e8ad830c5d393b0393c317a78b37f2a156935a1. Got this immediately on compiling.

[code]

I honestly have no idea what's going on in the gradle scripts.

[2015-06-12 02:41] barbeau commented on #268
See thr Readme in the develop branch, which includes:

This will allow OBA to pick up dependency from your local maven repo.  I'm going to close this, but if it doesnt work please let me know.

[2015-06-12 02:41] #268 closed

[2015-06-12 02:51] anubiann00b commented on #268
Oh gotcha I missed the build variants tab, and was looking at the wrong readme :P.

[2015-06-16 19:57] barbeau commented on #172
Implemented in `develop` branch via https://github.com/OneBusAway/onebusaway-android/pull/252

[2015-06-16 19:57] #172 closed

[2015-06-22 13:38] barbeau opened #269 "Allow ArrivalInfo Style B to load more than the next 3 arrival times"
Currently, the Style B presentation of arrival times only supports showing the next 3 arrival times for any given route.  We should extend this so as the user taps "Load more arrivals", it continues to add more rows for arrival times that are further out.

![image](https://cloud.githubusercontent.com/assets/928045/8282984/45dd5dd6-18c2-11e5-99db-7237dffb9554.png)

[2015-06-22 21:28] barbeau commented on #269
See the following for programmatically adding TableRows to the layout:
http://stackoverflow.com/a/7280804/937715

[2015-06-23 13:31] barbeau opened #270 "develop branch crashes when GTFS shapes.txt isn't provided"
As discussed on the mailing list (https://groups.google.com/d/msg/onebusaway-developers/wK5VHHA1DqQ/pOstfHcfvVQJ), the current behavior of OBA when building the transit bundle is to omit the polyline when shapes.txt isn't provided in the GTFS data.

As a result, in the stops-for-route API response from the OBA server, the "polylines" element is empty for all routes.  This prevents the apps from sh

[2015-06-23 13:39] barbeau commented on #270
Fixed in `develop` branch via https://github.com/OneBusAway/onebusaway-android/commit/8fa55334c4d19441434820e9c96b0236f7085545

[2015-06-23 13:39] #270 closed

[2015-06-23 16:57] barbeau opened #271 "Shortcuts are renamed after installing an app update"
Reported by a user:

Me:

User:

Me:

User:

I can't replicate this on a LG G4.

My feeling is that its a device issue, and not an issue in OneBusAway - here's a report of something similar happening on a Galaxy S4 with Google Maps:
http://forums.androidcentral.com/android-4-1-4-2-4-3-jelly-bean/317001-google-maps-update-keeps-renaming-navigation-shortcuts-generic-maps.html

[2015-06-23 17:03] barbeau commented on #271
@cagryInside When you have a chance, could you see if you can replicate this on your devices?  You can download past release APKs from https://github.com/OneBusAway/onebusaway-android/releases.  Not an emergency, but I'd like to see if it happens on other devices.

Steps to replicate:

1. Uninstall OBA
2. Install v.1.7.8
3. Star a stop in the app on the arrivals list screen
4. Go back to main scre

[2015-06-23 21:01] barbeau commented on #271
More of my questions to user:

* Are you creating the shortcuts by long-pressing on stop in your favorites list, or by going to your device’s Widgets menu and dragging the “OneBusAway Stop” icon to your home screen?
* Have you seen this problem on other devices outside of your Note 4?

User:

[2015-06-23 21:18] barbeau opened #272 "Installation fails on Android 2.3.4"
The current `develop` branch won't install from Android Studio on an HTC EVO Shift with Android 2.3.4.

I get the following message in Android Studio:

...and when I hit Ok, I see in Run tab:

The app is definitely uninstalled when I get the above messages.

If I package the debug version separately using `gradlew assembleObaGoogleDebug` and then try running `adb install onebusaway-android-oba-goo

[2015-06-23 21:24] barbeau commented on #272
Fixed in `develop` branch via https://github.com/OneBusAway/onebusaway-android/commit/2b5122d03ade7d6ce0c7c97d684d60a84b93e331.

[2015-06-23 21:24] #272 closed

[2015-06-23 21:34] barbeau commented on #269
Here's the current XML that describes the 3 arrival time rows that we need to generate programmatically:

[code]

[2015-06-24 00:52] cagryInside commented on #271
@barbeau I try to replicate the issue on my Nexus 6. I tried to add shortcuts in both ways (from the app and from the widgets). But everything works fine.

[2015-06-24 13:11] barbeau commented on #271
Thanks @cagryInside!  Since I don't believe there is anything we can do to fix this in OneBusAway, I'm going to close this as "won't fix".  If we can find a device to reproduce this on, or if we get more info on how we can prevent this from within the app, then we can re-open.

[2015-06-24 13:11] #271 closed

[2015-06-24 13:37] cagryInside commented on #271
@barbeau I just test with HTC EVO 3D and replicate the issue. The shortcuts turns to generic "OneBusAway".

[2015-06-24 13:53] barbeau commented on #271
@cagryInside Oh, ok.  Any hints from the log as to what is going on?  It would be nice if we could try and reproduce this for another app, but since it only happens after an app update that's a bit tricky.

[2015-06-24 13:53] barbeau commented on #271
Also, what Android version is the HTC EVO 3D?

[2015-06-24 13:59] cagryInside commented on #271
HTC EVO 3D Android 4.0.3.

Also, I try to do further tests. Now it stopped changing the names.

[2015-06-24 14:24] cagryInside commented on #271
@barbeau Same issue was observed with Google Maps on HTC device.

[2015-06-24 14:52] barbeau commented on #271
@cagryInside Ok, thanks - good to know about Google Maps.  Sounds like its out of our control, and possibly non-deterministic (from our perspective) too.

[2015-06-24 20:35] barbeau opened #273 "Crash when searching prior to location initialization"
Reported by Fire Phone user, for `develop` branch:

06-24 13:13:45.254: E/AndroidRuntime(24303): Process: com.joulespersecond.seattlebusbot, PID: 24303
06-24 13:13:45.254: E/AndroidRuntime(24303): java.lang.RuntimeException: An error occured while executing doInBackground()
06-24 13:13:45.254: E/AndroidRuntime(24303): at android.support.v4.a.q$3.done(Unknown Source)
06-24 13:13:45.254: E/AndroidRu

[2015-06-24 21:22] barbeau commented on #273
Here's an un-obfuscated stack trace:

[code]

[2015-06-24 21:26] barbeau commented on #273
Fixed in `develop` branch via https://github.com/OneBusAway/onebusaway-android/commit/86c4722df9c55865301635c8eb1271ac8688b700

[2015-06-24 21:26] #273 closed

[2015-06-24 21:34] barbeau opened #274 "Remove `if (BuildConfig.DEBUG)` wrapper around log statements"
Now that we're using Proguard (see #272), Log statements are getting stripped out on release.  So, we can clean up the code a bit by removing the wrapper code around logging statements.

For example, this:

[code]

...can now be replaced with:

[code]

[2015-06-25 18:17] barbeau commented on #269
Fixed in `develop` branch via https://github.com/OneBusAway/onebusaway-android/commit/0f3d87127e726a5356714ea1a5ce98a5ef18032b.

[2015-06-25 18:17] #269 closed

[2015-06-26 14:48] barbeau opened #275 "StackOverflowError when using Arrival Info Style B on Android 2.3 device"
When trying to view arrival times on an HTC EVO Shift with Android 2.3.4, the Agency Y demo app crashes and I get the following trace:

[code]

Based on these two StackOverflow posts:

* http://stackoverflow.com/a/19854263/937715
* http://stackoverflow.com/a/16920207/937715

...it appears that the thread stack sizes for Android 2.3 are 12KB, while Android 4.0 and higher is 16KB.  With the CardView

[2015-06-26 21:41] barbeau commented on #275
I tried a quick simplification of the view hierarchy (https://github.com/OneBusAway/onebusaway-android/commit/910100f8275f557a168d798a00f42e8dd80175db), but that didn't help.  I then tried Yorks app on the same device, and that does work ok (i.e., no StackOverflowError).  I then checked out the commit that added York's layout to OBA Android (37b4565c746f99cb631931035c312f825fd09b43), and I got the

[2015-06-26 22:21] barbeau commented on #275
So even with removing the TableLayout and TableRows, to pare back to the bare minimum needed to represent the Card view for Style B (as seen below), I'm still getting the StackOverflowError.  So, I don't think there is any way we can get this to work in the sliding drawer on Android 2.3 (or at least this device with Android 2.3.4 - I'd be interested in trying this on other 2.3 devices, but unfortu

[2015-06-29 17:37] barbeau commented on #275
Well, it looks like this issue isn't universal for all Gingerbread devices.  I Just tested the normal Style B Card view on a Samsung Epic 4G (basically, a Galaxy S) w/ Android 2.3.6, and the Card view works fine and this StackOverflowError doesn't occur.

[2015-06-29 20:35] barbeau commented on #275
I completely re-wrote the layout for the Style B list item in https://github.com/OneBusAway/onebusaway-android/commit/b6304173645c1e912088ac99a61777061d936453, removing the static TableLayout/TableRow implementation and replacing it with simpler relative/linear layouts, and it looks like that (along with https://github.com/OneBusAway/onebusaway-android/commit/910100f8275f557a168d798a00f42e8dd80175

[2015-06-29 20:35] #275 closed

[2015-06-29 20:56] barbeau commented on #274
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/08335a52ba6d49f4ea2122a9de49adbc7379c205

[2015-06-29 20:56] #274 closed

[2015-06-29 21:46] barbeau commented on #258
Fixed in `develop` branch via https://github.com/OneBusAway/onebusaway-android/commit/d60ce77ba4e4f604a662df67a40d28ec6f71cac4.

[2015-06-29 21:46] #258 closed

[2015-07-09 17:20] barbeau commented on #251
Feedback from another user, on what may be the same issue:

![obatemp](https://cloud.githubusercontent.com/assets/928045/8601903/4efd35ac-263d-11e5-96bb-51d7e8999a78.png)

[2015-07-09 17:28] barbeau commented on #251
I just pinged Puget Sound on this, because I think its a data issue.  I'm closing as "Won't fix" for now, because I don't believe its an issue in the app.  If we find otherwise, I'll re-open.

[2015-07-09 17:28] #251 closed

[2015-07-10 13:56] barbeau commented on #214
Fixed in `develop` branch via https://github.com/OneBusAway/onebusaway-android/commit/e5cc2ff5d24735c7ccf4648bd93ab768e1bdd8fc

[2015-07-10 13:56] #214 closed

[2015-07-22 14:41] barbeau opened #277 "NPE caused by ObaStopsForLocationResponse$Data.access$100(ObaStopsForLocationResponse.java:30)"
In production/master branch - this seems to be happening far more often in v1.7.9 (33 times) than v1.7.8 (1 time).

Stack trace from developer console:

[code]

User comments indicate it either happens when searching or when opening the app.  v1.7.9 was a fairly simple release with only two changes (add Finnish translation and hide softkeyboard when leaving search fragment), so I'm not sure what's

[2015-07-27 14:35] barbeau commented on #190
I've made the above discussed changes, and posted a notice to the onebusaway-developers group here:
https://groups.google.com/forum/#!topic/onebusaway-developers/jyFA1OSLDN4

I've also updated the Beta Testing readme with the new process, and added the alpha testing registration process too:
https://github.com/OneBusAway/onebusaway-android/blob/master/BETA_TESTING.md

OneBusAway Google+ Community,

[2015-07-27 14:35] #190 closed

[2015-08-03 14:28] barbeau opened #278 "Active time windows of Alerts (i.e., Situations) aren't respected"
Reported on the [OBA Dev list](https://groups.google.com/forum/#!topic/onebusaway-developers/GWiGsMzae94):

If we can get a hold of a response that includes this info we can add support for it in OBA Android.

[2015-08-04 17:23] barbeau commented on #278
As I mentioned in the above thread on the dev list, the current behavior of OBA Android is to display whatever situations are returned in the API call for arrivals-and-departures-for-stop, regardless of any time window.  I believe this is because the built-in tools to publish service alerts in the OBA webapp don't include the ability to set an active time window (IIRC), so it wouldn't have been an

[2015-08-05 04:37] softrunit commented on #278
[code]

[2015-08-05 14:17] barbeau commented on #278
Thanks @softrunit!  I've been doing work trying to finish off the develop branch and get it out at least into an alpha in the next week or so.  Is that reasonable for your timeline?  Or is this something that you'd prefer to see get pushed out to production in a hotfix (e.g., if this is affecting users of your deployment)?

[2015-08-05 16:36] softrunit commented on #278
Thanks Sean, we would prefer hotfix asap if possible. In fact, I was going
to work on it in our fork to get it patched today. I can send you patch
unless u get to it first. Let me know what your day look like.

On Wed, Aug 5, 2015 at 8:17 AM, Sean Barbeau <notifications@github.com>
wrote:

[2015-08-05 17:31] barbeau commented on #278
@softrunit Yes, if you have a patch please go ahead and submit it as a PR against the master branch.  That would be the fastest resolution.

[2015-08-05 21:18] barbeau opened #279 "AdapterTest.testAdapterB test is erroring out"
For `develop` branch, it shows the error:

[code]

Based on some searching [SO posts](http://stackoverflow.com/questions/26524048/upgrading-to-sdk-21-error-inflating-class-android-support-v7-internal-widget-a), it appears this is due to the use of the `android:background="?attr/selectableItemBackground"` element for the ImageButtons in `arrivals_list_item_style_b.xml`.  Apparently these are only f

[2015-08-05 22:09] barbeau commented on #279
Failure on Travis:
https://travis-ci.org/OneBusAway/onebusaway-android/builds/74317674

[2015-08-05 23:29] softrunit commented on #278
@barbeau pull request is in progress.

[2015-08-06 13:07] barbeau commented on #278
PR at https://github.com/OneBusAway/onebusaway-android/pull/280

[2015-08-06 17:37] barbeau commented on #278
New PR at https://github.com/OneBusAway/onebusaway-android/pull/281.

[2015-08-06 20:51] barbeau commented on #279
Fixed in develop via https://github.com/OneBusAway/onebusaway-android/commit/3a5c51545cc662a485a1818b453a3fa5ddf9b876.

[2015-08-06 20:51] #279 closed

[2015-08-06 21:43] barbeau opened #282 "Exceeding dex method limit"
The Amazon debug build of OBA [just failed on Travis](https://travis-ci.org/OneBusAway/onebusaway-android/builds/74476479) due to too many methods:

[code]

The error in Android Studio looks like:

[code]

Interestingly, Amazon must have more methods in their Maps API library, because the Google build is still working.  So, looks like we need to check out [multi-dex](https://developer.android.com/

[2015-08-06 21:51] barbeau commented on #282
There is an option on the Google side of things that may help even the Amazon build, instead of enabling multi-dex (which has performance implications when building - i.e., slows down builds).  Instead of bundling all of Google Play Services, you can now selectively bundle just maps, etc.

See "Selectively compiling APIs into your executable" here:
https://developers.google.com/android/guides/setu

[2015-08-06 21:55] barbeau commented on #282
Changing to selectively compiling Google Play Services seems to bring the method count down to the point where Amazon flavor builds again.  Additionally, this allow us to eliminate the Google Maps libraries, but not Google Analytics or Location, which are needed on Amazon flavor, from the Amazon build.

[2015-08-06 23:05] barbeau commented on #282
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/fa9490c66cb81bd7f8ca3fac8d9742f23b48c524.

[2015-08-06 23:05] #282 closed

[2015-08-13 17:22] barbeau opened #283 "Add Google Analytics to new features"
I'd like to get an alpha release out soon based on the current `develop` branch, but before that we need to add Google Analytics to a few of the new items we've added recently.  Off the top of my head, this includes:

* Route favorties - starring and unstarring a route/headsign combination for a specific stop, or selecting to star it for all stops
* Arrival times style - we will be switching to a

[2015-08-13 17:41] cagryInside opened #284 "MyRoutesActivity has full package name in Google Analytics reports"
In the Google Analytics console every screen name should have only the activity or fragment name not the full package name.

![screen shot 2015-08-13 at 1 37 38 pm](https://cloud.githubusercontent.com/assets/2777974/9256967/eaec3f78-41c0-11e5-9c6e-fbd590e11e5f.png)

[2015-08-13 17:56] cagryInside commented on #284
Same problem happens for ```RegionsActivity```.

![screen shot 2015-08-13 at 1 54 10 pm](https://cloud.githubusercontent.com/assets/2777974/9257356/23312c7a-41c3-11e5-829d-25a222837cbe.png)

[2015-08-13 19:59] #278 closed

[2015-08-14 15:05] cagryInside commented on #283
@barbeau Do we have the latest UI changes in develop branch?

[2015-08-14 15:49] barbeau commented on #283
Yes, all UI changes are in the develop branch.  Develop is the current HEAD for the entire project.

[2015-08-14 17:09] barbeau commented on #176
Icons being used for vehicle positions in HART's new web UI are here:
https://github.com/camsys/onebusaway-application-modules/tree/hart/onebusaway-enterprise-webapp-norealtime/onebusaway-enterprise-acta-webapp/src/main/webapp/img/realtime/vehicle

[2015-08-14 21:08] barbeau commented on #155
Hi all!  I've been able to get back to some of this UI work recently, and wanted to share what we currently have.  Thanks again to everyone that's provided feedback so far, it's definitely improved the design, IMHO.

For this redesign, I want to stick to the main app flow that OBA users are familiar with, which is tapping on a bus stop icon to get information about that stop.  When you tap on a st

[2015-08-14 21:40] barbeau commented on #158
Sorry!  Just realized I never posted the final URL for production Fire Phone release here.  You can download OneBusAway Fire Phone from [Amazon App Store](http://www.amazon.com/gp/mas/dl/android?p=com.joulespersecond.seattlebusbot)!

[2015-08-15 16:27] MartinDesigner commented on #155
![imghome](https://cloud.githubusercontent.com/assets/13809960/9289329/0bef602c-436c-11e5-80fc-3ec07f82dd8d.jpg)
So, as a supplement, however as a main point try this amazing free app. Createer.com is an online software for easily designing online ads, responsive landing pages and print materials such as flyers, posters, covers, invitations and more. Createer lets you easily share your designs on

[2015-08-15 23:43] bendu commented on #120
Is anyone working on this? I'm willing to volunteer some time to make this happen.

[2015-08-15 23:55] barbeau commented on #120
@bendu Nope, feel free to give it a shot!  Any help is appreciated!  I would definitely work off the `develop` branch for this.

[2015-08-15 23:59] bendu commented on #120
Thanks @barbeau

[2015-08-17 15:09] cagryInside commented on #155
@barbeau How does the alerts look like in the new UI design?

[2015-08-17 15:28] barbeau commented on #155
@cagryInside I haven't tested this in a while, but they should look like the screenshots [here](https://play.google.com/store/apps/details?id=com.logictree.ontime), in terms of how they are presented in the sliding panel.  Tapping on them should open the alert in a new `SituationFragment`.  This is definitely something we should test further, though.

[2015-08-17 15:48] jrharshath commented on #155
The RideTime screenshots sure look very similar to our OBA :)

[2015-08-17 17:07] barbeau commented on #155
@jrharshath :)  Hopefully we'll see more rebranding implementations inside the main project now that we support white-labeling (https://github.com/OneBusAway/onebusaway-android/pull/252).

[2015-08-18 14:46] cagryInside commented on #155
The ```my location``` button has shadow on Motorola Nexus 6:

![device-2015-08-18-103937](https://cloud.githubusercontent.com/assets/2777974/9333160/5553db86-4596-11e5-8aba-a56404f0fe4f.png)

[2015-08-18 15:35] barbeau commented on #155
@cagryInside Thanks!  I've noticed this on my LG G4 too.  I'll take a look again at the design support library that this button comes from - there was a workaround you had to do in earlier versions of the support library to get the button to render properly on Gingerbread, which I believe is fixed now.  Maybe this workaround is now causing problems with the updated design support library.

[2015-08-18 15:59] cagryInside commented on #284
![screen shot 2015-08-18 at 11 40 33 am](https://cloud.githubusercontent.com/assets/2777974/9335127/4876dec2-45a0-11e5-94ec-bf471818b8d7.png)

We don't have ```TripListActivity``` in the ```develop``` branch. When we switch the ```develop``` branch in production, this issue will be resolved.

[2015-08-18 17:22] cagryInside commented on #155
@barbeau I have also noticed this on the ```Amazon firephone```, its a little bit different than the nexus device:

![device-2015-08-18-103937](https://cloud.githubusercontent.com/assets/2777974/9337226/1c654740-45ac-11e5-94a2-5e8db8d5cafd.png)

[2015-08-18 22:27] barbeau commented on #155
Thanks!  Yeah, I think this shows up differently on Lollipop than previous API levels, IIRC.  IIRC the way its shown on Fire Phone is the way it appears on all non-Lollipop devices (and strangely, the main shadow there renders correctly).  I'll have to dig into this further...

[2015-08-18 22:38] barbeau commented on #284
@cagryInside Good point, I believe I refactored this to `MyRemindersActivity` for clarity.

[2015-08-18 22:39] barbeau commented on #284
And, the fragment also to `MyRemindersFragment`.

[2015-08-19 16:10] barbeau commented on #284
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/pull/285.

[2015-08-19 16:10] #284 closed

[2015-08-20 17:38] cagryInside commented on #283
@barbeau please find Google Analytics implementations below. IMO, ```Arrival times style``` implementation is fine, however I am pushing too many long labels in the ```Route favorties``` implementation. In this case, we can use secondary dimensions, but then we will be using a dimension for  very specific ```label```.

Implementation:

| Event Category  | Event Action | Event Label |
| -----------

[2015-08-20 17:49] barbeau commented on #283
@cagryInside Looks good!  My only change would be for tracking route favorites, it should be `<route_id> and <headsign> for <stop_id> or <All stops>`.  This would allow us to track which direction of a route the user was starring.

[2015-08-20 17:58] cagryInside commented on #283
Now the route favorites looks like this:

| Event Category  | Event Action | Event Label |
| ------------- | ------------- | ------------- |
| ui_action  | edit_field  | Starred route `<head_sign>_<route_id> for <stop_id> or <All stops>` |
| ui_action  | edit_field  | Unstarred route `<head_sign>_<route_id> for <stop_id> or <All stops>` |

![screen shot 2015-08-20 at 1 55 54 pm](https://cloud.gith

[2015-08-20 20:28] barbeau commented on #283
@cagryInside Any reason in particular its not in the order `routeId_headsign`?  I would think this would be a more natural ordering.  Plus, we'd be guaranteed that the first "_" would always separate the agency and routeId - if we move routeId after headsign, we can no longer guarantee that, as headsign GTFS text won't be pre-processed, but routeId and agencyId will.

[2015-08-20 21:16] barbeau commented on #155
@cagryInside I believe the clipped/rectangular shadow for the MyLocation FAB on Lollipop should now be fixed in the `develop` branch, if you want to try that again on your Nexus 6.  I believe the non-Lollipop devices will still appear the same (or very similar) to the above Fire Phone screenshot.  I tested an HTC EVO Shift with Android 2.3.4, and the white circle appears all the way around the but

[2015-08-21 18:01] cagryInside commented on #283
Fixed in commit https://github.com/cagryInside/onebusaway-android/commit/9b481f7bf6d1f4dbe37a6a0f7343970e4ac636d6#diff-f5287a81d12fc959d16389e79aa779a4R1267

[2015-08-21 18:38] barbeau commented on #283
Thanks @cagryInside!

[2015-08-22 23:44] bendu commented on #120
I've put together an arrivals list. I'm thinking of replacing "Show route information" with "Show trip details" in the arrivals list to enter this view since they provide nearly identical information except for the the route stops in the reverse trip.

It's been a while since I used OBA on iPhone, are the times displayed there the real time arrival times? The ones provided by the trip-details endp

[2015-08-23 00:57] bbodenmiller commented on #120
iPhone appears to be showing realtime but does not properly indicate that it is realtime:

![image](https://cloud.githubusercontent.com/assets/1192780/9426450/04ffdea0-48f7-11e5-9203-ca6a801a0058.jpg)
![image](https://cloud.githubusercontent.com/assets/1192780/9426452/0a53a396-48f7-11e5-830b-c2e96f797858.jpg)
![image](https://cloud.githubusercontent.com/assets/1192780/9426453/10855ca0-48f7-11e5-87

[2015-08-23 02:22] barbeau commented on #120
@bendu Looking good!  Thanks again for working on this.

@aaronbrethorst or @bbodenmiller can you confirm that "Trip Schedule" screen on iPhone is actually showing real-time info, and if so, that it's calculating them by applying the `scheduleDeviation` to the schedule times?

Here's an example of the API call that's being used:

http://api.tampa.onebusaway.org/api/where/trip-details/Hillsborough%

[2015-08-26 12:31] jrharshath opened #287 "Distinguish between arrivals and departures clearly at terminal stops for routes"
The stop info screen for a regular stop shows only departures from that stop, but that screen of a terminal stop shows departures as well as arrivals. This is inconsistent with the behavior of all other stop info screens.

Let me know how you guys think this can be addressed.. My suggestion is to show the schedules/predicted arrival time underneath/beside the scheduled departure time if that route

[2015-08-26 13:08] barbeau commented on #17
See also the same issue on OTP Android:
https://github.com/CUTR-at-USF/OpenTripPlanner-for-Android/issues/415

[2015-08-26 13:56] barbeau commented on #287
@jrharshath I agree that arrivals and departures aren't very clearly displayed on Android currently.

Can you provide examples of how this is clearly displayed elsewhere?  I thought OBA Android was consistent(ly bad) as the other platforms in this regard.

Also, your screen shot didn't seem to upload correctly - could you please repost?

I'd also like to figure out how this could be better display

[2015-08-26 16:49] barbeau commented on #287
Actually, here is the newest UI for OBA Android (above link is a bit dated now):
https://github.com/OneBusAway/onebusaway-android/issues/155#issuecomment-131239723

[2015-08-26 19:04] barbeau opened #288 "Consider using ArrayMap or SimpleArrayMap instead of HashMap"
From https://medium.com/google-developers/developing-for-android-ii-bb9a51f8c8b9 (written by Android team):

We should benchmark memory/execution performance and see if its worth switching.  Off the top of my head, we're currently using several HashMaps in the implementation of the marker overlays for Google/Amazon Maps.

[2015-08-26 21:26] barbeau commented on #287
Related to this issue - it would be nice to have a filter option per stop to show only departing routes (i.e., trips with `stopSequence = 0`).  This would cut down on the noise of arrivals of the same route name (not including headsign) that are incoming, not outgoing.

[2015-08-26 22:11] barbeau commented on #187
We recently found out that Manatee County, which would also be covered by OBA Tampa, is using PublicStuff as their issue reporting vendor:
https://www.mymanatee.org/home/contact-us-form/publicstuff-request.html

This is in addition to Pinellas and potentially HART using SeeClickFix:
http://seeclickfix.com/pinellas_county

So, it looks like we need to design to support more than one Open311 API end

[2015-08-26 22:18] bbodenmiller commented on #187
I'm not completely up to speed on this issue however keep in mind that certain agencies overlap. For example in Puget Sound, many agencies operate within the City of Seattle.

[2015-08-27 13:42] barbeau commented on #187
@bbodenmiller True!  In the case of issue reporting, though, we're typically talking about a government entity (usually county or city) signing up for a commercial service like SeeClickFix or PublicStuff.  In the cases we've seen so far, this requires coordination with other overlapping jurisdictions - otherwise a citizen doesn't ultimately know where to report a problem too.  For example, Pinella

[2015-08-31 15:56] barbeau commented on #27
Just saw the same issue of the network randomly resetting a user's clock in Tampa too:

![image](https://cloud.githubusercontent.com/assets/928045/9583084/539c2dd4-4fd7-11e5-92cd-c0220b14fa4d.png)

[2015-08-31 17:11] barbeau opened #289 "Jumping markers on Maps v2"
*For `develop` branch*

I'm seeing markers jump around on the map on Android Maps API v2 even when nothing is happening in the app.

Here's a video of the behavior:

https://youtu.be/cOUGD0T5Ojs

*What I expect*

Markers should remain stationary at their originally added lat/long.

*What steps will reproduce the problem?*

* 1a. Download the APK from:
https://dl.dropboxusercontent.com/u/46443835/O

[2015-08-31 17:13] barbeau commented on #289
I've also posted to StackOverflow on this problem:
http://stackoverflow.com/questions/32276570/jumping-markers-on-android-maps-api-v2

There have been a few upvotes so far, so I guess we're not the only ones seeing this.

[2015-08-31 18:57] barbeau opened #290 "Notification.setLatestEventInfo() is removed in API Level 23"
*`master` branch*

If we update `compileSdkVersion` to `23`, it no longer builds:

`Notification.setLatestEventInfo()` has been deprecated for a while, and has caused problems in the past (see #104).

We should finally remove it.

[2015-08-31 19:11] barbeau commented on #289
And a post to the Google+ Android Developers community:
https://plus.google.com/u/0/+SeanBarbeau/posts/RrSYWxy7NUt

[2015-08-31 19:27] barbeau commented on #289
I just pushed https://github.com/OneBusAway/onebusaway-android/commit/01b35e9a07313a627843819d66b3f6a9bb7e848f to the `develop` branch, which changes to caching `Bitmaps` instead of `BitmapDescriptors` for map icons.  If Maps API v2 implementation is doing some kind of recycling of `BitmapDescriptors` this could potentially fix the problem.

@cagryInside could you start running this on your Nexus

[2015-09-01 13:17] barbeau commented on #289
I'm still seeing the problem, so looks like switching from caching `BitmapDescriptors` to `Bitmaps`, and changing to using `ContextCompat.getDrawable()`,  didn't have any effect.

[2015-09-01 13:20] cagryInside commented on #289
@barbeau Just checked with my nexus 6, I don't see the problem. But, I rolled back the latest development, I still don't see the problem. So, I don't think it did any effect.

[2015-09-01 13:32] barbeau commented on #289
Yeah, this one has been tricky to reproduce.  After doing a new debug install it doesn't always happen right away.  Seems like after a while something breaks in the Maps API implementation, and after this happens then the jumping markers persist for a while.  It also seems to happen per-app - last night I saw the issue in OBA, and switched to the [maps-demo project](https://github.com/barbeau/maps

[2015-09-09 15:35] barbeau commented on #155
I've been working on adding the red/green/blue indicators for early/ontime/late status to the new UI.

Here's how the cards currently look:
![image](https://cloud.githubusercontent.com/assets/928045/9766018/fa225156-56e4-11e5-9ddf-d788fb2d5b09.png)

I'm also trying to figure out a way to add it to the sliding panel header, but this one has been a little more difficult.  The goal is to allow users

[2015-09-09 18:21] barbeau commented on #287
To improve this in the clients, I believe we need a new element in the REST API response indicating whether or not a stop is the last stop in a trip - see https://github.com/OneBusAway/onebusaway-application-modules/issues/148.

@jrharshath Just wanted to ping you again on the above questions earlier in this thread that I asked, when you get a chance to respond.

[2015-09-09 20:32] barbeau commented on #187
Another feature we need to support is submitting general feedback to a customer service-specific email address.  For example, the "my bus driver was rude" and "lost and found" feedback needs to go to straight customer service, not the department managing OneBusAway.

I think this customer feedback email address will need to be per-transit agency (i.e., we'll have several per region), so the best p

[2015-09-11 15:10] barbeau opened #291 "Show stop number/code within the app"
Several users have requested this, as it helps them report problems about a stop to the agency.

[2015-09-11 20:56] erick03 commented on #290
Did you find a solution for that?

[2015-09-11 21:02] barbeau commented on #290
@erick03 If you mean a solution for being able to update `compileSdkVersion` to `23`, we need to create and register a new notification instead of calling `Notification.setLatestEventInfo()`.

From my conversation [here](https://code.google.com/p/android/issues/detail?id=73720#c5) with Google on the best practice for updating notifications:

**Me:**

**Google:**

So the solution is to implement th

[2015-09-14 21:22] barbeau commented on #6
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/9a221082bcaae85f710265c5b8c25c2eef21e495.

[2015-09-14 21:22] #6 closed

[2015-09-14 21:22] barbeau commented on #6
Will open another issue specific to routes

[2015-09-14 21:24] barbeau opened #292 "Allow for changing the sort order for routes"
Sorting order for stops was implemented via https://github.com/OneBusAway/onebusaway-android/issues/6.

We should provide similar sorting order for frequent/starred routes.

[2015-09-15 21:53] barbeau commented on #187
@cagryInside Could you put together another screenshot that looks like [this](https://cloud.githubusercontent.com/assets/2777974/7334217/7428e992-eb5b-11e4-886c-8a4cd3bf74d6.png), but includes a new "customer service" feedback category too?

I'd like to be able to show this to Sound Transit and HART on Thurs.

Let's put it on the top, with the title:

...and the subtitle:

This would probably lead

[2015-09-15 22:00] bbodenmiller commented on #187
Do you know if there is any situations where an agency wouldn't have a feedback email but rather only a feedback website?

[2015-09-15 22:12] barbeau commented on #187
@bbodenmiller It's possible - in that case, I suppose we'd direct them to GTFS agency.txt `agency_url`.  Or, a new GTFS agency.txt `customer_service_url` that doesn't exist yet, if `agency_url` doesn't work (it may not).  We'd need to see what the real-world scenarios are for the current OBA agencies.

[2015-09-16 19:16] barbeau commented on #187
Here's the screenshot that @cagryInside put together that includes a customer service element:

![image](https://cloud.githubusercontent.com/assets/928045/9915584/dcb6a54e-5c85-11e5-9a80-f03c2ae91604.png)

[2015-09-18 14:49] barbeau commented on #187
After talking with HART, Puget Sound, and ARC, we're going to make phone call or email an option for the "Contact Customer Service".  In GTFS, `agency_phone` already exists in `agency.txt`, so we can pull that from the existing GTFS data, as long as the agency populates it.

[2015-09-18 15:06] barbeau commented on #283
This is fixed in `develop` branch via https://github.com/cagryInside/onebusaway-android/commit/9b481f7bf6d1f4dbe37a6a0f7343970e4ac636d6 and https://github.com/cagryInside/onebusaway-android/commit/9b481f7bf6d1f4dbe37a6a0f7343970e4ac636d6#diff-f5287a81d12fc959d16389e79aa779a4R1267.

[2015-09-18 15:06] #283 closed

[2015-09-18 15:07] barbeau commented on #291
Whoops, this is a duplicate of https://github.com/OneBusAway/onebusaway-android/issues/171, so I'm closing this issue.

[2015-09-18 15:07] #291 closed

[2015-09-18 15:59] barbeau opened #293 "android.content.res.Resources$NotFoundException: Resource ID #0x0"
For `develop` branch:

Occasionally when I go back to the app and it resumes, it crashes and I see this exception:

[code]

Looks like its caused by this code getting the drawable for the AlertList:

[code]

[2015-09-18 20:39] barbeau commented on #293
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/40540cd81dead067d65b1af8b94e39bede69ecec.

[2015-09-18 20:39] #293 closed

[2015-09-18 20:55] barbeau opened #294 "Sliding panel header can appear fully transparent/untouchable"
For `develop` branch:

Occasionally when you tap on the stop and the bottom sliding panel appears, the header can turn fully transparent and isn't touchable - all tap/touch events are passed to the map.  You can only see the shadow of the header on the map:

![image](https://cloud.githubusercontent.com/assets/928045/9970826/cf46782a-5e25-11e5-9fac-155d53a63e21.png)

This only seems to happen when

[2015-09-18 21:01] barbeau commented on #294
A different symptom which I believe is related to the same problem is shown below, where the header/sliding panel fails to properly resize itself when changing from a stop with two arrivals in the header, to one with only one arrival in the header.  The result is the panel collapsed to the "bottom" of the screen, but it doesn't actually make it all the way to the bottom:

![image](https://cloud.gi

[2015-09-18 21:02] barbeau commented on #294
When the sliding panel header disappears, I'll see ADB output with negative slide offsets, like:

[code]

[2015-09-18 21:10] barbeau commented on #294
After some debugging, when tapping on a stop and the sliding panel header disappears, `onPanelHidden()` is being called within the `SlidingUpPanelLayout.PanelSlideListener` set up in `HomeActivity`.  This shouldn't be happening - the only time we're hiding the sliding panel is when the user taps on the map away from the stop.

[2015-09-20 02:22] bendu commented on #120
I traced through the [source code](https://github.com/OneBusAway/onebusaway-iphone/blob/2c3de527342f672ab8f7fcfba59a9ba82ce14f64/ui/trip_details/OBATripScheduleListViewController.m#L318) for OBA-iphone. It appears that schedule deviation is being added on to the scheduled stop time.

@barbeau Thanks for the feedback. I will remove stop direction and put up a PR soon. I've been a bit busy lately so

[2015-09-20 03:35] barbeau commented on #120
Cool!  Thanks for your work on this.  Above graphic is just a mockup I put together.  I think it can be accomplished with some XML shape drawables in the layout of the list item - its basically just a circle and line that's stylized based on the position of the element in the list.

It will be nice to get this feature into the app, another user just asked for it the other day.

[2015-09-21 16:15] barbeau commented on #294
Past attempt at fixing this that was unsuccessful:
https://github.com/OneBusAway/onebusaway-android/commit/fb0ae445a5b4177a633bccac29d51aa902726db1

[2015-09-21 19:35] barbeau commented on #294
I just pushed another commit to try and help with this issue - it doesn't fix it, but it seems to happen far less frequently.

I think this issue is triggered when the header is resized before it completely makes the transition from HIDDEN to COLLAPSED.

[2015-09-21 20:02] barbeau commented on #294
Well, even if I move all the header resize execution into the slide panel controller so it only executes after the panel is in the COLLAPSED state, the issue still happens:

[code]

So something in the view resize seems to be pushing it below the bottom of the screen (even after the panel transition is finished), which triggers the panel to hide itself.

[2015-09-21 20:54] barbeau opened #296 "NPE on startup due to null GoogleMap"
For `develop` branch:

When starting the app on a Samsung Galaxy S3 with Android 4.4.4 (CyanogenMod):

[code]

Changing to the new async callback `onMapReady()` may fix this.

[2015-09-21 21:10] barbeau commented on #296
Looks like this was caused by Google Play Services being out of date on this device, and needing an update from the Play Store.  The current code ends up throwing an NPE in that situation.

[2015-09-21 21:22] barbeau opened #297 "NPE when tapping on ETA in header"
For `develop` branch:

On Samsung Galaxy S3 with Android 4.4.4 (CyanogenMod):

[code]

[2015-09-21 21:30] barbeau commented on #296
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/f295b97bbd6e480190d5623b44e728fc0dd2e4e4.

[2015-09-21 21:51] barbeau commented on #296
Apparently this async method doesn't exist on Amazon?

This failed:
https://travis-ci.org/OneBusAway/onebusaway-android/builds/81476987

[2015-09-22 15:15] barbeau commented on #296
Full error trace on Amazon:

[code]

[2015-09-22 15:26] barbeau commented on #296
Apparently OnMapReadyCallback is available in the newest version of the Amazon Maps library.  Looking to update now...

[2015-09-22 15:32] barbeau commented on #296
Amazon build should now be fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/3550343c9d130e9bc0252377bb06e51bae46d247.

[2015-09-22 15:32] #296 closed

[2015-09-22 15:33] barbeau commented on #297
Same crash on Amazon Fire Phone w/ Android 4.4.4:

[code]

[2015-09-22 18:52] barbeau commented on #297
Looks like this is a bug in Android that affects Android 4.4.3 and 4.4.4:
https://code.google.com/p/android/issues/detail?id=75877

It seems to be fixed in Android 5.1, as it doesn't crash on an LG G4 with Android 5.1.

There is a workaround, which is to set the layout parameters in code:

`statusView.setLayoutParams(new ViewGroup.LayoutParams(ViewGroup.LayoutParams.WRAP_CONTENT, ViewGroup.LayoutP

[2015-09-22 18:55] barbeau commented on #297
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/f1bd35be8445dfab7bd73c124eaadb88c7143dbe.

[2015-09-22 18:55] #297 closed

[2015-09-22 22:21] barbeau opened #298 "Add analytics to the "Sort By" buttons, negative arrival setting"
In `develop` branch, there are now "Sort By" buttons in the Action Bar for the `ArrivalsListFragment` (which sorts arrivals by route or ETA), as well as `MyStarredStopsFragment` (which sorts stops by name or frequency of use in the app).

We need to add Google Analytics to both of these.

@cagryInside Would you be able to work on this tomorrow morning so I can get a new alpha release out tomorrow?

[2015-09-22 22:21] barbeau commented on #298
Also, for `MyStarredStopsFragment`, there will likely be a "Sort by proximity" in the future - it doesn't exist now.

[2015-09-23 11:56] barbeau commented on #298
Forgot another one - I added a setting for turning on/off negative arrivals.  We should add analytics to this too.

[2015-09-23 13:53] barbeau commented on #289
I haven't seen this issue lately, and I noticed that Google Play services on my device was bumped to 8.1.15.  So, maybe it was fixed with an update of Google Play services?

@cagryInside (or anyone else) - if you see this problem again, please let me know, and let me know which version of Google Play services your device has.

[2015-09-23 14:26] cagryInside commented on #298
@barbeau I implemented the Analytics as following, if you are also agree on them, I will open a pr.

 Event Category  | Event Action | Event Label |
| ------------- | ------------- | ------------- |
| app_settings  | general  | Show Departed Buses: YES |
| app_settings  | general  | Show Departed Buses: NO |
| ui_action  | button_press  | Clicked sort by ETA from ArrivalsListFragment |
| ui_action

[2015-09-23 14:52] barbeau commented on #298
@cagryInside Thanks, looks good to me!

[2015-09-23 15:07] barbeau commented on #202
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/907ab2a22b67688b94265fcc96af14f2c5c75901.

[2015-09-23 15:07] #202 closed

[2015-09-23 15:20] barbeau commented on #180
Fixed in `develop` branch via https://github.com/OneBusAway/onebusaway-android/commit/bbad77551b3a3c84514e5d76f6d663f88c2c5e61.

[2015-09-23 15:20] #180 closed

[2015-09-23 20:10] cagryInside commented on #298
Fixed via https://github.com/OneBusAway/onebusaway-android/pull/299#event-417368586

[2015-09-23 20:12] #298 closed

[2015-09-24 04:46] barbeau opened #300 "v2.0.4 alpha is crashing"
For `develop` branch:

On starting the app, this happens:

[code]

[2015-09-24 05:07] barbeau commented on #300
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/ae0791334137babfb26fbb578af046bdfcbb3578.  I'll do another alpha release to fix this.

[2015-09-24 05:07] #300 closed

[2015-09-24 14:08] barbeau opened #302 "Allow OBA Android to be multiwindow"
Requested by user:

I'm not sure what all needs to happen in OBA Android to make this work, but it would be very useful.

Here's a general article about multi-window on Note 4.0:
http://www.androidcentral.com/multitasking-samsung-galaxy-note-4-0

[2015-09-24 21:28] barbeau commented on #294
It looks like the header is also disappearing when trying to edit the bus stop name and the keyboard is expanded/collapsed - see video here:
https://www.youtube.com/watch?v=0Q7osS8SQuE&feature=youtu.be

I commented here on the AndroidSlidingUpPanel project with the exact steps to reproduce, to see if we can get some traction there:
https://github.com/umano/AndroidSlidingUpPanel/issues/538#issuecom

[2015-09-24 21:49] barbeau opened #303 "Header can drift out of sync with arrival time list"
Header times can sometimes drift by 1 min early, when compared to list times in the sliding drawer. This is because the ETA is recalculated from local in the header when the sliding panel moved, but not in the list. We should look at refreshing both from local data when the panel slides to keep them in sync

[2015-09-24 21:51] barbeau opened #304 "Service Alerts fragment requires two "back" button taps to remove it"
We should open this fragment in its own activity when opening from HomeActivity and the ArrivalListFragment.

[2015-09-24 21:52] barbeau opened #305 "Report trip/stop fragments require two "back" button taps to remove it"
We should open these fragments in their own activity when opening from HomeActivity and the ArrivalListFragment.

[2015-09-24 21:53] barbeau opened #306 "Frequency-based arrivals aren't shown correctly in header"
Frequency-based arrival times without real-time data should have a "~" in front of them (header of sliding panel).

[2015-09-24 21:54] barbeau opened #307 "Sometimes the MyLocation FAB doesn't always end up in the right position"
This is an intermittent issue.

[2015-09-24 21:57] barbeau opened #308 "Allow sorting starred stops by proximity"
Also add [ArrowView](https://github.com/OneBusAway/onebusaway-android/blob/develop/onebusaway-android/src/main/java/org/onebusaway/android/view/ArrowView.java) and [DistanceToStopView](https://github.com/OneBusAway/onebusaway-android/blob/develop/onebusaway-android/src/main/java/org/onebusaway/android/view/DistanceToStopView.java) so users can see which direction the bus is, and how far away it is

[2015-09-24 21:58] barbeau opened #309 "Improve search, including integration of recent stops/routes feature"
Implement recent routes/stops via search in action bar (see [FTS tables](http://blog.andresteingress.com/2011/09/30/android-quick-tip-using-sqlite-fts-tables/)) - see Searchable Directory legacy sample app.  Use `android:searchSuggestAuthority="${applicationId}.provider.ObaProvider">`.  Enable [voice search](https://developer.android.com/guide/topics/search/search-dialog.html#VoiceSearch).

[2015-09-24 21:58] barbeau opened #310 ""No arrivals" message in header isn't hidden when editing the stop name"

[2015-09-24 22:00] barbeau opened #311 "Reminder doesn't appear if you switch between sorted route/eta adapters"
Within the sliding panel for arrival info, if there is a reminder icon showing, when you switch the arrivals sorting option it disappears.  Only way to make it re-appear is to close the panel and re-open.

[2015-09-24 22:01] barbeau commented on #305
Note that this is also used in #187 implementation for improving issue reporting, so we shouldn't change the behavior of the fragment itself.

[2015-09-24 22:10] barbeau opened #312 "Clearing the route info header clears the currently selected stop"
If you go to route view (e.g., tap on map icon in arrivals list, sorting by route), it opens the map with the stops for that route.  If you tap on the stop to show times, but then click the "X" in the header to show all stops (instead of just stops for that route), it clears the currently selected stop as well (but leaves the sliding panel in the collapsed state).

We should leave the currently se

[2015-09-24 22:16] barbeau opened #313 "Add a brief tutorial for how to use features in the v2.0 app with new UI"
I've used this library in other apps:
https://github.com/amlcurran/ShowcaseView

...but its now deprecated.

@cagryInside or anyone else - know any good Android libraries to take the user on a tour of new features in your app?

@cagryInside I know you did a version of showing screenshots for #187.  If possible I'd like to have an interactive one for some of the core features in the app, just to in

[2015-09-24 22:28] barbeau commented on #302
Looks like this actually may be relatively simple.  From http://www.modaco.com/news/android/developers-add-support-for-samsung-multi-window-to-your-apps-r823/:

<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:resource="@dimen/app_defaultsize_w" />
<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:resource="@dimen/app_defaultsize_h" />
<meta-d

[2015-09-24 22:38] barbeau commented on #191
This would likely be accomplished as part of #25, trip planning.

[2015-09-24 22:40] barbeau commented on #24
I believe this has been fixed - if anyone is aware of this still happening, please let me know.

[2015-09-24 22:40] #24 closed

[2015-09-24 22:45] barbeau commented on #58
This should be fixed in the current `develop` branch.  I'll re-open if I see anything going wrong with up navigation.

[2015-09-24 22:45] #58 closed

[2015-09-24 22:48] barbeau commented on #16
I'm closing this as a duplicate of https://github.com/OneBusAway/onebusaway-android/issues/82.

[2015-09-24 22:48] #16 closed

[2015-09-24 22:50] barbeau commented on #14
I believe this is a duplicate of https://github.com/OneBusAway/onebusaway-android/issues/120, so I'm closing as duplicate - if it's not, someone please correct me.

[2015-09-24 22:50] #14 closed

[2015-09-24 22:54] barbeau commented on #30
I recently tried to implement this (see [this commit](https://github.com/OneBusAway/onebusaway-android/commit/1de62ee1943414062d394d63c634145ea2ab8121), and the only configuration I could find was defaulting to the numeric keyboard, but this also prevents you from entering alpha values.  As far as I can tell you can't default to numeric pad but still allow the user to switch to alpha.  And, becaus

[2015-09-24 22:57] barbeau commented on #23
This is fixed in `develop` with the new icon images (has been for a while), so I'm closing this:

![image](https://cloud.githubusercontent.com/assets/928045/9262935/e6512afc-41e6-11e5-9136-299ab6b1e798.png)

[2015-09-24 22:57] #23 closed

[2015-09-24 23:00] barbeau commented on #108
This issue should be obsolete with the new UI in #177 - users can now see arrivals with route names in the bottom sliding panel after clicking on stop.  As this is implemented in `develop`, I'm closing this.

[2015-09-24 23:00] #108 closed

[2015-09-25 13:40] barbeau opened #314 "Sliding panel header can disappear when trying to edit stop name"
Likely related to #294, first discussed at https://github.com/umano/AndroidSlidingUpPanel/issues/538#issuecomment-143052931 and https://github.com/OneBusAway/onebusaway-android/issues/294#issuecomment-143055668.

The sliding panel header can disappear when trying to edit the bus stop name.  The problem seems to be triggered when opening the soft keyboard and calling the sliding panel `setPanelHeig

[2015-09-25 13:46] barbeau commented on #314
A workaround for this is to keep the panel the same size and don't resize it when editing the stop name.  This workaround has the negative side effect of the header taking up more space than it needs to, which looks somewhat awkward and blocks some of the map that should otherwise be visible behind it.  If using a shortcut, it takes up more room that could be occupied by more arrival info rows.

[2015-09-25 13:46] barbeau commented on #294
A workaround for this is to keep the panel the same size and don't resize it when the number of arrivals changes.  This workaround has the negative side effect of the header taking up more space than it needs to, which looks somewhat awkward and blocks some of the map that should otherwise be visible behind it.  If using a shortcut, it takes up more room that could be occupied by more arrival info

[2015-09-25 14:10] barbeau commented on #289
Talking to @cagryInside today, he hasn't seen this on his Nexus 6 recently either - currently running Play Services 8.1.15.  I'm going to close this for now, and will re-open if we see the problem again.

[2015-09-25 14:27] barbeau commented on #25
@sheldonabrown This is the official ticket for trip planning on OBA Android.  Just wanted to tag you so you received any updates here.

[2015-09-26 03:30] barbeau commented on #25
I've started some work on fleshing out how this may fit into the current OBA UI navigation flow.  Here's the branch:
https://github.com/OneBusAway/onebusaway-android/tree/25-tripPlan

Basically, this adds another navigation drawer option that opens to a new activity where the trip planning UI would start:

![image](https://cloud.githubusercontent.com/assets/928045/10115602/6e958f32-63db-11e5-89ec-

[2015-09-28 18:26] barbeau commented on #25
Some mockups for the possible look of the trip planning activity flow follow.

First trip planning screen is on the left - user taps on the "Plan My Trip" button, and sees the initial results screen shown on the right:

![image](https://cloud.githubusercontent.com/assets/928045/10144553/4bf4d3e4-65ec-11e5-9a1f-d9e648621ab1.png)

By tapping on the map icon in the upper right-hand corner, the user c

[2015-09-28 21:13] barbeau commented on #120
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/issues/120.

[2015-09-28 21:13] #120 closed

[2015-09-28 21:16] barbeau opened #315 "Tapping refresh button in ArrivalsListFragment and TripDetailsListFragment spawns new refresh thread"
Initially mentioned in https://github.com/OneBusAway/onebusaway-android/pull/295#issuecomment-143875812.

For `ArrivalsListFragment` and `TripDetailsListFragment`, tapping the refresh button seems to spawn a new refresh thread.  In other words, if the initial 60 sec refresh is scheduled at 4:00:01pm, and you hit the refresh button at 4:00:30pm, you'll get two refreshes, one at 4:01:01pm and one at

[2015-09-28 21:29] barbeau opened #316 "ArrivalListActivity - header is squished if you add a filter"
When accessing the arrivals list via the ArrivalsListActivity (i.e., coming from a home screen shortcut or via the new `TripDetailsListFragment`), if you create a route filter it squishes the arrival time header - it's not being resized:

![image](https://cloud.githubusercontent.com/assets/928045/10149256/61c46878-6606-11e5-8b0c-f53212a48de9.png)

[2015-09-29 03:38] barbeau opened #317 "NPE when choosing "Show trip details" for scheduled time"
When tapping on a scheduled arrival and choosing "Show trip details", the app crashes with:

[code]

[2015-09-29 03:40] barbeau commented on #317
"Trip Details" is the new feature that was just added in https://github.com/OneBusAway/onebusaway-android/pull/295.

[2015-09-29 14:07] barbeau commented on #25
HART asked about a feature that would alert users when a bus is delayed and provide alternate trip plans, AFTER a user has already planned their trip.

We have something similar in OTP Android - here's how it works:
* User plans a trip (based on real-time info, if that's available in the OTP server)
* Within 1 hr of the estimated departure time, OTP Android starts re-querying the server for update

[2015-09-29 14:47] barbeau commented on #315
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/ae82d7b4f1201e129af247f1beecdd17f3eae48a.

[2015-09-29 14:47] #315 closed

[2015-09-29 14:49] barbeau opened #318 "Starting TripDetailsListFragment triggers two API calls back-to-back"
When starting TripDetailsListFragment (i.e., tapping on "Show trip details"), I'm seeing two API calls back-to-back:

[code]

This still occurs after fixing https://github.com/OneBusAway/onebusaway-android/issues/315.

[2015-09-29 16:02] barbeau commented on #317
It appears the issue here is that OBA has two ways to represent "no current real-time info".  The first is that `predicted = false` in the status element.  This means we don't have a prediction for the vehicle, but we do have other information that may be interpolated/extrapolated from past updates.  The second is that the `status` element in the response can be `null`.  This occurs if the trip is

[2015-09-29 16:14] barbeau commented on #317
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/issues/319.

[2015-09-29 16:14] #317 closed

[2015-09-29 18:53] barbeau commented on #318
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/651328d6819545f10e3dd59149a2cb44731179ce.

[2015-09-29 18:53] #318 closed

[2015-09-29 22:12] barbeau opened #321 "Trip details list - isPredicted() should not be used to as a "real-time" indicator"
This is a follow-up to https://github.com/OneBusAway/onebusaway-android/issues/317#issuecomment-144103759.

After reviewing the [OBA REST API docs](http://developer.onebusaway.org/modules/onebusaway-application-modules/current/api/where/elements/trip-status.html), trip status `predicted` definition is:

(emphasis mine)

Because the trip details screen "real-time" info is mainly driven by the real-

[2015-09-29 22:19] barbeau commented on #321
I also don't think we should assume that lack of `vehicle_id` means we don't have real-time "next stop" info - here's a response from OBA Atlanta for MARTA:

[code]

I need to look closer at the data, though, as some of it looks a bit strange - the bus is hanging out at the end of the line.

[2015-09-29 22:20] barbeau commented on #321
And here's a response with `predicted=true` and a `vehicle_id` in the data:

http://atlanta.onebusaway.org/api/api/where/trip-details/MARTA_4800798.json?app_ver=55&app_uid=3c65025dab64fde246049111c2714275&version=2&key=v1_BktoDJ2gJlu6nLM6LsT9H8IUbWc%3DcGF1bGN3YXR0c0BnbWFpbC5jb20%3D

[code]

[2015-09-29 23:16] barbeau commented on #289
Just saw this again - I think it may be triggered by stacking multiple Activities that use the map on top of each other, and then closing them by hiting the back button.

There is a new version of Play Services available in the build tools, we should try this.

[2015-09-30 13:53] barbeau commented on #321
I'm also seeing scenarios where if the trip hasn't been started yet, the `nextStop` is a `stop_id` that isn't included in the list of stops.  This currently results in all stops being marked as visited:

![image](https://cloud.githubusercontent.com/assets/928045/10194914/2ab6126a-6759-11e5-867f-ec4d3fbb4a3f.png)

[2015-09-30 14:32] barbeau commented on #321
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/d0c3eb2147e8a8b8e656d7c2ed5393ed22acf199.

[2015-09-30 14:32] #321 closed

[2015-09-30 16:45] barbeau opened #322 "Trip Details list - on initial load list doesn't always fill"
I thought I fixed this in https://github.com/OneBusAway/onebusaway-android/commit/e91ce7dc7c66e40af5cba04b7f29642d12fd8e49, but apparently not.

This is likely a result of this change to avoid hitting the API twice on Fragment load:
https://github.com/OneBusAway/onebusaway-android/commit/651328d6819545f10e3dd59149a2cb44731179ce

[2015-10-01 05:06] bendu commented on #322
Interesting. I'll take a look at this in the next few days. I'm a bit overwhelmed right now to debug this.

@barbeau thanks for your help testing and adding features to the trip details list. I've only used the Puget Sound part of OBA, so there is a lot that I did not expect to happen

[2015-10-01 16:05] barbeau commented on #322
@bendu Yes, if you could find time to look at this, it would be great.  I'll circle back to this prior to the 2.0 public release, but that probably won't be for a few weeks.  It might help to change the `TripDetailsAdapter` to extend `org.onebusaway.android.util.ArrayAdapter` - this is what `ArrivalsListAdapterBase` does, and it might be easier to bring `TripDetailsListFragment` behavior in-line w

[2015-10-01 16:52] barbeau opened #323 "Trip Details list - trip headsign isn't always displayed correctly"
Currently, we're populating the trip headsign in the trip details list header by using the `status.activeTripId` field from the trip-details API.

However, this causes issues when looking at an upcoming departing trip at transit centers, or anywhere where there is an incoming trip and an outgoing trip that are part of the same block.

For example:

[code]

I tapped on the trip `102666` in the app,

[2015-10-01 16:55] barbeau commented on #323
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/387f73b767d395773771967a19abbfc4742889cb.

[2015-10-01 16:55] #323 closed

[2015-10-01 19:57] barbeau commented on #306
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/5bc88dd578de7fd2fc21e23c6a3189e60152259d.

[2015-10-01 19:57] #306 closed

[2015-10-01 20:03] barbeau commented on #310
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/713ecb8bbfac0a047466e24afb12d00a46373f18.

[2015-10-01 20:03] #310 closed

[2015-10-01 20:06] barbeau commented on #171
I think this would work well combined with https://github.com/OneBusAway/onebusaway-android/issues/103, in a context overflow menu option.  If the region has a StopInfo server, show the StopInfo page when tapping on "Stop Details".  Otherwise, show an info dialog with the Stop Code.

[2015-10-01 20:17] barbeau commented on #171
Actually, looking again, StopInfo page doesn't have the `stop_code`.  So that doesn't work.

[2015-10-01 20:20] barbeau commented on #103
It's been a while since I updated this issue - here's what the stop info icon currently looks like in the app:
![image](https://cloud.githubusercontent.com/assets/928045/10232742/63046c48-6858-11e5-9b82-2f3a29a64094.png)

[2015-10-01 20:26] barbeau opened #324 "Add "Did you know..." prompts"
Users often don't know about all the underlying features in OBA, such as reminders, etc.  It would be nice to have a gentle longer-term tutorial that prompted them with occasional quick facts - a "Did You Know..." feature.  This should have a "Don't show this anymore" button so user's can easily kill it, and should only be shown every few days or weekly, so we aren't bugging them constantly.

This

[2015-10-01 20:33] caitbonnar commented on #103
@barbeau Thanks for the update! It looks good -- but is it possible to make it a tad bigger? That's mostly for people with low vision who don't use TalkBack. Which brings up another point-- is the button accessible via TalkBack? If so, what does the label read? Is there a hint?

[2015-10-01 20:34] barbeau opened #325 "Allow selecting options menu on Style B route-sorted cards beyond the next arrival time"
Currently, all the buttons/overflow menu options on the arrival info cards for Style B (i.e., route-sorted) are connected to the first arrival shown in the card.

For example, with:

![image](https://cloud.githubusercontent.com/assets/928045/10232933/8a92533c-6859-11e5-9f11-1dd776686ea0.png)

...starring the route, or setting a reminder via the 3 dots, are all connected to the 4:38pm arrival of Ro

[2015-10-01 20:36] barbeau opened #326 "Change route header solid white X to partially transparent"
The current "X" shown to close the Route header is solid white:

![image](https://cloud.githubusercontent.com/assets/928045/10233088/788999e2-685a-11e5-93e7-43d70677f87f.png)

We should change it to partially transparent to match normal design conventions.

[2015-10-01 20:47] barbeau commented on #103
@caitbonnar Was just about to ping you with some questions re: this :).  Yes, I can make the image itself bigger, although much larger it starts to really dominate the area.  The touch area (see dark box surrounding icon below) is larger than the icon image, and I can potentially increase that more also:

![image](https://cloud.githubusercontent.com/assets/928045/10233210/2d0e077c-685b-11e5-8579-2

[2015-10-01 21:44] barbeau commented on #277
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/18b8b72c6fd9cb4fb647e56de60b75849bda97d9.

[2015-10-01 21:44] #277 closed

[2015-10-02 05:06] caitbonnar commented on #103
@barbeau Thanks for being open to the feedback! :)
I'm not very familiar with TalkBack, but if it is anything like VoiceOver, there will be a way to navigate through UI elements without having to physically locate them on the screen (i.e. you can swipe right or left and the VO cursor will focus on elements deemed as accessibility elements in some fixed order -- in VO this is generally top left to

[2015-10-02 13:24] barbeau commented on #103
@caitbonnar Ok, thanks.  Yes, getting feedback from B/LV contacts would be great.  It would also be great if any of them are willing to sign up for alpha updates, which includes the above stop info button:
https://github.com/OneBusAway/onebusaway-android/blob/master/BETA_TESTING.md#register-as-an-alpha-tester

I'd like to get their feedback not only on the stop info button, but the new UI in gener

[2015-10-02 14:40] barbeau commented on #106
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/31f8b3cc715222bd46ba3cf37e2c3b1307f99243.

[2015-10-02 14:40] #106 closed

[2015-10-02 15:46] barbeau commented on #326
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/ad19ef1ac584e996ab1f99e5e65a37899288fa30.

[2015-10-02 15:46] #326 closed

[2015-10-02 16:47] caitbonnar commented on #103
@barbeau Great, I'll send a request out! I know of at least one blind OBA Android user who's been wanting to give accessibility feedback for awhile -- sounds like a good time to do that!

I'll ask @alanborning about possibly getting the stop code attached as well. Neither @meganca nor I are at UW anymore, so I'm not sure StopInfo is being maintained by anyone directly anymore. It might be a good t

[2015-10-05 19:14] barbeau opened #327 "Starring route for all stops after removing star for a single stop doesn't work"
If you follow the below steps:

1. Go to a stop
2. Star a route for this stop
3. Unstar the route for this stop
4. Star the route for all stops

The route isn't starred for the current stop.  It should be starred.

[2015-10-06 21:44] barbeau commented on #304
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/1ff78757b00f18dde0df4bb82d941d0220e3b448.

[2015-10-06 21:44] #304 closed

[2015-10-06 21:51] barbeau opened #329 "Add icon to header for WARNING and SEVERE service alerts"
Currently you only see the service alert if you slide up the sliding arrival info panel.  For Warning and Severe alerts, we should definitely add an icon to the header so users are aware there is something going on.  Perhaps an icon for info-level alerts too?

Below is a WARNING level alert - SEVERE shows up in red, while INFO shows up in green:

![image](https://cloud.githubusercontent.com/assets

[2015-10-07 13:13] barbeau opened #330 "Move to runtime permissions model for Android 6.0"
In Android 6.0, there are new runtime permissions, instead of install-time permissions.  We'll need to move to runtime permissions at some point in the near future.

According to this article:
http://www.fulcrumapp.com/blog/fulcrum-android-and-marshmallow-runtime-permissions/

...runtime permissions aren't enforced until we change `targetSdkVersion` to 23 or higher.

Above article has good descrip

[2015-10-07 18:41] markus4star opened #331 "Show Cancelled or Re-Routed Buses"
All too often, I am left waiting at a stop due to either:

1) a bus' scheduled run being cancelled without any indication other than it indicating late and then simply disappearing with me left waiting another 20-30 minutes for the next bus....

...OR...

2) a bus being re-routed due to an event, protest or weather without any indication in the app.  Can this be addressed with Metro?

[2015-10-07 19:09] barbeau opened #332 "Add support for other situation (alert) types/severities"
The OBA REST API provides "situation" elements in responses for Service Alerts, which are modeled after the PtSituation element from SIRI - more [here](http://developer.onebusaway.org/modules/onebusaway-application-modules/current/api/where/elements/situation.html).  One way to publish these alerts is to use the `onebusaway-webapp` admin console - see [these instructions](https://github.com/OneBus

[2015-10-07 20:15] barbeau commented on #332
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/b4c0f48cf4c3bc73e951df5df6847e3d1ac0cc5a.

[2015-10-07 20:15] #332 closed

[2015-10-07 20:15] barbeau commented on #329
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/b4c0f48cf4c3bc73e951df5df6847e3d1ac0cc5a.

[2015-10-07 20:15] #329 closed

[2015-10-07 20:21] barbeau commented on #329
Here are how the INFO, WARNING, and ERROR level service alerts now look, respectively:

![image](https://cloud.githubusercontent.com/assets/928045/10349943/3c98859c-6d0f-11e5-9869-1318bbcb3956.png)

[2015-10-07 20:22] barbeau commented on #332
Here are the new mappings of severity to INFO, WARNING, and ERROR levels:

* INFO - shows up as green/informational in arrivals list - `severity: "noImpact"`
* ERROR - shows up as red in arrivals list - `severity: "severe"` and `severity: "verySevere"`
* WARNING - shows up as yellow - any other value of `severity: `

See https://github.com/OneBusAway/onebusaway-android/issues/329#issuecomment-1463

[2015-10-07 20:37] barbeau commented on #316
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/253d04b393dcd1e8f3c2de782d479edd1e323226.

[2015-10-07 20:37] #316 closed

[2015-10-08 13:07] barbeau commented on #331
@markus4star The easiest way for Metro to address this would be to put out a service alert for the relevant route, and that would show up in the app.  This would definitely address 2) above well.  1) can be the result of a number of different technical issues, and might be a bit harder to solve.

Could you please email us with the above request at android-app@onebusaway.org?  We can then forward y

[2015-10-08 13:07] #331 closed

[2015-10-08 13:27] barbeau opened #333 "Allow users to keep the same reminders across GTFS updates"
Currently reminders are identified internally by OBA Android by their `trip_id` and `stop_id`.  When a user creates a reminder for a trip, that `trip_id` and `stop_id` are saved to the local database.

Then, for a particular `stop_id`, OBA will occasionally poll the estimated arrival times for that stop, search the results for an arrival for the saved `trip_id`, and then alert the user with the es

[2015-10-08 13:56] bbodenmiller commented on #331
FYI I have tried requesting this many times from Sound Transit and King County Metro and have so far received many excuses for why they haven't implemented this yet. The primary excuse being that there current processes don't support it and not being willing to update the processes or systems.

See some of my feedback: https://github.com/SoundTransit/soundtransit-rds/issues/35, https://github.com/

[2015-10-08 14:07] bbodenmiller commented on #331
@barbeau for 2 I think it'd be useful for the app to actually show a map of the reroute. The current method of agencies publishing a text description of the reroute is quite hard to comprehend if you don't have all the cities roads memorized.

[2015-10-08 14:27] barbeau commented on #331
@bbodenmiller Agreed, better description of re-routing would be good.  Unfortunately there really isn't a good way to represent this directly in GTFS/GTFS-rt data.  One simple way, though, for agencies to do this would be to include a link to a PDF or other website that includes the map in the service alert itself.

[2015-10-08 14:49] barbeau commented on #330
Here's a link for how to manage runtime permissions with Play Services 8.1:
http://android-developers.blogspot.com/2015/09/google-play-services-81-and-android-60.html

[2015-10-08 15:31] barbeau commented on #305
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/04958819977179522fc3e1f59d404703d9e6f9de.

[2015-10-08 15:31] #305 closed

[2015-10-08 16:47] markus4star commented on #331
@barbeau Thanks and email sent to the alias with some additional commentary on increasing rider-experience and associating with 2014's Proposition 1 :-)

[2015-10-08 16:50] barbeau commented on #331
@markus4star Awesome, thanks for sending your feedback! :)

[2015-10-09 04:40] barbeau commented on #289
I'm still seeing this after bumping Play Services to 8.1.0 in build.gradle.  It's more subtle than its been in the past - sometimes the shift of the markers is just changes in the Z-order, with the position unchanged.  But, jumping of markers to places where there shouldn't be markers can still be seen.

[2015-10-09 15:56] barbeau commented on #294
It seems I can only reproduce this when on fast WiFi, which is usually the case at USF - on LTE and 3G I can't seem to reproduce it.  So it seems like it's triggered by the API response returning prior to some of the other initialization being complete.

[2015-10-14 20:45] barbeau commented on #176
Arrow icon by Zlatko Najdenovski, MK (https://thenounproject.com/icon/63549/), marker icon by Housin Aziz, SE (https://thenounproject.com/term/map-marker/37239/), bus icon from Google Material Design (https://github.com/google/material-design-icons/blob/master/maps/svg/production/ic_directions_bus_48px.svg).

[2015-10-16 22:06] barbeau opened #334 "Route header isn't hidden when changing to Starred Stops view"
If you open the routes view (e.g., by tapping on map icon in Style B arrivals), and then use the navigation bar to open the Starred Stops view, the route header isn't hidden and overlaps the top of the list:

![image](https://cloud.githubusercontent.com/assets/928045/10554342/8e1afc4c-7430-11e5-98d8-138c0f375dfc.png)

We should hide the route header when switching to starred stops.

[2015-10-16 22:10] barbeau commented on #176
I've been working on showing vehicle positions in the "routes" view in my spare time.  Progress is in this branch:
https://github.com/OneBusAway/onebusaway-android/tree/176-vehicles

...and it currently looks like this:
![image](https://cloud.githubusercontent.com/assets/928045/10554375/f70f3fec-7430-11e5-8989-d7f42461bc6f.png)

Tapping on the vehicle icon will open a marker balloon that has the r

[2015-10-20 03:09] cagryInside opened #336 "Google Analytics Data Volume Exceeded Warning"
OneBusAway is getting closer to exceed our free quota for Google Analytics.

OBA submits the application settings information every time the app starts. And, this causes a lot of hits in GA console.

![screen shot 2015-10-19 at 11 01 10 am](https://cloud.githubusercontent.com/assets/2777974/10596848/6e7c3a9e-76b6-11e5-87ae-0a6289ef639c.png)

[2015-10-20 04:34] bendu commented on #322
@barbeau Sorry for the slow response. I've been busier than I expected lately. I have been unsuccessful in getting the trip details list not to load, both in emulator and a 3rd gen Moto G. I'll continue trying to repro it, but it seems unlikely I will be able to.

That being said, I fixed a small bug I noticed relating to the trip details list, which I will create a PR for in a few minutes.

[2015-10-20 06:14] bbodenmiller commented on #336
When I was on GA yesterday it said we were already over our limit and would lose data if we do not reduce usage. These items you proposed deleting - are they already collected via custom dimensions?

[2015-10-20 12:50] barbeau commented on #336
Yes, we're already over our limit - here's the exact text in the GA console:

[2015-10-20 14:08] barbeau commented on #336
The GA console is now reading:

I'm not sure if it updated from the change in time window (Sept. 18 to Oct. 18, changed to Sept. 19 to Oct. 19), but if so it would mean that there were 46 million hits on Sept 18th.  Seems like something strange may be going on here, we'll investigate further.

[2015-10-20 15:13] cagryInside commented on #336
We are submitting only `API Region` as custom dimension. The rest of the items are collected when a user does an action.
E.g.:
[code]

[2015-10-20 16:28] bbodenmiller commented on #336
Based on my calculations here is how things break down:

| Data Type | Hits |
| ------------- |------------- |
| iOS events | 29272013 |
| Android events | 43368427 |
| iOS screens | 13095682 |
| Android screens| 37959946 |
| **Total** | **123696068** |

Which puts us at a cool 114M over the [10M limit](https://developers.google.com/analytics/devguides/collection/analyticsjs/limits-quotas). As you

[2015-10-20 17:05] barbeau commented on #176
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/81aa5295c7b3299412361d715587b489f4022b15 - real-time vehicles locations are now visible in the "Route mode" - i.e., viewing the route on the map.

Here's what the vehicle markers and popup balloons look like for real-time data (left) and schedule data (right):

![image](https://cloud.githubusercontent.com/assets/928045/

[2015-10-20 17:05] #176 closed

[2015-10-20 17:36] barbeau opened #340 "Add "About" screen"
We should add an "About" screen to provide users info about the following:

1.  Short description of app
2.  Link to onebusaway.org and OBA Android Github repo
3. Credit icon contributors
 * Map vehicle markers - Arrow icon by Zlatko Najdenovski, MK (https://thenounproject.com/icon/63549/), marker icon by Housin Aziz, SE (https://thenounproject.com/term/map-marker/37239/), bus icon from Google Mat

[2015-10-20 20:29] barbeau commented on #322
@bendu Thanks for looking at this.  I also haven't seen it lately, and couldn't repo it myself just now.  I'll go ahead and close this for now, and I'll re-open if I see it again.

Thanks for the other bug fix!

[2015-10-20 20:29] #322 closed

[2015-10-20 21:06] barbeau commented on #336
I'm also reaching out to Google Analytics Premium team to get an estimate of cost for switching to paid version.  Costs aren't publicly listed anywhere that I could find - if you see something, let me know.

[2015-10-20 23:16] bbodenmiller commented on #336
Per [Quora](https://www.quora.com/How-much-does-it-cost-to-have-a-Google-Analytics-Premium-account):

[2015-10-22 13:13] barbeau commented on #336
Confirmed by Google:

Yeah....

[2015-10-23 21:31] barbeau opened #341 "Crash on Android 2.3.4 when changing to sorting by ETA"
For `develop` branch, on an HTC EVO Shift w/ Android 2.3.4.

When changing to sorting by ETA in the arrivals list, it crashes and I see this in Logcat:

[code]

[2015-10-23 22:03] barbeau commented on #341
I removed the `android:foreground="?android:attr/selectableItemBackground"` attribute from arrivals_list_item, as this isn't available on Gingerbread.

However, now I'm seeing:

[code]

Looks like this may be a repeat of https://github.com/OneBusAway/onebusaway-android/issues/275.

[2015-10-27 15:20] barbeau commented on #325
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/74e1d5fa9d6383e85b1cc3295e6ff764c5ddc837.

[2015-10-27 15:20] #325 closed

[2015-10-27 16:19] barbeau opened #342 "Release builds crash with java.lang.IllegalStateException"
I was just trying to do another alpha release, and upon packaging the APK and installing it I get:

[code]

This doesn't happen on debug builds, only releases, so I'm assuming its an issue with Proguard, likely related to the change from using deprecated `ActionBarActivity` to `AppCompatActivity`:
https://github.com/OneBusAway/onebusaway-android/commit/b766fc6b05cdb44243100cfc9918b8c4371efdb9