[2015-10-27 16:46] barbeau commented on #342
This AOSP issue seems related:
https://code.google.com/p/android/issues/detail?id=190237

I'm also seeing this in the Gradle output when doing the release:

[code]

[2015-10-27 16:55] barbeau commented on #342
For the Proguard error:
http://stackoverflow.com/questions/32974025/com-google-android-gms-internal-zzhu-cant-find-referenced-class-android-securi

[2015-10-27 17:53] barbeau commented on #342
Looks like this is actually caused by Google accidentally including AdMob in the dependencies of Play Services Analytics 8.1:
https://plus.google.com/+GoogleDevelopers/posts/HsSNWEQ6H4e

If I exclude the `play-services-ads` module I don't get the Proguard error, and the release build installs and runs without any problems:

[code]

In Proguard rules you also need:

[code]

Thanks to this post for

[2015-10-27 17:58] barbeau commented on #342
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/e0c168aa07c69e769ba88c51650663f9297b0ff7.

[2015-10-27 17:58] #342 closed

[2015-10-27 20:27] barbeau commented on #314
I think the best we can do at this point is the workaround of not changing the header size when editing the stop name.  I've implemented this in https://github.com/OneBusAway/onebusaway-android/commit/2711e448e8562f847e5dc1decce0311f0c413688.

I'm going to leave this issue open so we have a record of it (in case we can come up with a real fix, or it gets fixed in the AndroidSlidingUpPanel library

[2015-10-27 22:11] barbeau commented on #340
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/ba2d2a1f5d53be2b05633d632b1e1fef07e5593f.

[2015-10-27 22:11] #340 closed

[2015-10-27 22:17] barbeau commented on #340
@cagryInside Could you please take a quick look at the new `AboutActivity`:
https://github.com/OneBusAway/onebusaway-android/blob/develop/onebusaway-android/src/main/java/org/onebusaway/android/ui/AboutActivity.java

...and the new Preference click for About:
https://github.com/OneBusAway/onebusaway-android/blob/develop/onebusaway-android/src/main/java/org/onebusaway/android/ui/PreferencesActivity

[2015-10-27 22:24] barbeau commented on #176
I just added the source SVG files for the marker icons to the /icons/vehicle_markers folder via https://github.com/OneBusAway/onebusaway-android/commit/99e3380903c3ef2e809fe260625be32a3919cc12.

[2015-10-28 02:30] cagryInside commented on #340
@barbeau `Analytics` on `AboutActivity` looks good.

I tested and it works perfectly.

![screen shot 2015-10-27 at 10 27 14 pm 2](https://cloud.githubusercontent.com/assets/2777974/10778233/4aae2d26-7cfa-11e5-8489-537e196e8a21.png)

[2015-10-28 03:00] barbeau commented on #340
Awesome, thanks!
On Oct 27, 2015 10:30 PM, "Cagri Cetin" <notifications@github.com> wrote:

[2015-10-28 13:48] barbeau opened #343 "Use lastLocationUpdateTime when available for last vehicle location update time"
In Tampa, `lastLocationUpdateTime` is always `0`, so OBA Android is currently using the `lastUpdateTime` as the "last updated X seconds ago" data source for real-time vehicle positions.  See https://github.com/OneBusAway/onebusaway-application-modules/issues/151.

However, based on a quick look at other regions, in Puget Sound `lastLocationUpdateTime` is populated for some agencies - see https://g

[2015-10-28 14:44] barbeau opened #344 "Alert icon in arrivals header doesn't disappear when in stop name edit mode"
The alert icon should be hidden when editing the stop name, and re-appear when out of editing mode.

[2015-10-28 14:51] barbeau opened #345 "Top of route hidden behind route header"
Currently when zooming the map to show the route in "Route Mode", the route header isn't taken into account when calculating the bounds of what should be visible on the map.  We should set the padding on the GoogleMap object to make sure the header is taken into account:
https://developers.google.com/android/reference/com/google/android/gms/maps/GoogleMap.html#setPadding(int, int, int, int)

[2015-10-28 15:02] barbeau commented on #345
This padding will also fix the issue where the "Heading' indicator for Google Maps, which is also currently hidden.

[2015-10-28 15:50] barbeau commented on #343
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/a5f3ffb6bb23dacf006920a5b6254bf89dd85635.

[2015-10-28 15:50] #343 closed

[2015-10-28 16:19] barbeau commented on #324
Ideas:

* In route mode, if you have trouble tapping on vehicle icon (stops get in the way), rotate the map by putting two fingers on screen and rotate them.

[2015-10-28 16:22] barbeau commented on #345
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/eff6896a6af4a2b51daa3955955a336d971dad69.

[2015-10-28 16:22] #345 closed

[2015-10-28 18:27] barbeau commented on #344
There is also some blinking of the alert icon going on when first opening the stop in the sliding panel, and changing stop focus.  You see a white alert icon briefly, and then it flashes to the correct color.  Changes should fix both these problems.

[2015-10-28 18:30] barbeau commented on #344
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/8ae16046f56820f9f1b727e97b3123c5e40e91bf.

[2015-10-28 18:30] #344 closed

[2015-10-28 19:12] barbeau opened #346 "Improve "Show route on map" UX"
From OBA dev group:
https://groups.google.com/d/msg/onebusaway-developers/FyFQn4KYtvg/nyFXowrbBwAJ

I agree that these interactions could definitely be improved - the current UX was somewhat driven by the ease of implementation given the existing code in OBA Android.

I think there are probably 4 items that the user would want to keep track of, in terms of context, when selecting “show route on ma

[2015-10-28 20:05] barbeau commented on #334
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/d86fb7f97e169bfda675dcbc82d071abad66e486.

[2015-10-28 20:05] #334 closed

[2015-10-28 20:06] barbeau commented on #313
We may end up using the Tutorial Fragment implementation in https://github.com/OneBusAway/onebusaway-android/pull/335 for this, if we can't find a good library for in-app interactive tutorials.

[2015-10-28 21:28] barbeau commented on #171
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/3d502650459a83da0dc79e2818a6cb7000117f0d.  For now I'm leaving this separate from Stop Info (https://github.com/OneBusAway/onebusaway-android/issues/103), because Stop Info doesn't yet show the stop code.  If stop code (and routes and stop direction) were added to Stop Info, this dialog could potentially be replaced by

[2015-10-28 21:28] #171 closed

[2015-10-28 21:29] barbeau commented on #103
@caitbonnar Just curious - have you heard any feedback from B/LV users?

[2015-10-28 21:34] caitbonnar commented on #103
@barbeau Not yet -- I sent an email out but I think they've been busy with the ASSETS conference in Portugal which was last week. I'll send out another note soon! Sorry about the delay. If it's holding you from releasing, I'd say to just include what you have now, it seems sound. :)

[2015-10-28 23:05] alanborning commented on #103
BTW @meganca did move the StopInfo code to to the OneBusAway project at https://github.com/OneBusAway/onebusaway-stopinfo

[2015-10-29 01:32] bendu commented on #327
Worked out a fix for this. Will push PR soon

[2015-10-29 01:47] bendu commented on #155
I've been using the re-designed UI on my phone over the past week or so and here is my feedback on the sliding panel header.

Swiping the panel header down out of the screen seems like an intuitive way to dismiss it, but the real way to dismiss is touching the map.
Showing the ETA in the popup window is nice, but tapping on the ETA a second time does not actually dismiss the popup.

[2015-10-29 13:17] barbeau opened #348 "Crash on startup viewing map with poor quality data connection"
I saw a crash yesterday on startup when viewing the map when in an area with a poor quality data connection.  I reproduced it several times, but unfortunately didn't have access to a machine to capture the log.  I'll see if I can reproduce again and grab the log.

[2015-10-29 21:12] barbeau commented on #155
@bendu Thanks for the feedback!

Agreed, we should dismiss the popup on 2nd tap of ETA, as that's more intuitive - I just fixed that in https://github.com/OneBusAway/onebusaway-android/commit/4119bef080a1c60f3094a404af4d82e7e61e2c75 (and it was more complicated than it should have been).  `develop` branch should now have the desired behavior.

We could potentially support a swipe down to hide the

[2015-10-29 21:13] wittelw commented on #346
I love the feature but found two things (already discussed) to be the best candidates for improvement:
1) Once in "Show route on map" you loose the current scheduled and real-time estimates.
2) The initial map view of lat/long (0,0).

For 1) rather than rely on the back button it would be great to have these values in blue as in the TripDetailsActivity.

For 2) if technically possible a wait spinn

[2015-10-29 21:57] barbeau commented on #346
Thanks for the feedback @wittelw!  Good points.

[2015-10-29 22:00] barbeau commented on #327
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/pull/347.  Thanks @bendu!

[2015-10-29 22:00] #327 closed

[2015-10-29 22:12] barbeau commented on #155
@bendu I just opened a PR at https://github.com/OneBusAway/onebusaway-android/pull/349 which is the above branch I referenced for swiping down on header to hide it, so its easier to find later.

[2015-10-29 22:19] barbeau commented on #311
The same behavior happens for the "No arrivals for this stop" message.

[2015-10-29 22:36] barbeau commented on #289
For the current `develop` branch, if you tap on an arrival time select the option to "Show route on map", let the map with vehicle positions load, and then change the orientation of the screen to landscape, this seems to trigger the behavior every time I've tried it, and really bad - they jump all over the screen.  Here's a video screen capture:
https://youtu.be/gYBunJYZTMo

Strangely, if you retu

[2015-10-29 22:52] barbeau commented on #103
@caitbonnar No worries, thanks!  And thanks @alanborning, I did see that @meganca pushed the StopInfo code.

The StopInfo button on arrivals header in OBA is currently available in the `develop` branch (for regions that have a StopInfo server, which is currently only Puget Sound), so I'm going to call this issue closed, unless something comes up that makes the current implementation unusable, at w

[2015-10-29 22:52] #103 closed

[2015-10-29 23:38] barbeau commented on #289
Interestingly, if you start with the arrival screen in landscape mode, and then tap on "Show route on map" so this map screen loads in landscape, the markers don't jump around.  And, if you switch to portrait while on that screen, the markers also don't jump around.  But, if you change the orientation back to landscape, then the markers start jumping.  So the orientation change from portrait to la

[2015-10-30 03:15] bendu commented on #155
@barbeau Sounds good. I'll hopefully have time to take a look at this next week.

[2015-10-30 21:35] barbeau opened #350 "Crash on Android 2.3.4 - java.lang.StackOverflowError on Style B view init"
For `develop` branch, on an HTC EVO Shift w/ Android 2.3.4.

When tapping on a bus stop and viewing arrivals sorted by Route in Style B, the app crashes and I see:

[code]

Looks like this may be a repeat of #275.

[2015-10-30 21:35] barbeau commented on #341
I've moved the StackOverflow issue to https://github.com/OneBusAway/onebusaway-android/issues/350, as they are different problems.

[2015-10-30 21:38] barbeau commented on #341
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/99e00d9b07916b1aa969e5ca49b56663a7560938.

[2015-10-30 22:07] ssypi opened #351 "Clicking "Get google play services" crashes on devices with no market installed"
On the `develop` branch:

On devices that have no google play services, there is a button to install them, but if you don't even have market installed on the device, pressing the button crashes the application.

Possible fix: check the intent with [PackageManager#resolveActivity](http://developer.android.com/reference/android/content/pm/PackageManager.html#resolveActivity%28android.content.Intent,

[2015-10-30 22:11] barbeau commented on #350
I believe the only major additions to the Style B layout following the fix for #275 are the star icon, status labels in the ETA rows, and the real-time indicator.

At this point I think it's going to be impossible to try and support Arrival Style B (sort by route) back to Gingerbread.  There are just too many views (for Gingerbread), and the thread stack size for Gingerbread isn't large enough to

[2015-10-30 22:12] barbeau commented on #341
Instead of duplicating the layout in the `layout-v11` folder, we should try changing `android:foreground="?android:attr/selectableItemBackground` to `android:foreground="?attr/selectableItemBackground"`.  I think this may be supported on Gingerbread.

[2015-10-30 22:15] barbeau commented on #351
Thanks for the report @ssypi!  If I get you an APK with a fix, would you be able to test and confirm?

[2015-10-30 23:30] ssypi commented on #351
I can do that, but most likely it also happens on standard android emulator as well which should let you test it.

[2015-11-03 04:28] bendu commented on #155
@barbeau Thanks for doing all this. I've spent some time trying to get the SwipeDownGestureDetector:onFling to work and I suspect that something in the sliding panel library would need to be changed to get this to work.

Since neither Google Maps, Google Music, Netflix, or the sliding panel library itself supports swipe to hide, I suppose this is not a big concern. However, unlike the sliding pane

[2015-11-03 17:17] barbeau commented on #155
Sounds good!

[2015-11-05 22:18] barbeau commented on #341
Yup, that's the proper support library attribute for Gingerbread - better than duplicating the layout files.  I reverted the previous fix - new proper fix is https://github.com/OneBusAway/onebusaway-android/commit/0c99b0823c90dac3a0011e8caeb8e6ed5039a87f, which is in `develop`.

[2015-11-05 22:18] #341 closed

[2015-11-05 22:37] barbeau commented on #348
I've tried extensively but haven't been able to reproduce this again.  It seems my phone may have been in a strange state that day - the phone was sluggish in general, so it may not have been an OBA issue per se.  I'll re-open if I see it again (or someone else reports it).

[2015-11-05 22:37] #348 closed

[2015-11-05 22:39] barbeau commented on #351
Yup, I can reproduce this on the emulator.

[2015-11-05 23:04] barbeau commented on #351
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/115fab736c74a1796af4b23f2609bcccf68725a4.

Note that after you get the message about the Play Store not being installed, you'll still see this:

![image](https://cloud.githubusercontent.com/assets/928045/10984436/77122dba-83e7-11e5-9f36-20a2daf4ab17.png)

...and if you click on that button, you'll see the same crash.  T

[2015-11-05 23:04] #351 closed

[2015-11-06 14:51] barbeau commented on #289
Play Services 8.3 was released today, so just bumped Play Services to `8.3.0` in `build.gradle` in https://github.com/OneBusAway/onebusaway-android/commit/77804b8aa67291ecbb3ab9a74ef73f228ce4d222.  No effect on this issue - when switching route mode to landscape orientation I still see the markers jump around the screen.

[2015-11-06 15:14] barbeau commented on #294
I can't seem to reproduce this even on USF's fast WiFi anymore.  I'm going to cautiously call this fixed, but will re-open if I see it again.

[2015-11-06 21:31] barbeau commented on #350
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/8d1807c4e023d218be828febaf5a87d995f40192.

[2015-11-06 21:31] #350 closed

[2015-11-06 22:42] barbeau commented on #289
AFAIK there isn't anything we can do to prevent this issue - it just happens.  So, I'm going to leave it open but push it to a future milestone.  Under normal use/conditions it doesn't seem bad/frequent enough to block a public v2.0 release.  But, we should continue to track it.

[2015-11-06 22:45] barbeau commented on #313
We should also include a definition of the blue/red/green color scheme for late/early/ontime - that's a frequent request from users.

[2015-11-06 22:52] barbeau commented on #39
We now display vehicle locations in route mode:

![image](https://cloud.githubusercontent.com/assets/928045/11010697/d2a3f3f8-84ae-11e5-80ed-9b75aa14e94f.png)

...and if you tap on the vehicle and then on the popup balloon, it will take you to the trip details screen:

![image](https://cloud.githubusercontent.com/assets/928045/11010725/225e8d90-84af-11e5-89e8-057bac3a7f3f.png)

However, I think we

[2015-11-09 16:04] barbeau commented on #17
Quoted from the OTP Android issue above:

[2015-11-10 18:48] barbeau commented on #309
A related issue is adding address search - https://github.com/OneBusAway/onebusaway-android/issues/191.

[2015-11-10 19:09] barbeau commented on #309
As mentioned above, I'd like to integrate the "recent" stops and routes feature into search when doing search improvements.  In other words, by default when tapping on the "Search" icon, the drop-down list would have both recent stops and routes within it - something like:

![search v2 0 mockup 1](https://cloud.githubusercontent.com/assets/928045/11072579/859515de-87b4-11e5-9881-10cca686c0cc.png)

[2015-11-10 19:20] barbeau opened #352 "Add "Nearby routes" mode"
Adding a "Nearby routes" mode, where polylines for nearby routes would visually be displayed on the map, was originally sketched out in UI redesign for v2.0, but didn't make the final release.

I'd still like to implement this in a future release.  It's related to improving the general view of a single route on the map (in context of real-time vehicle movements), which is https://github.com/OneBus

[2015-11-10 19:23] barbeau commented on #309
Showing recents in search view was also mentioned in [this comment](https://github.com/OneBusAway/onebusaway-android/issues/155#issuecomment-58387966).

[2015-11-10 19:35] barbeau opened #353 "Split out recent stops/routes to new Activity"
Currently, there are "My Stops" and "My Routes" activities, and each of those has a "Recent" tab.  I originally wanted to move the "Recent" routes/stops interface to be part of the improved Search view, but that isn't going to make the v2.0 release - I've ticketed it separately at https://github.com/OneBusAway/onebusaway-android/issues/309 for a future release.

As a stop-gap measure in to keep th

[2015-11-10 19:39] barbeau opened #354 "Add "Starred routes" list"
We now allow users to star a route/headsign/stop combination (see https://github.com/OneBusAway/onebusaway-android/issues/155#issuecomment-131239723).  However, currently this is only used to pin favorite routes to the sliding panel header for particular stops.

We should add a list of "starred routes", similar to how we currently have "starred stops".  This could be implemented as another navigat

[2015-11-10 19:43] barbeau opened #355 "Accessibility feedback on UI redesign implementation"
From https://github.com/OneBusAway/onebusaway-android/pull/177#issuecomment-58111721.  Some of these items we can probably get into the v2.0 release, and some may need to get pushed.  I'll cross off the items in strike-through that are no longer an issue based on current code or new commit tagged with this issue number.

* There are a few issues with the drawer in the map view:
  * Tapping on the

[2015-11-10 19:55] barbeau commented on #155
Alright everyone, we're closing in fast on a v2.0 release with the new UI.  So, I'm going to bring this long, winding issue to a close :).

A few things from the original mockup/concept didn't make the v2.0 cut, so I've pulled some of the items out into their own issues for future work/release, including:
* [Improved search (including integration of recent stops/routes)](https://github.com/OneBusA

[2015-11-10 19:55] #155 closed

[2015-11-10 21:08] barbeau commented on #155
For the record, getails on the route/direction/stop favorites (i.e., "starring a route") implementation done as part of the UI redesign are mentioned in https://github.com/OneBusAway/onebusaway-iphone/issues/457#issuecomment-155565598.

[2015-11-10 21:27] barbeau opened #356 "Action Bar menu items for main fragments are occasionally duplicated"
I've noticed that occasionally the Action Bar menu items for the chosen fragment (e.g., "Starred stops") can be duplicated in the list (e.g., "Remove all starred stops" shows up multiple times).  It seems to happen when returning to the app after its been in the background for a while.

We're using the FragmentManager transaction `.show()` and `.hide` to switch between the "Nearby", "Starred Stops

[2015-11-10 22:22] barbeau commented on #353
Possible route icon, for the top of the tab:
![image](https://cloud.githubusercontent.com/assets/928045/11077719/88528f84-87cf-11e5-8279-683e7ffd9b8f.png)

Attribution - "route by Steven Lester from the Noun Project"

Stop would just be the circle, no line.

[2015-11-12 14:14] barbeau commented on #353
Above icon doesn't translate well to the aspect ratio we have to work with.  Going to try re-purposing other icons we already have.

[2015-11-12 15:00] barbeau commented on #353
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/e402ecf739547684cabe2a130ac5a17b464ada03.

[2015-11-12 15:00] #353 closed

[2015-11-12 15:50] barbeau opened #357 "Hide sliding panel when back button is pressed in HomeActivity"
Originally discussed at https://github.com/OneBusAway/onebusaway-android/issues/155#issuecomment-153235793.

Currently, to hide the bottom sliding panel in the map view in HomeActivity you have to tap on on open area of the map (i.e., not on a stop marker).  It's more intuitive to press the back button to close the panel, as this is the behavior in other apps such as Google Maps.  Plus, finding an

[2015-11-12 15:59] barbeau commented on #357
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/55a6fdae451720fe1747e8149f203d7a957faf98.

[2015-11-12 15:59] #357 closed

[2015-11-12 21:18] barbeau commented on #312
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/9db85a75fdfb34ebc10923572cff07c8a47dc79a.

[2015-11-12 21:18] #312 closed

[2015-11-12 22:06] barbeau commented on #191
This is also been requested for accessibility reasons (see https://github.com/OneBusAway/onebusaway-android/issues/355):

[2015-11-12 23:13] barbeau commented on #355
ccing @caitbonnar on this issue, because we won't let her escape OBA ;).

@caitbonnar I did find some accessibility improvements you had suggested a while back buried in an issue thread based on a very early OBA redesign implementation - I've copied them to the initial post in this issue.  I'm trying to knock off a few of those (as feasible) prior to the 2.0 release - currently I'm striking-throug

[2015-11-14 18:56] jrharshath commented on #287
I've not seen how other apps are doing it better. In the case of OBA, the information shown doesn't specify whether this is arrival time or departure time, and it makes me lose confidence in those time estimates.

Scheduled information is much more useful when looking up departures from terminal stops, so I've personally resorted to looking up schedules on an app for those cases.

Anyway, I've put

[2015-11-14 19:00] jrharshath commented on #155
Although the issue is marked closed, I'm post some ideas after feedback was solicited on the developer email list.

[Link to the email thread](https://groups.google.com/forum/#!topic/onebusaway-developers/XYVvHpsCZtY).

[2015-11-14 21:49] barbeau commented on #155
Thanks!  I should also say that this is by no means the end of UX
improvements - it just closes out this iteration.  Ideas/suggestions are
always welcome here as new issues and on the OBA dev list.

Although the issue is marked closed, I'm post some ideas after feedback was
solicited on the developer email list.

Link to the email thread
<https://groups.google.com/forum/#!topic/onebusaway-develope

[2015-11-15 13:13] bbodenmiller commented on #351
I'm having a similar issue in the emulator:
![image](https://cloud.githubusercontent.com/assets/1192780/11168862/1031a8c4-8b57-11e5-87df-0681ce3a91c9.png)

Selecting Update results in a crash:
![image](https://cloud.githubusercontent.com/assets/1192780/11168866/25cdecec-8b57-11e5-8bb8-1a8c74aa093e.png)

Google Maps seems to be running fine on the emulator:
![image](https://cloud.githubusercontent.

[2015-11-15 15:32] bbodenmiller commented on #346
Great job on this feature so far. One part of the current UX that I think could be improved is when the stops are shown. Currently, once a user zooms out far enough all you can see is a bunch of overlapping stops. I think it'd make sense at a certain zoom level to only show the route line and the currently selected stop. The current setup also makes it hard to click the bus icon.

Other features t

[2015-11-15 21:08] barbeau commented on #351
Are you using an emulator (AVD) for the Google APIs?  Each API level has at
least two emulator versions - one for the basic API level, and one for the
Google APIs.  To use Google Play Services in the emulator you need to be
running an AVD for Google APIs.  That should probably be in the Readme if
it isn't currently.

We can't control the crash when you click on the button in that form - its
baked

[2015-11-16 05:39] bbodenmiller commented on #351
I will have to check. Shouldn't Google Maps only be installed in the emulator with Google APIs?

[2015-11-16 05:49] bbodenmiller commented on #352
I personally would like to see the nearby routes mode but don't need the click a stop and have it draw all routes feature. If the show all nearby feature is to computationally intensive I think it'd be worth looking in to offloading to the server.

[2015-11-16 05:52] bbodenmiller commented on #313
Any idea what Google is using for Google Maps? The first use quick tips were useful and didn't appear to involve adding extra images.

[2015-11-16 06:01] bbodenmiller opened #363 "On time route incorrectly showing as delayed/early color"
Running latest alpha build from play store I'm getting this sometimes:

![screenshot_20151115-215754](https://cloud.githubusercontent.com/assets/1192780/11175177/2f2c5d68-8be4-11e5-94e3-66a1902acc70.png)
![screenshot_20151115-215829](https://cloud.githubusercontent.com/assets/1192780/11175191/5298be86-8be4-11e5-913a-e46adb441ce4.png)

[2015-11-16 06:03] bbodenmiller commented on #363
And now this:

![screenshot_20151115-220234](https://cloud.githubusercontent.com/assets/1192780/11175226/a0d46532-8be4-11e5-9664-6b66e6393b41.png)

[2015-11-16 06:10] bbodenmiller opened #364 "Increase size of real-time indicator on stop details header"
I think it'd be good to make the real-time indicator a bit bigger.

[2015-11-16 06:17] bbodenmiller opened #365 "SearchView requires extra back button press to close it"
1. Open app
1. Select nav drawer then starred stops
1. Select back

At this point the app exits when I'd actually prefer for it to just go back to nearby view

Another area to consider is if back should undo your route filters. Currently if you set route filters and click back it does not undo the filters.

[2015-11-16 06:22] bbodenmiller opened #366 "Location used when not needed"
Appears a few screens are continuing to use my location when not needed, so far that includes:

* starred stops
* my reminders

[2015-11-16 06:28] bbodenmiller commented on #309
Was just about to post about this - the my routes item under the current menu send out of place.

[2015-11-16 06:30] bbodenmiller commented on #365
Also appears that clicking back after completing a search is taking a few more back clicks than I expected to clear out all the search details.

[2015-11-16 06:42] bbodenmiller opened #367 "Hide stops at high zoom levels"
Sometimes I need to pan around the map and when I zoom out it becomes very hard to do so because the map is constantly trying to redraw the stops/figure out which stops to show. Perhaps at certain zoom levels stops should be hidden.

[2015-11-16 07:11] bbodenmiller commented on #346
In regards to the bus location feature, I noticed that it is showing data updated x minutes x seconds ago but it isn't updating once a second so the label isn't entirely accurate.

[2015-11-16 07:18] bbodenmiller commented on #356
I'm also seeing this. Some screenshots:

![screenshot_20151115-231654](https://cloud.githubusercontent.com/assets/1192780/11176159/2e68e260-8bef-11e5-9ae6-a860fc600e5a.png)

![screenshot_20151115-231658](https://cloud.githubusercontent.com/assets/1192780/11176167/3c821fce-8bef-11e5-83bf-9137293436cf.png)

[2015-11-16 07:22] bbodenmiller opened #368 "Show stop nickname and official stop name in the "Stop Details" popup"
It appears that editing a stop name edits it everywhere in the app. I'd like to have a way to see both the stop nickname and realname. For example on iOS you can set the bookmark name but when you click it, it then takes you to the stop which shows the real name.

[2015-11-16 07:25] bbodenmiller opened #369 "Selecting edit name does not open keyboard"
Appears that when you select edit name the keyboard is not automatically opened.

[2015-11-16 07:31] bbodenmiller commented on #309
An issue I'm seeing:

* search for stop 515
* select stop
* select show on map

At this point stop is zoomed to but not highlighted. Should I file a separate bug for this?

[2015-11-16 14:51] barbeau commented on #367
Agreed, this can get awkward, especially on slow wireless connections.

IMHO we can address this one of two ways:

1. Switch to "Nearby routes" mode when zoomed out (#352)
2. Cluster stops - there is an an [android-map-utils library](http://googlemaps.github.io/android-maps-utils/) that can help with this, but it would require a major re-write of how stops are rendered in OBA Android.

Solutions c

[2015-11-16 14:52] barbeau commented on #364
@bbodenmiller Can you provide a screenshot of where you'd like to see it larger?  We're using it in several locations.

[2015-11-16 14:57] barbeau opened #370 "Stop doesn't have focus when showing it on the map"
Discused in https://github.com/OneBusAway/onebusaway-android/issues/309#issuecomment-156946245.

When showing a stop on the map (vs. showing arrivals for that stop), the stop isn't selected and the arrivals don't appear in the bottom sliding panel.

To reproduce:
* search for stop 515 (or any stop)
* select stop
* select "show on map"

[2015-11-16 14:57] barbeau commented on #309
Yup, this is now removed in the `develop` branch, and replaced by a "recent routes/stops" item.  Placement of this isn't ideal either, but it's just a placeholder until we get improved search into place.

Thanks for the reminder - I saw this but it dropped off my list.  Just opened https://github.com/OneBusAway/onebusaway-android/issues/370 for this.

[2015-11-16 15:29] barbeau commented on #352
I'm most worried about rendering of the information on the map, which can't be offloaded.  I can see the LG G4 I have drop frames when the map gets crowded, and near transit centers you could easily get 10+ routes loaded on the map - each of these would have its own set of stops, and a polyline consistent of hundreds of points.  I'd need to test on some lower-end devices to make sure we aren't kil

[2015-11-16 15:32] barbeau commented on #368
Given the history in OBA Android of replacing the name entirely I don't think we should change that behavior.  But, we could add both names to the "Stop Details" popup, which is accessible via menu overflow when viewing the stop arrival info.

[2015-11-16 15:34] barbeau commented on #356
@bbodenmiller Do you have a set of steps to reproduce this?  It doesn't seem to happen consistently to me.

Also, do you only see this with the "Starred stops" options, or with other options as well?  I believe I've only see it with the "Starred stops" options.

[2015-11-16 15:41] barbeau commented on #366
So this is an unfortunate side-effect of the way we have to implement fragment switching in the main activity when using the map.  The map has to remain active in the background (i.e., hidden and not removed), otherwise we lose the map state and have to re-initialize it when switching back to the "Nearby" screen - this reinit is horrible UX.

If you switch to either "Starred stops" or "My reminder

[2015-11-16 15:41] #366 closed

[2015-11-16 15:42] barbeau commented on #313
They probably rolled it themselves.

[2015-11-16 15:42] barbeau commented on #351
Not sure, I haven't looked.

[2015-11-16 15:45] barbeau commented on #363
I've seen this myself before as well, although I haven't seen it lately.  I recall seeing this in past production versions (v1.x) on Google Play as well, so I think its a bug that goes way back.  I did a quick look through the code at one point and didn't see anything obvious as to why this happens, but I'll look again.

[2015-11-16 16:18] bbodenmiller commented on #366
Thanks for the explanation. It does appear that if I force it to start on a screen other than nearby it's not using my location. Additionally I checked Google Maps and it appears to suffer from the same issue.

[2015-11-16 16:21] bbodenmiller commented on #368
I think showing both names sounds good.

[2015-11-16 16:26] bbodenmiller commented on #356
I haven't been able to consistently reproduce yet but it does seem that resuming from running in the background is a factor. I've only seen it on the starred stops view so far. This morning I had three sort by buttons.

[2015-11-16 16:36] bbodenmiller commented on #352
Those features may be useful for some but for me I don't care about those features. I'm just simply looking for a feature that says here is the nearest routes and here is when buses are coming for those routes, similar to what Transit offers:

![screenshot_20151116-083246](https://cloud.githubusercontent.com/assets/1192780/11187833/dc2a234e-8c3c-11e5-99fa-f34f248b978f.png)

[2015-11-16 16:43] bbodenmiller commented on #364
![screenshot_20151116-084229](https://cloud.githubusercontent.com/assets/1192780/11188079/11a4471a-8c3e-11e5-93cf-1ed55e62e75c.png)

[2015-11-16 16:50] barbeau commented on #369
Good catch - tapping on stop name to edit does open keyboard, but not selecting "Edit name" from menu.

[2015-11-16 16:51] bbodenmiller commented on #364
This is certainly debatable however I think it'd be good if the indicator was about 1/3 to 1/4 the size of the number.

[2015-11-16 16:55] bbodenmiller commented on #367
I think a perfectly acceptable solution would be to just show no stops after a certain zoom level and just have a notice to zoom in to see stops. This is what OBA iOS does and I don't really see what value showing stops at low zoom levels provides.

[2015-11-16 17:01] bbodenmiller commented on #369
That tap to edit feature is nice... to bad I didn't know about that feature when I was getting setup last night. Might be a nice feature to highlight in #313.

[2015-11-16 17:10] barbeau opened #371 "Add "bus hailing" flashing screen"
From an iPhone user (but relevant to Android too):

We actually created a flashing light app to make pedestrians more visible at night - https://github.com/CUTR-at-USF/walk-bright.  We could easily repurpose that app for this feature.

[2015-11-16 17:12] bbodenmiller opened #372 "Location not followed despite indicator showing as following"
It appears that despite the location indicator showing the location as being followed it's not actually being followed:

![screenshot_20151116-090230](https://cloud.githubusercontent.com/assets/1192780/11188877/ed421bf0-8c41-11e5-93e5-5fb4b303696a.png)

[2015-11-16 17:17] barbeau commented on #364
The main problem here is that increasing the size starts pushing the ETA left, the way that the layouts are set up.  It also needs to look reasonable with the "NOW" text, which is even bigger than the normal ETA numbers.  I played with this a while and settled on the current size/placement - we're pretty cramped here on space the way it is, so I'm inclined to leave it as-is for now.  If we start g

[2015-11-16 17:17] #364 closed

[2015-11-16 17:23] barbeau commented on #372
@bbodenmiller By followed, do you mean the map pans to keep the real-time location within the view bounds when the location reaches the edge of the map?  If so, then it's currently working as intended.  We don't have a "follow" mode for OBA Android.  In my past experience with other apps this actually isn't trivial to implement, either.  I'll leave this open and change the ticket name to allow for

[2015-11-16 17:27] barbeau commented on #313
Features to highlight (I'll continue to add to this list):

* Navigation via navigation drawer
* Sliding up panel
* Sorting arrivals by ETA or route
* Status colors (red/blue/green for early/late/ontime)

[2015-11-16 17:30] barbeau commented on #367
My issue with this is that we've heard complaints from iOS users about not showing stops when zoomed out, but personally I've never heard complaints from Android users about showing stops when zoomed out.  Showing stops (or something) when zoomed out does give you a sense of area of coverage of OBA/transit system.

[2015-11-16 18:32] barbeau commented on #371
Here's the main activity from WalkBright:
https://github.com/CUTR-at-USF/walk-bright/blob/master/walk-bright/src/main/java/edu/usf/cutr/android/walkbright/WalkBright.java

[2015-11-16 19:33] barbeau commented on #365
Yeah, I agree with this one.  We're using the system SearchView so I'm not sure why that's happening.  I'll actually change this issue to focus on this (see below).

When navigating between the main modes in the nav drawer (Nearby, Starred stops, My reminders), IMO back should kill the activity, not switch back to the previously focused mode.  Many Android users are used to hitting Back to kill th

[2015-11-16 19:41] barbeau opened #373 "Update vehicle positions marker "last updated" time every second"
Currently the vehicle position markers show a "Data updated X sec ago" message in the popup balloon:

![image](https://cloud.githubusercontent.com/assets/928045/11192573/debdb32c-8c6f-11e5-8a64-712b32a68e52.png)

We should update that time every second so it ticks up as the user views it.

This is the same behavior that the new OBA website exhibits:
http://tampa.onebusaway.org/enterprise/#1

[2015-11-16 19:41] barbeau commented on #346
Agreed - this is now ticketed at https://github.com/OneBusAway/onebusaway-android/issues/367.

This is on my TODO list but hadn't been ticketed yet - just opened https://github.com/OneBusAway/onebusaway-android/issues/373 for this.

[2015-11-16 20:57] barbeau opened #374 "Schedule updates for vehicle positions properly"
Currently when resuming in route view mode, the next update is always scheduled for 10 seconds out (after you initially see the vehicles load).  We should change this so it's dynamic and the user sees a refresh at the normal interval - in other words, if returning to the route view and the last update of vehicle positions has been more than 10 seconds, then refresh the positions immediately.

[2015-11-16 21:12] barbeau commented on #374
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/800abfa2d91f1c221fa9a4d70f50b57aef50e785.

[2015-11-16 21:12] #374 closed

[2015-11-16 21:38] barbeau commented on #373
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/5e6db2408816e4cd6359083533b5cb1099831e39.

[2015-11-16 21:38] #373 closed

[2015-11-16 21:40] barbeau commented on #363
@bbodenmiller The next time you see this, can you see if hitting the "Refresh" button fixes the colors?

[2015-11-16 21:56] barbeau commented on #369
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/c5d3b8d9dbade4237c6084431c78b0dfbed6da61.

[2015-11-16 21:56] #369 closed

[2015-11-16 22:56] bbodenmiller commented on #363
Will do.

[2015-11-16 22:58] barbeau commented on #370
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/23ad46ab4487ef38d8227169f6b765a7b828b5cb.

[2015-11-16 22:58] #370 closed

[2015-11-17 02:46] bbodenmiller commented on #365
It appears that Google is not following it's own advice. For example open Gmail, select a label, select back - at this point it navigates back to the primary category rather than exciting the app like OBA.

On Marshmallow (maybe others?) when you click the back button enough times the app is closed but not killed.

[2015-11-17 03:34] bbodenmiller commented on #365
Another back button difference: in Gmail if you open the nav drawer and then click back, the nav drawer is closed, but in OBA if you open the nav drawer and click back, the app is closed.

In Facebook I'm seeing the same nav drawer behavior as Gmail. Additionally selecting a tab then back is taking me back to the last tab rather than exiting.

Lastly here is a discussion that may help our conversa

[2015-11-17 16:10] bbodenmiller commented on #372
I'm talking about following the users location and keeping it centered in the view. Like on Google Maps when you click the location button it follows your location until you pan the map. The current implementation of making sure the blue dot stays in view is certainly better than nothing.

I'm actually surprised you've had trouble implementing it as I seem to recall it being a built in feature in

[2015-11-17 17:04] barbeau commented on #365
SearchView back button issue fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/f8627d735126e121c09e1f5c0616463b47b72c37.

[2015-11-17 17:04] #365 closed

[2015-11-17 17:21] barbeau commented on #356
I'm hoping this is fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/0a4a67a73f3c53c3ed3647d3a028673a754956e3, but I can't reproduce consistently so I'm not sure.

@bbodenmiller if you can run the `develop` branch and let me know if you see this again, it would be helpful.  I'll see if I can get a new alpha out soon too.

[2015-11-17 17:33] barbeau commented on #372
We don't actually mess with the map camera at all in the current OBA Android implementation, other than initially zooming to your real-time location.  So currently we don't make sure the blue dot stays in the view, either.

The built-in my location button you're linking to doesn't have the behavior of toggling to follow your location (at least the last version I've looked at, as of a few Play Serv

[2015-11-17 18:03] barbeau commented on #363
After a closer look, I think this might be a rounding issue in the `ArrivalInfo()` constructor.  The OBA REST API returns times as milliseconds (ms) since the unix epoch.  For the color, the ms values for estimated and scheduled times are used to determine if its early/ontime/late in `computeColor()`.  For the ETA and status text, the ms values for estimated and scheduled times are converted to mi

[2015-11-17 20:00] barbeau commented on #363
The rounding error could explain why this only happens occasionally, too.  For example, in Tampa the delay values are all calculated at the minute precision - they are expressed in seconds in the GTFS-rt feed, but always "60", "120", etc.  This issue would only surface if the scheduled arrival time wasn't on the minute, or if the delay value wasn't a multiple of 60 seconds (or an absolute time was

[2015-11-17 20:18] barbeau commented on #363
Yes, seems like in Puget Sound the "5 - Downtown Seattle Greenwood" that @bbodenmiller took screenshots of above regularly sees times not rounded to the minute that make this bug visible.  I can't reproduce in Tampa, but I can reproduce if I look at stops on that route (I just looked at `stop_code` 5990 and saw it).  I just changed `ArrivalInfo` to calculate the color based on the values rounded t

[2015-11-17 20:22] barbeau commented on #363
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/f7d830338b68c91e9930e64e9921516aa5a8b752.

[2015-11-17 20:22] #363 closed

[2015-11-17 20:27] barbeau opened #375 "On time color is shown incorrectly in vehicle status and position markers"
Related to https://github.com/OneBusAway/onebusaway-android/issues/363.

Various places in the app are currently passing in schedule deviation in seconds to `ArrivalInfo.computeColorFromDeviation()`, which can result in a non-zero value that incorrectly shows an early or late color when the delay is less than 60 seconds, which we consider "on time".

Here's an example:

![image](https://cloud.gith

[2015-11-17 20:38] barbeau commented on #375
One screen to consider is the TripDetailsListFragment, which does show early/late text to user in seconds resolution (everywhere else we use minutes resolution).  I'm going to change the status color here so it matches the color of the same trip everywhere else in the app.  However, I'm going to leave the status text at the seconds resolution, as I think that's useful (I actually confirmed #363 be

[2015-11-17 21:00] barbeau opened #376 ""No arrivals in X" footer doesn't fill if you switch between sorted route/eta adapters"
Originally discussed in https://github.com/OneBusAway/onebusaway-android/issues/311#issuecomment-152344104.

Within the sliding panel for arrival info, if the "No arrivals in X" message is displayed, when you switch the arrivals sorting option it disappears.  Hitting refresh repopulates it.

[2015-11-17 21:00] barbeau commented on #311
I'm moving the "No arrivals" view issue to https://github.com/OneBusAway/onebusaway-android/issues/376, as I don't believe the cause is the same.

[2015-11-17 21:23] barbeau commented on #376
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/4f1a7cbb8167aa7644c1443b43455b533232f601.

[2015-11-17 21:23] #376 closed

[2015-11-17 22:14] barbeau commented on #311
Fixed in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/bee22f3b170cd700b69d6376980fd3c2988d3463.

[2015-11-17 22:14] #311 closed

[2015-11-18 03:02] bbodenmiller opened #377 "Backup option label improvements"
I'm seeing some odd things in relation to the backup feature:

* I'm given the option to backup to an SD card but my device does not have or support an SD card
* Clicking the disabled restore from SD card option results in a popup asking if I'm sure
* few days later and the restore from SD card option is now not appearing grayed out

[2015-11-18 14:20] barbeau commented on #377
Writing to storage on Android has always been tricky as there's been different behaviors on different devices and Android versions.  Some comments inline below.

We should rename the "SD card" label of the preferences to "storage".  As you say, not all phones have an SD card.  Furthermore, on an LG G4, even though an SD card is available, it writes to internal storage instead.

I can't reproduce t

[2015-11-18 14:52] barbeau commented on #313
Well, looks like https://github.com/amlcurran/ShowcaseView is no longer deprecated (?).  We can give that a shot, but now it's only API 11+.

[2015-11-18 15:48] barbeau commented on #313
There is also https://github.com/deano2390/MaterialShowcaseView, although its minSdkVersion is 14.

[2015-11-18 16:01] bbodenmiller commented on #377
Do we support the [Backup API](http://developer.android.com/training/backup/backupapi.html)? I believe there was also talk before of doing some sort of cloud sync so you could switch between services easily (e.g. Same settings on phone and tablet).

[2015-11-18 16:35] barbeau commented on #377
We don't currently support the Backup API.  I believe Android 6.0+ should automatically support it, though, although I haven't had a chance to really look into it.  Backup is different from Cloud sync, which is ticketed in #32.  Backup is intended to only be restored to a device when you first log into it, but its not intended to do an ongoing sync of data across devices.  Cloud sync is intended t

[2015-11-18 17:12] bbodenmiller commented on #377
It looks like backup API works on many versions of Android where as the new Android 6.0+ backup feature only works if you're running 6.0+ and your apps targets SDK version Android 6.0 (API level 23) and higher.

[2015-11-18 17:27] barbeau commented on #377
Fixed backup labels in `develop` via https://github.com/OneBusAway/onebusaway-android/commit/075f416790cf4416997ce8671c2b9cee69aac343.

@bbodenmiller I'm going to close this issue - if you can reproduce the tapping on disabled Restore preference giving you a message (vs. not doing anything, which should be the proper behavior), please open a new issue for that specific problem.

[2015-11-18 17:27] #377 closed

[2015-11-18 20:42] barbeau commented on #17
For the basic mechanism of notifying users when they are approaching their destination, the Android Geofencing API (http://developer.android.com/training/location/geofencing.html) seems like a good place to start.

[2015-11-19 15:20] barbeau commented on #191
This could also be implemented in the context of improved search (https://github.com/OneBusAway/onebusaway-android/issues/309).

[2015-11-19 20:06] barbeau opened #379 "NPE in VehicleOverlay at LayoutInflater.from()"
From Android Developer Console error reporting:

[code]

User comment:

This was on Android 4.3 on a Galaxy S2 Skyrocket (SGH-I727).

[2015-11-19 20:13] barbeau commented on #379
It looks like the user selected "View route on map", and the vehicles began to load, but then the user hit back before the load completed.  When the load completed, the vehicle overlay tried to initialize itself in BaseMapFragment at line 322 with a call to `getActivity()` to the context:

[code]

However, at this point the activity was already destroyed, which resulted in null being passed into V

[2015-11-19 21:05] jrharshath opened #380 "UI Design for showing arrival times"
This issue is a result of a mail thread from onebusaway-developers. The discussion was about representation of arrival times. There are two ways this could be done:

1. By grouping arrivals (departures in case of terminal stations) of the same route together
2. Without any grouping, but simply in the order of departures.

The original email thread is available [here](https://groups.google.com/foru

[2015-11-19 21:12] barbeau commented on #380
For reference, here how ETA's currently look as of v2.0.x - sorted by ETA on the left (Style A), and grouped/sorted by route on the right (Style B).  You can switch between the views using the "Sort By" button.
![oba android arrivals format](https://cloud.githubusercontent.com/assets/928045/11284512/3ed42704-8ed8-11e5-9900-901b1e950081.png)

[2015-11-20 08:55] bbodenmiller commented on #380
I think another useful UI tweak would be an option to only show the soonest arrival time for each route and then if you tap it for it to expand to show the next few arrival fonts food that route.

[2015-11-21 00:23] barbeau commented on #380
I believe that's what @jrharshath is proposing above.

[2015-11-21 06:07] bbodenmiller commented on #380
The words sound the same but not necessarily the mockups. In the mockups it only shows the next arrival time for two routes where I'd like to have it show the next arrival time for each route and then if you click the route it drops down the list of other scheduled departures for that route.

[2015-11-23 14:50] barbeau opened #381 "trips-for-location and trips-for-route have plural parameter names"
From https://github.com/OneBusAway/onebusaway-application-modules/pull/154.

We also have them as plural in OBA Android - we should change them to singular.

[2015-11-24 20:51] #379 closed

[2015-11-24 20:56] #381 closed

[2015-11-25 07:45] bbodenmiller commented on #351
Unfortunately still no luck:

![image](https://cloud.githubusercontent.com/assets/1192780/11390403/a375a7f8-92fe-11e5-9fc1-f06c06936e9f.png)

![image](https://cloud.githubusercontent.com/assets/1192780/11390411/b8485090-92fe-11e5-8911-330e6563cad6.png)

Here lies the problem... the latest image does not have the latest Play Services nor auto update:

![image](https://cloud.githubusercontent.com/as

[2015-11-25 08:20] bbodenmiller opened #386 "Support upgrading from release to alpha to develop releases"
Currently I've got the alpha version of OBA installed from the Play Store. Upon attempting to deploy latest from master branch from my machine to phone I'm getting `INSTALL_FAILED_UPDATE_INCOMPATIBLE` & `INSTALL_FAILED_CONFLICTING_PROVIDER` errors. Would be great to go from released versions to dev versions without losing all data.

[2015-11-25 14:11] barbeau commented on #386
This would be nice but unfortunately won't work.  We sign release builds with our release keys (which are private), and development builds are signed using the keys bundled with the Git repo (onebusaway-android/seattlebusbot3.debug.keystore).  In Android you can only replace/upgrade an app signed with the same cert, otherwise you have to uninstall and re-install.

A workaround is to save your data

[2015-11-25 14:11] #386 closed

[2015-11-25 14:13] barbeau commented on #351
Try using an AVD based on API 21 Google APIs.  The API 22 and 23 emulators have a number of open AOSP bugs - I believe you're seeing [this bug](https://code.google.com/p/android/issues/detail?id=176348&thanks=176348&ts=1433887196).

[2015-11-25 16:53] bbodenmiller commented on #386
Is there anything that could be done to improve the process however? For example can the two apps share a data store? Can the build setup automatically give the develop build a different identifier so as to not conflict with releases from the play store? Could the app automatically backup? What about prompt that a backup is available to restore from on initial run?

If these are possibly I could l

[2015-11-25 17:31] barbeau commented on #386
Yes, we could allow the side-by-side installation of the development and release builds by changing the package identifier (i.e., `com.joulespersecond.seattlebusbot`) for the development build.  They would essentially function as two separate apps in that case.  I believe this would be done in `build.gradle` as part of the build flavor config, although I haven't had a chance to look into it.

This

[2015-11-25 18:08] #346 closed

[2015-11-25 18:12] barbeau commented on #346
I just pushed https://github.com/OneBusAway/onebusaway-android/commit/88007bbce2d3be1dc09ee61eb26b1064347b4783 to master, which should help with this significantly.  The "Show route on map" button now enables the route as an overlay on your existing map view, instead of kicking you out to a new Activity, and only changes your map view if the current view doesn't include the closest active vehicle

[2015-11-25 20:13] barbeau commented on #346
v2.0.7 alpha is now rolling out, and includes these improvements to the "show route on map" UX:
https://groups.google.com/forum/#!topic/onebusaway-developers/TVeFxo4a22s

[2015-11-25 20:23] barbeau opened #387 "Update Finnish translation"
We have a Finnish translation of the strings from v1.7.9 of OBA for `strings.xml` and `arrays.xml` in:
https://github.com/OneBusAway/onebusaway-android/tree/master/onebusaway-android/src/main/res/values-fi

v2.0.x (in the master branch) includes a significant overhaul of the UI, including adding/removing a number of strings and arrays.

@arirusakko would you be able to update the Finnish translati

[2015-11-25 20:26] barbeau commented on #289
Whoops, this was automatically close by Github in the merge to master.

[2015-11-26 08:29] arirusakko commented on #387
Yes, I think I can do that. What's the deadline?

[2015-11-26 13:51] barbeau commented on #387
Great!  I'd say we have around 1.5 to two weeks until the public beta gets released - this would go out to a subset of all users.

[2015-11-26 15:41] arirusakko commented on #387
BTW, I personally think that current "main_help_whatsnew" is horrible.

[2015-11-26 15:50] barbeau commented on #387
Ha...agreed, that was only updated for an alpha release, so its aimed at
developers, not end users.  It will change before the beta release, and
likely be replaced by the tutorial.
On Nov 26, 2015 10:41 AM, "arirusakko" <notifications@github.com> wrote:

[2015-11-26 15:56] arirusakko commented on #387
Ok, I'll leave it a bit shorter for now  :)

[2015-11-27 05:12] barbeau opened #388 "Fix case on ArrivalListFragment menu options"
Currently every word of `ArrivalListFragment` menu options are capitalized - all other menus have only the first letter capitalized.  We should fix this.

[2015-11-27 06:32] #371 closed

[2015-11-27 06:34] barbeau commented on #313
With this feature, we can also remove the auto-opening nav drawer and make it part of the tutorial.

[2015-11-30 15:48] barbeau opened #389 "Tapping "Sort by" before arrivals load crashes the app"
If you tap on a bus stop icon on the map (or pull up a stop shortcut), and if you tap on the "Sort by" button in the action bar before the stops load, you'll get this stack trace:

[code]

[2015-11-30 15:50] barbeau opened #390 "NPE when trying to load stops and use "Sort by""
Reported by user, stack trace from Developer Console:

[code]

I believe this is a separate issue from https://github.com/OneBusAway/onebusaway-android/issues/389, as it seems to occur upon refresh, not upon initial load.

[2015-11-30 16:27] #389 closed

[2015-11-30 16:27] #390 closed

[2015-11-30 16:27] barbeau commented on #390
Despite referencing a different line number, it does look like this is caused by the same underlying issue as #389.

[2015-11-30 16:47] #388 closed

[2015-11-30 17:00] bbodenmiller opened #391 "Show search bar on search results screen"
Currently when you do a search you are taken to a new view for the results. If you made a typo or want to update your search query, you must select back and redo the search. Would be great if the search bar remained on the results view.

[2015-11-30 17:01] bbodenmiller commented on #391
Related to #309.

[2015-11-30 20:03] barbeau commented on #391
Thanks @bbodenmiller , I'm going to close this as a duplicate of #309 and add your comment to that thread.

[2015-11-30 20:03] #391 closed

[2015-11-30 20:07] barbeau commented on #309
From #391:

The auto-complete would help with some of this prior to selecting enter to process the search, but after selecting enter we could definitely make the search widget available at the top of the screen when showing results.  This is similar to how Gmail behaves - here's the screen after hitting enter for a search:

![image](https://cloud.githubusercontent.com/assets/928045/11483016/08184c

[2015-11-30 21:28] bbodenmiller commented on #391
Okay. Just wasn't really sureif  you wanted to have all search improvement ideas in one place since it makes it harder to mark some as complete without marking them as all complete.

[2015-11-30 21:50] barbeau commented on #391
Yeah, this can be tricky for bigger ticket items like search - I tend to group feedback together early on if I think the implementation will knock off all the items in that thread.  As the implementation solidifies, I may pull out issues that aren't covered by the initial implementation, depending on how that looks.

[2015-12-01 19:45] caitbonnar commented on #355
Hi @barbeau! Sorry for the delay, I was traveling the past few weeks. :)
Thanks for going through these and noting which ones are taken care of. I'll send an email out to some contacts again and see if I can round up any more feedback for you!

[2015-12-01 19:58] barbeau commented on #355
Thanks @caitbonnar, any feedback is appreciated!

[2015-12-01 20:02] caitbonnar commented on #355
@barbeau Of course! Are you in beta testing now or still in alpha? I want to make sure I pass on the correct info. :)

[2015-12-01 20:05] barbeau commented on #355
New UI is still in alpha at this point, so these are the instructions to follow to download the alpha version:
https://github.com/OneBusAway/onebusaway-android/blob/master/BETA_TESTING.md#register-as-an-alpha-tester

We only have one more major item to knock off (#313 is a tutorial of the new UI) before going to a wider beta.

[2015-12-01 20:06] caitbonnar commented on #355
@barbeau Awesome, thanks!

[2015-12-03 16:28] barbeau opened #399 "Can't filter Travis notifications for Slack"
Having Travis notify Slack when it completes a build is nice - however, when it notifies on every commit push it generates a lot of chatter in the Android channel.  I'd like to change it to notify only when the status changes from success to failed.

This should be configurable like the following.

For unencrypted keys:
[code]

For encrypted keys:
[code]

`on_success: change` should be the line th

[2015-12-03 16:31] barbeau commented on #399
I've tried generating the secure key using Travis command line tool on Windows:
https://github.com/travis-ci/travis.rb#installation

and the command line from Slack docs:
travis encrypt "onebusaway:xxxxxxx" --add notifications.slack

But this doesn't seem to generate notifications, even when removing the `on_success` and `on_failure`.

In https://github.com/travis-ci/travis-ci/issues/2894#issuecom

[2015-12-03 16:34] barbeau commented on #399
To troubleshoot further, we changed `on_success` to `always`, to make sure a notification would be generated.

Working with @cagryInside on his Mac, we generated the encrypted keys again via:

`travis encrypt "onebusaway:xxxxxxx" --add notifications.slack`

But that didn't work.

We then tried to generate the encrypted keys on Mac via `travis encrypt -r OneBusAway/onebusaway-android --org` and STD

[2015-12-03 16:48] bbodenmiller commented on #356
Was this fix included in the 2.0.7 alpha on the play store? If so, it's not fixed. I just got this again:

1. Opened app, it started on starred stops view
2. Clicked starred stop
3. Slept phone (do not recall if I pressed home before sleeping or not)
4. Unslept phone after maybe 10 minutes (do not recall if app reopened or if home screen open and I clicked app)
5. App resumed to stop view
6. Selec

[2015-12-03 16:50] barbeau commented on #356
@bbodenmiller Thanks - the possible fix https://github.com/OneBusAway/onebusaway-android/commit/0a4a67a73f3c53c3ed3647d3a028673a754956e3 was in v2.0.7 alpha on Play Store, so that means this issue is still happening.  I'm re-opening.  Thanks for the steps to reproduce.

[2015-12-03 17:12] #399 closed

[2015-12-03 17:24] barbeau commented on #356
Yeah, I'm pretty sure it has something to do with the app being destroyed and resumed by the Android OS.  I can't reproduce by following the above steps in order without pausing - I'm assuming it's the "slept phone" step that actually causes this.

[2015-12-03 17:49] barbeau commented on #356
Ah - so the easy way to reproduce this is to just open the starred stops view, and change your screen orientation from portrait to landscape, or vice versa.  It's an issue with resuming when `savedInstanceState` is not null and a previous instance of the fragment exists.  I'll look into this further.

[2015-12-03 20:55] #356 closed

[2015-12-03 20:56] barbeau commented on #356
Ok, this should be fixed for real now:
* If we don't have a reference to a fragment accessible via the nav drawer, check the FragmentManager to see if an instance already exists before we create a new one.
* This fixes an issue with the Starred Stops fragment menu items appearing multiple times (because multiple instances of the fragment were being created), both when the activity was resumed afte

[2015-12-03 21:00] barbeau opened #400 "RouteMapController doesn't retain zoom state"
Revealed after fixing #356 - the `RouteMapController` doesn't properly retain the `ZOOM` state that is set in `onSaveInstanceState()`.  This is noticeable when showing the route on the map, and then changing the orientation of the device.  After changing orientation, the zoom is set all the way out at world level.  It should keep the same zoom level after orientation change.

[2015-12-03 21:29] #400 closed

[2015-12-03 21:33] barbeau opened #401 "Map padding isn't retained on orientation change"
Noticeable after #356 - when changing orientation on the map, the padding isn't retained.  That can result in the camera not zooming/moving properly, and vehicles and/or map marker with focus can be hidden under the route header or the sliding panel.

[2015-12-03 22:05] #401 closed

[2015-12-04 16:24] barbeau opened #402 "Add bikeshare support"
There is now a General Bikeshare Feed Specification (GBFS):
https://groups.google.com/forum/#!topic/transit-developers/Mhf8pmw9WTU

Official spec yet to be published.  We should look at supporting this in OBA - I think this is a client-side issue, although we may need a new set of fields in the Regions API that define the bikeshare API endpoints for a region.

See related issue for OTP:
https://gi

[2015-12-04 23:15] barbeau opened #403 "Orientation change in HomeActivity results in wrong fragment showing"
If you open the app to the map mode, then switch to starred stops, then back to map, then change orientations, instead of showing the map in the new orientation, the starred stops fragment is shown.  The maps fragment should be shown after the orientation change.

[2015-12-08 22:58] barbeau commented on #403
Apparently the hidden state is not persisted with the fragment, unless you call `setRetainInstance(true)` on the fragment.  I'd like to avoid doing that if possible, so I'm going to see if I can re-work the initialization of HomeActivity to initially set the state to the fragments to hidden if they exist from a previous savedInstanceState.

[2015-12-08 23:17] #403 closed

[2015-12-09 20:39] barbeau opened #404 "Add social discussion capabilities via Microsoft Embedded Social"
I've been working with some folks from Microsoft Research in prototyping social networking/discussion features in OBA via a new platform called ~~SocialPlus~~ Embedded Social.  The main benefit to SocialPlus is that its an SDK that allows social actions within the context of the app itself, as opposed to integration with other social platforms that kick you out into their own application.  It does

[2015-12-11 15:48] barbeau commented on #289
This issue may have been fixed by https://github.com/OneBusAway/onebusaway-android/commit/1fe8756c7413d3479af21d440cbf8b848c5ae2fa, which fixed a leak of the `BaseMapFragment` (which extends the `SupportMapFragment`).

From my SO post (http://stackoverflow.com/a/34227146/937715):

    public class HomeActivity ...{

        BaseMapFragment mMapFragment;

        ...

        private void showMap()

[2015-12-11 15:48] #289 closed

[2015-12-11 22:52] barbeau commented on #404
One idea that came out of a discussion with HART was adding canned messages that users may be able to post in context of a stop or trip that could help other riders know:

* Occupancy of bus (crowded vs. empty)
* Wheelchair capacity
* Bike rack capacity

Maybe these could be visualized different from normal comments in the thread, almost like emoji or status labels.

[2015-12-16 16:36] barbeau opened #405 "Add click listeners to reminder buttons in header and Style B cards"
We're currently missing onClickListeners for the reminders buttons in the ArrivalListHeader and in the arrival info Style B cards.  We should add these so the user can go directly to editing the reminder when tapping on these buttons.

[2015-12-19 16:09] barbeau commented on #405
The reminder indication on the style B card is just a TextView, so we'll leave that as is.  For this issue, we'll just add the OnClickListener to the header ImageButtons.

[2015-12-19 16:10] #405 closed

[2016-01-01 16:24] aldiduzha opened #407 "Errors while importing Android Project"

[2016-01-01 16:25] #407 closed

[2016-01-04 15:49] barbeau opened #408 "Reduce timeout for Regions API"
The OA Regions API (http://regions.onebusaway.org/regions-v3.json) is a centrally hosted API at UW that provides all the OBA apps with a directory of OBA servers/regions, as well as their geographic locations, so the apps know which local server they should send API requests to, based on the location of the mobile device.  The Regions API is queried upon initial app installation to fetch the regio

[2016-01-04 16:06] barbeau commented on #408
Timeout is currently set to 30 sec. for all API requests here:
https://github.com/OneBusAway/onebusaway-android/blob/master/onebusaway-android/src/main/java/org/onebusaway/android/io/ObaDefaultConnection.java#L39

[2016-01-04 17:06] barbeau commented on #313
WIP PR for this feature is at https://github.com/OneBusAway/onebusaway-android/pull/406.

[2016-01-04 18:13] bbodenmiller commented on #408
Why not move the json file to be served directly by GitHub or GitHub Pages? Another option would be hosting it with a CDN (e.g. MaxCDN is $0.06 per GB). Something like the free plan on [CloudFlare](https://www.cloudflare.com) might even help.

[2016-01-04 18:34] bbodenmiller opened #409 "Improve display of ferry data"
Per https://github.com/SoundTransit/soundtransit-rds/issues/22#issuecomment-167672625 real-time ferry data is now in OBA. When looking at stop 7 I can't tell which rows corispond to which ferries as multiple have the same headsign and no route number:

![screenshot_20160104-103116](https://cloud.githubusercontent.com/assets/1192780/12097077/81b5469c-b2ce-11e5-8d79-3c5c296f74eb.png)

Additionally s

[2016-01-04 18:55] barbeau commented on #408
@bbodenmiller Those are all certainly valid server-side options that we can discuss.  We will be discussing the server issues further in the OBA annual meeting - see https://groups.google.com/forum/#!topic/onebusaway-developers/pi4fedxTlM4, and there should be another announcement shortly with call-in info.

[2016-01-04 19:21] barbeau commented on #409
@bbodenmiller Interesting, and cool that real-time ferry data is now included!  I'm guessing this is a GTFS data issue, as `route_short_name` and `route_long_name` are both required in the GTFS spec - or there is some really weird formatting in the text.  I can't seem to pull up a "stop 7" in Puget Sound - can you hit the menu button and do "Show Stop Details" to get the stop code?  Or, even bette

[2016-01-04 21:09] bbodenmiller commented on #409
![screenshot_20160104-130739](https://cloud.githubusercontent.com/assets/1192780/12100510/49dfb0ca-b2e4-11e5-9990-a6be0b450155.png)
![screenshot_20160104-130815](https://cloud.githubusercontent.com/assets/1192780/12100512/51acab28-b2e4-11e5-9d90-bccaa36249e9.png)

[2016-01-04 21:25] barbeau commented on #409
Ah, got it - the agency_id is 95 - http://pugetsound.onebusaway.org/where/standard/stop.action?id=95_7.

Here's the API request:
http://api.pugetsound.onebusaway.org/api/where/arrivals-and-departures-for-stop/95_7.json?key=TEST

Looks like `route_short_name` isn't provided in the response:

[code]

As mentioned above, `route_short_name` is required in GTFS:

https://developers.google.com/transit/g

[2016-01-04 21:30] barbeau commented on #409
Just opened this data issue with Sound Transit - https://github.com/SoundTransit/soundtransit-rds/issues/51.

[2016-01-06 20:50] barbeau commented on #409
Sound Transit correctly pointed out that in the description of the fields in the GTFS spec, `route_short_name` OR `route_long_name` is required - you don't have to provide both.  So, we should handle the case where `route_short_name` isn't provided as valid data.

[2016-01-08 17:40] bbodenmiller commented on #187
In the example given at https://github.com/OneBusAway/onebusaway-iphone/issues/518 of a user wanting to report an early departure how should one go about that as it could mean many things? For example, it could mean the bus departed before OBA said it would (based on bad schedule or real-time data) or it could just be that the user wants to report it as leaving early which is against agency policy

[2016-01-11 04:55] barbeau opened #411 "Display different vehicle icons per mode"
Sound Transit is now providing real-time ferry data in their OBA instance, which is awesome.

However, we currently are using the bus icon to represent all vehicles, which results in floating buses:

![image](https://cloud.githubusercontent.com/assets/928045/12227079/361de952-b7f4-11e5-9923-4755d1d205b4.png)

We should change the vehicle icon based on the route mode type.

Here's the API request t

[2016-01-12 17:21] bbodenmiller commented on #408
Any updates on the conversation at the annual meeting?

[2016-01-12 17:24] barbeau commented on #408
Annual meeting discussions ended up being higher level and not about this specifically, but we've been working on resolving this.  I'll share more when we have some conclusive next steps.

[2016-01-12 17:24] bbodenmiller commented on #411
"Floating buses"... This is a fun "bug".

[2016-01-18 16:19] bbodenmiller opened #412 "Add Google Now cards"
Would love to see Google Now cards for OneBusAway. Unfortunately it is currently a [closed process to add new cards](http://stackoverflow.com/questions/32371952/is-there-any-google-now-api-that-we-can-integrate-our-own-apps-into-now) so we'd have to figure out how to navigate that process. There is already a [large number of apps with integration](https://www.google.com/landing/now/integrations.ht

[2016-01-18 16:49] bbodenmiller opened #413 "Add Voice Actions"
Would like to be able to say "OK Google, next bus" and have it open OneBusAway to the nearest bus stop (or prompt for what bus). This appears to be done through the [Voice Actions API](https://developers.google.com/voice-actions/) & [Voice Interaction API](https://developers.google.com/voice-actions/interaction/) but may not be entirely possibly at this time due to what appears to be retooling und

[2016-01-26 18:20] barbeau commented on #409
From https://github.com/SoundTransit/soundtransit-rds/issues/51#issuecomment-170429678:

http://api.pugetsound.onebusaway.org/api/where/arrivals-and-departures-for-stop/95_7.json?key=TEST

arrivalsAndDepartures: [
{
arrivalEnabled: true,
...
tripId: "95_37501101615",
tripHeadsign: "Seattle",  // <-- This doesn't match GTFS
...
[code]

[2016-01-28 15:41] SjoerdvGestel commented on #247
90% of builds fail due to com.android.builder.testing.api.DeviceException: com.android.ddmlib.ShellCommandUnresponsiveException

[2016-02-12 23:04] barbeau commented on #313
PR ready to merge now at https://github.com/OneBusAway/onebusaway-android/pull/414.

[2016-02-12 23:15] #313 closed

[2016-02-12 23:19] barbeau commented on #387
@arirusakko I just finished the tutorial implementation for OBA Android - you can see the files (and strings) that were added/changed here:
https://github.com/CUTR-at-USF/onebusaway-android/commit/c084befb0ec9e3caf5dc82448869bcf842c31712

Would you be able to put together the Finnish translation for these (and anything else that's missing), and open a new pull request with them?

I'd like to start

[2016-02-15 08:24] arirusakko commented on #387
I will try to get the translation pull request done this week. It's pretty far already but needs those new updates and a double check on spelling etc.

[2016-02-15 17:47] barbeau opened #416 "Accessibility - improve read out of sliding panel header / arrivals"
Pulled out as a separate issue from https://github.com/OneBusAway/onebusaway-android/issues/355#issue-116186577.

* The way it reads arrival times in the table is confusing without contextual information (i.e. seeing the column headers). On OneBusAway we changed this to read more logically as, "Route toward Destination. X minute(s) until arrival/departure at Predicted time - Status." ([iOS code &

[2016-02-15 17:49] barbeau commented on #355
I've managed to knock off most of these.  I'm pulling out the remaining items that aren't making v2.0 to a new issue at https://github.com/OneBusAway/onebusaway-android/issues/416, and am closing this one.

[2016-02-15 17:49] #355 closed

[2016-02-15 17:53] barbeau commented on #387
Ok, thanks!   I changed/added a few strings today - you can see these at https://github.com/OneBusAway/onebusaway-android/commit/8baa6bbe3e08fa0dac46746d0072112871d316c8 and https://github.com/OneBusAway/onebusaway-android/commit/68e1db6ca0309286ebb90f0516f55da18770d59a.  If you have time to translate these that would be great - if not, no big deal.  This should be the last change before release.

[2016-02-15 20:20] barbeau opened #418 "Crash on viewing "About" activity on release builds"
On release builds, when going to "Settings->About", the app crashes with this stacktrace:

[code]

[2016-02-15 20:33] #418 closed

[2016-02-15 21:17] caitbonnar commented on #355
Awesome!

On Monday, February 15, 2016, Sean Barbeau <notifications@github.com> wrote:

[2016-02-16 18:47] barbeau opened #419 "Tutorial - shortcuts aren't available on Amazon Fire Phone"
Currently the tutorial is the same across all build variants, including Google and Amazon.  The tutorial includes instructions for creating shortcuts (long-pressing on starred stop list item).  However, shortcuts don't exist on Amazon Fire Phone (it's effectively a no-op).

We should update the tutorial to prevent showing the "shortcuts" tutorial instruction on Amazon Fire Phone.

[2016-02-16 18:57] #419 closed

[2016-02-16 18:59] barbeau opened #420 "Agency X and Y tutorial colors are wrong"
For the Agency X and Y demo apps, the tutorial colors are currently shown as green instead of the theme colors for each of these apps - red and blue respectively.  The color, and reference to color in the tutorial text (e.g., "green dots") should be changed for these apps to be the theme colors.

This affects the Agency X and Agency Y demo apps for build flavors, and not the OBA Google or Amazon b

[2016-02-17 20:25] barbeau commented on #420
Whoops, forgot to change tutorial text accordingly.  Re-opening.

[2016-02-17 20:39] barbeau opened #421 "NPE on Amazon Fire Phone"
Reported by beta user on Fire Phone:

[code]

[2016-02-17 21:24] barbeau commented on #421
Looks like this happens when the route header is closed when the `BaseMapFragment` is destroyed.

This is the `AmazonMap` method that's called by our OBA code in the above stacktrace - `setPadding()`:
https://developers.google.com/android/reference/com/google/android/gms/maps/GoogleMap#setPadding(int,%20int,%20int,%20int)

It changes the map padding so the `AmazonMap` class should no longer takes

[2016-02-17 21:34] barbeau commented on #421
I'm closing this as "Won't fix" until we get more info that it's something we can resolve on our side.

[2016-02-17 21:34] #421 closed

[2016-02-17 22:16] barbeau opened #422 "Create an issue template"
See https://github.com/blog/2111-issue-and-pull-request-templates, also on OBA iOS https://github.com/OneBusAway/onebusaway-iphone/issues/527.

[2016-02-17 22:41] themonki commented on #420
@barbeau I think it is also necessary in the key tutorial_arrival_header_arrival_info_text:

This long! Colored background tells you
        if the bus is early (red) or late (blue). **On time = green background.** If we don\'t know
        where the bus is, the scheduled time is shown (gray background).

On time use the default background color.

For example on Agency Y maybe should say:

This lo

[2016-02-17 22:54] barbeau opened #423 "Allow hiding header arrival info when using ArrivalsListActivity"
When selecting starred stop from the "Starred Stops" fragment, or tapping on a home screen shortcut for a stop, users are taken directly to the `ArrivalsListActivity`.  This is the same `ArrivalsListFragment` that's shown in the sliding panel on the map screen, but locked to the top of the screen.  The header containing the two starred routes is arguably less useful here - from a beta user:

Maybe

[2016-02-17 22:56] barbeau commented on #420
@themonki Ah - good catch.  You're right - re-opening to fix that.

[2016-02-17 22:59] #420 closed

[2016-02-17 23:01] barbeau commented on #420
@themonki Ok, this should be fixed in https://github.com/OneBusAway/onebusaway-android/commit/b9872aa9292d4969d427a6580204a9c4348e19f8.  The choice of the arrival time colors isn't the best in the demo apps, as both the blue and red of the theme colors overlap (to some degree) the arrival time early and late colors.  But, I think it at least gets the point across of how the colors can be customize

[2016-02-17 23:05] barbeau commented on #420
@themonki Actually, there should be a `values-es` folder under `src/agencyX/res` and `src/agencyY/res` with a translated `strings.xml` for those build flavors that match `src/agencyX/res/values/strings.xml` and `src/agencyY/res/values/strings.xml`, respectively.  Feel free to tackle if you'd like for Spanish ;).

[2016-02-18 12:38] themonki commented on #420
@barbeau Yes, is cool the colors can be customized, but i think for the arrival time colors should be a standard for OBA. Because the user must already be accustomed to seeing these colors.

I send a PR soon for `values-es` for AgencyY and AgencyX.

Furthermore, if the `app_name` key can be change, some string can be change too, for example, i create a brand, only for test, here https://github.com

[2016-02-18 14:56] barbeau commented on #420
@themonki Yes, the cool this about rebranding is that minor changes like colors and text can be changed while still sharing the same code base (i.e., you don't even need to fork the project) - and you can still have your own app on the app store.  I'm open to adding more brands to the main OneBusAway project here in the main repo as well, because there would be more incentive for everyone to contr

[2016-02-18 15:02] barbeau commented on #264
@cagryInside Could you please take a shot at fixing this?  You should be able to use the app.staging.obahart.org machine to test (i.e., you can log into the admin webapp to see the problem reports).  There is an existing PR open here, but there are still some issues to be worked out - https://github.com/OneBusAway/onebusaway-android/pull/382.

[2016-02-18 15:04] barbeau commented on #264
Newest status - issue reporting seems to be working in Puget Sound, but not Tampa or Atlanta.  So to fix this issue, we need to test against at least those three regions and make sure it works.

[2016-02-18 15:08] barbeau commented on #264
And we should probably confirm with admins of Puget Sound and Atlanta that they actually get the problems reports after we fix this.

[2016-02-18 15:49] themonki commented on #420
@barbeau is awesome. For now I only testing of the brand concept. Maybe when I implemented some new feature send a PR.

[2016-02-18 16:02] barbeau commented on #420
:+1:

[2016-02-19 17:00] arirusakko commented on #387
I've created pull request now:
https://github.com/OneBusAway/onebusaway-android/pull/425

Report if there are any problems. I didn't have time to actually test this on device yet. Tried to be extra careful though...

[2016-02-25 16:27] cagryInside commented on #264
@barbeau I just pushed a fix for this issue.  There was a problem with post requests (Sheldon mentioned   [here] (https://github.com/OneBusAway/onebusaway-application-modules/issues/126#issuecomment-94544761)). So, I used get requests instead of post requests for stop/trip problem reporting. Further, there was a parsing problem [here] (https://github.com/cagryInside/onebusaway-android/commit/10fa4

[2016-02-25 17:48] barbeau commented on #264
@cagryInside Awesome!  Just copied you on an email - I want to test this with the 3 main production OBA instances to confirm it works, then you can submit a PR.

[2016-02-25 18:25] cagryInside commented on #264
Atlanta's server returns an internal error for API request:

Request:
[code]

Response:
[code]

[2016-02-26 23:13] barbeau commented on #423
We should also add analytics to this so we know how many users don't want to see the arrivals in the header.

[2016-02-29 16:24] bbodenmiller opened #428 "Tapping on bus marker opens stop information"
When on the show route view, when I try to click the bus to get real-time status information it normally ends up clicking the stop rather than the bus. To address this, I suggest hiding the stops at a certain zoom level where it no longer makes sense that you'd be trying to click an individual stop.

[2016-02-29 16:26] bbodenmiller commented on #428
For example, here I tried to click the bus icon but ended up with the stop selected:

![screenshot_20160229-082459](https://cloud.githubusercontent.com/assets/1192780/13400736/fc2b73f4-debd-11e5-93d5-0b82117765d8.png)

[2016-02-29 16:50] barbeau commented on #428
@bbodenmiller Yes, I've noticed this too - it mainly happens with north/south routes as shown, where the bus marker overlaps and underlying stop.  A workaround is to rotate the map using two fingers so that the north/south route runs left to right (instead of top to bottom) - the bus markers don't rotate with the map (arguably another issue), so that will move the bus marker away from the stop.  I

[2016-02-29 17:28] themonki opened #429 "Custom Colors on arrival header for "on time""
I see on [colors.xml#L53](https://github.com/OneBusAway/onebusaway-android/blob/master/onebusaway-android/src/main/res/values/colors.xml#L53) the **stop_info_ontime** key is using the theme color.

If for example I create a new "brand" and I want to change that value, for example to green (because the theme color is blue dark or red or another), the header show the theme color over **stop_info_ont

[2016-02-29 21:16] barbeau opened #430 "Add tests for frequency-based trips"
Most transit service in OBA servers today is scheduled-based.  However, we do support frequency-based (e.g., every 15 minutes) in OBA (at least with static data - real-time support is hopefully coming soon as part of the work CS is doing in Puget Sound).  However, we don't currently have any unit tests for frequency-based trips.  We should add tests for frequency-based trips.

We're currently host

[2016-02-29 21:57] barbeau commented on #423
After implementing this, I think it's actually better to have the header arrivals hidden by default in the `ArrivalsListActivity`.  It's much easier to read at a glance and immediately understand what's going on, and its very similar to the original presentation of arrivals in this view for v1.x.  The header arrivals are useful for the ability to star routes and pin them to the header, but that's

[2016-02-29 22:02] barbeau commented on #423
For reference, here are the two versions side-by-side:

![image](https://cloud.githubusercontent.com/assets/928045/13410511/364364c8-df06-11e5-93fe-a288c97ba105.png)

[2016-02-29 22:20] #423 closed

[2016-02-29 22:25] barbeau opened #431 "Add more tutorials for ArrivalsListFragment"
We'll probably want to introduce these gradually (instead of all back-to-back at once), so maybe we do this after the user opens the arrivals list a few times:
* Route filter
* Show/hiding arrivals in header (from #423)
* Night light

[2016-03-01 01:29] barbeau commented on #387
Fixed via https://github.com/OneBusAway/onebusaway-android/pull/425.

[2016-03-01 01:29] #387 closed

[2016-03-01 03:17] bbodenmiller commented on #423
In the example shown on the left, how do favorited stops/routes appear? At the top of the list?

[2016-03-01 03:47] barbeau commented on #423
The left is basically a collapsed version of the right, and you can switch back and forth using an option in the context menu (3 dots in upper right) or via Settings preference.  When the header is collapsed you just get the normal list of arrivals, sorted by route or ETA.  Starred routes are hidden in the header in this view.  If you looks at the screenshots on Google Play it's very close to the

[2016-03-01 07:49] bbodenmiller commented on #423
I like the left view without the headset best however I'd like my starred stops and routes to appear at the top of the list. I think by default would be best but I could settle for it only being applied if that's the sort option I've selected.

[2016-03-01 19:02] #264 closed

[2016-03-01 19:14] barbeau commented on #429
@themonki Just to clarify - you'd like to be able to customize both the "on-time" color in the list and in the header, right?

If so I can tweak the resources to allow this.  I initially made the assumption that the "on-time" color in the header would match the header background color (i.e., everything is ok, and its running on time), but I can see how you may need to customize this.

[2016-03-01 19:43] themonki commented on #429
@barbeau  I see it is a good proposal that use the background color to indicate the "on time" but I think if another color is used in the **arrivals list** can confuse.

I think the colors should have a meaning like a **semaphore** and if any other transit agency wants to change colors according to those used in their own ETA system.

I propose two scenarios:

1. Remove the stop_info_ontime value

[2016-03-01 19:51] barbeau commented on #429
@themonki Makes sense - I was thinking something like 2, but actually defining a separate color in colors.xml for the arrival header on time color, which would give you more flexibility.  In this case you could actually set the on time color for the header different from the list if you wanted (or could set them to the same).  I'll work on fixing this.

[2016-03-01 20:34] #429 closed

[2016-03-01 20:36] barbeau commented on #429
@themonki Just pushed a fix for this to master branch.  There is now a new color `header_stop_info_ontime` in `colors.xml` that you can override in build variants to customize the header on time color to whatever you want.

For example, if you wanted to simply make is the same color as the on time color used in the list, you'd set it to:
`<color name="header_stop_info_ontime">@color/stop_info_onti

[2016-03-01 20:44] themonki commented on #429
Cool @barbeau :+1:

[2016-03-04 14:45] barbeau opened #432 "Update search hint text to reflect true search capabilities"
The current hint text in the Search box is "Search stops or routes":

![image](https://cloud.githubusercontent.com/assets/928045/13530048/6041b95c-e1ed-11e5-994b-18229688421d.png)

However, IIRC, we really only currently support searching for `stop_code` or `route_short_name` via the [stops-for-location](http://developer.onebusaway.org/modules/onebusaway-application-modules/current/api/where/metho

[2016-03-07 20:00] #432 closed

[2016-03-07 21:24] #431 closed

[2016-03-07 21:52] barbeau opened #433 "Update Spanish translation"
@themonki Would you be able to do another quick translation?

I believe all the new strings are contained in these commits, although you probably want to double-check:

* https://github.com/OneBusAway/onebusaway-android/commit/0b0991ee53a040ab032f18528ad3fca0a0026580
* https://github.com/OneBusAway/onebusaway-android/commit/5bf07287a6d378566648c1123ad1f873340edc47
* https://github.com/OneBusAway/o

[2016-03-07 21:53] barbeau opened #434 "Update Finnish translation"
@arirusakko Would you be able to do another quick translation?

I believe all the new strings are contained in these commits, although you probably want to double-check:

* https://github.com/OneBusAway/onebusaway-android/commit/0b0991ee53a040ab032f18528ad3fca0a0026580
* https://github.com/OneBusAway/onebusaway-android/commit/5bf07287a6d378566648c1123ad1f873340edc47
* https://github.com/OneBusAway

[2016-03-07 22:02] themonki commented on #433
@barbeau I am going to work on this

[2016-03-07 23:36] #433 closed

[2016-03-08 19:22] barbeau opened #436 "Show only departures at first/last stop for loop routes"
Related to https://github.com/OneBusAway/onebusaway-android/issues/287, but this issue is specifically for loop routes.

Same issue on OBA iOS at https://github.com/OneBusAway/onebusaway-iphone/issues/562.

For the first/last stop on loop routes, we currently show both the arrival and the departure, which is confusing.  For example:

![image](https://cloud.githubusercontent.com/assets/928045/13612

[2016-03-09 16:06] #422 closed

[2016-03-09 21:01] barbeau opened #437 "Add more stop details to the header when hiding arrivals"
In https://github.com/OneBusAway/onebusaway-android/issues/423 we now hide the arrivals in the header by default when coming into the ArrivalsListActivity (i.e., from the starred stops fragment or via a Home screen shorcut), which looks like this:

![image](https://cloud.githubusercontent.com/assets/928045/13649288/fc4a095a-e60a-11e5-996e-639efcbc904a.png)

v1.x included the direction for the stop

[2016-03-09 21:05] barbeau commented on #437
More subtle mockup with only `stop_code`:

![image](https://cloud.githubusercontent.com/assets/928045/13650409/8eb757fc-e610-11e5-843a-0d9da53e820e.png)

[2016-03-10 13:50] arirusakko commented on #434
I will try to look at some point, maybe next week. Currently having too much ongoing at work.

[2016-03-10 22:12] barbeau opened #438 "Consider alternate presentation of delay info in Arrival Style A"
Feedback from a beta user:

![image](https://cloud.githubusercontent.com/assets/928045/13686209/c1289eb2-e6e2-11e5-9899-aa6e069822b6.png)

I think I kind of like this, although we'd need to be careful we're not making text too small to read.  It groups the color in the same place, which probably helps reinforce that the estimate includes the early/late info.  It would also give us a little more ro

[2016-03-10 22:34] themonki commented on #438
What about this at the same "time label" level?

eg:

8:07 AM - 3 min delay
8:44 AM - Scheduled arrival

Someting like the OBA web:
![image](https://cloud.githubusercontent.com/assets/1817333/13686807/a1f41fa0-e6e5-11e5-8bf8-9ec8667e3b72.png)

[2016-03-10 22:42] barbeau commented on #438
@themonki I tried this early in the Android UI refresh.  However, I prefer the "bubble" presentation of the delay info - I believe white on color is easier to read than color on white (or gray), and it sets it off from the other text.  And, with the bubble presentation, the time and delay on the same line didn't look good - it doesn't really align properly.  Plus, with longer text (e.g., "Departed

[2016-03-10 23:15] themonki commented on #438
I was thinking on using the "bubble presentation"

It is a big problem layout.

and new "Row" on the middle column? But i think "less is more".

Also like a "pop-up" would not be an option because "bus options" currently are displayed ...

well, only some extra ideas.

[2016-03-10 23:35] barbeau commented on #438
Ideas always welcome! :)

[2016-03-11 14:24] barbeau commented on #290
We should also be using `NotificationCompat.Builder`:
http://developer.android.com/reference/android/support/v4/app/NotificationCompat.Builder.html

[2016-03-11 14:36] barbeau commented on #184
Now that we have favorite routes as well, we could only notify users at favorite stops for favorite routes, to help cut down on chatter for routes they don't care about.

[2016-03-11 14:40] barbeau commented on #200
This is how Uber times appear in the Transit App:

![image](https://cloud.githubusercontent.com/assets/928045/13705104/459af46c-e76d-11e5-843c-1f3d0e5a9ea6.png)

We could do something similar with inserting an Uber record in the ETA list.

[2016-03-11 14:40] erick03 commented on #290
Great!

[2016-03-11 16:36] barbeau commented on #25
York's current implementation is slightly different that the original mockups they provided in terms of content/style - the best way to see what the current app looks like is to sign up for their beta updates here - https://play.google.com/apps/testing/can.yrt.onebusaway.

[2016-03-11 16:55] barbeau commented on #25
@sheldonabrown Ok, I've rebased the below branch on master as of today (currently v2.0.9):
https://github.com/OneBusAway/onebusaway-android/tree/25-tripPlan

This adds the new "Plan a trip" option to the navigation drawer as shown in https://github.com/OneBusAway/onebusaway-android/issues/25#issuecomment-143394440, and when tapping on this it launches a new activity.  The new activity is currently

[2016-03-14 14:08] barbeau commented on #287
From https://github.com/OneBusAway/onebusaway-iphone/pull/547#issuecomment-195779008, OBA iOS just made a change to the UI control for filtering departures.  Here's the new UI:

![image](https://cloud.githubusercontent.com/assets/928045/13747023/aa248dc4-e9cc-11e5-93ef-ded01f313fbb.png)

[2016-03-14 17:05] barbeau commented on #287
My mistake on the iOS screenshot - this is just for filtering routes, it has nothing to do with arrivals vs. departures (see https://github.com/OneBusAway/onebusaway-iphone/pull/547#issuecomment-196403059).

[2016-03-14 17:40] bbodenmiller commented on #436
Rather than hide the arrival time I think it'd be more valuable to find a way to label them appropriately. Sometimes you want to be able to see the arrival time, such as when you are trying to make a connection and want to see if you can actually make it.

[2016-03-14 18:16] barbeau commented on #436
@bbodenmiller Better labeling could definitely help when there is a layover - we'd certainly need this in the unfiltered view anyway (if we choose to automatically filter).

However, I think in the case when there isn't a layover we shouldn't show two different entries in the arrivals list.  A trip without a layover currently appears as two duplicate entries, with same time/delay/ETA.

[2016-03-15 13:55] barbeau opened #439 "Vehicle icons remain on map after closing route mode"
* **Summary:**

When closing out route mode, some vehicle icons still remain on the map:

![image](https://cloud.githubusercontent.com/assets/928045/13779714/d09f3a8c-ea92-11e5-8115-6e5b6ac4f5db.png)

* **Steps to reproduce:**

I saw this twice last night when pulling up routes in the Washington, D.C. region, but I can't reproduce it now when browsing D.C. routes.  I've also never seen this in Tam

[2016-03-15 13:55] barbeau commented on #438
Pushing this to v2.1 milestone.

[2016-03-15 19:02] barbeau commented on #439
Bumping this to milestone v2.1, as I can't currently reproduce it.

[2016-03-15 19:16] barbeau opened #440 "NPE - Attempt to invoke 'boolean java.io.File.mkdir()' on a null object reference"
From Android developer console, for v2.0.8 beta:

[code]

Device info:

[code]

This is a bug in Google Play Services - more info at https://code.google.com/p/gmaps-api-issues/issues/detail?id=9021.

Google has fixed the issue internally (Jan 20, 2016) but hasn't rolled out the update to Google Play Services yet.  This could actually halt our public rollout of v2.0, as according to the comments on

[2016-03-15 19:21] barbeau opened #441 "NPE - BaseMapFragment.OnFocusChangedListener.onFocusChanged()"
From Android developer console for v2.0.8 beta:

[code]

Device info:

[code]

User message:

[2016-03-15 19:23] barbeau opened #442 "IllegalArgumentException - width and height must be > 0 - ShowcaseView"
From Android developer console, for v2.0.8 beta:

[code]

Device info:

[code]

User message:

[2016-03-15 19:30] #441 closed

[2016-03-15 20:07] barbeau opened #443 "Add more information to Readme for troubleshooting initial dev setup"
I've gotten several questions from developers about initial setup of the app re: build flavors.  The app currently defaults to the Amazon Agency X build flavor, which causes confusion.  For example, see https://groups.google.com/d/msg/onebusaway-developers/KqAZu4XoNVo/GR2XbofCFgAJ.  Most people will want to run the `obaGoogleDebug` version.

We should add more documentation/screenshots in the Read

[2016-03-15 20:36] barbeau commented on #443
Looks like setting up a default variant via build.gradle isn't yet supported - here's the AOSP issue to star if you want to request this feature - https://code.google.com/p/android/issues/detail?id=64917.

[2016-03-16 13:38] barbeau commented on #439
I'm thinking this may have something to do with the number of features being shown on Google Maps, and Google Maps API v2's ability to handle a large number of features.

I did a quick random count of the number of points in route polylines for routes in different regions:

**Tampa - Route 5**
`D/BaseMapFragment: Total points for route polylines = 668`

**Tampa - Route 6**
`D/BaseMapFragment: Tota

[2016-03-17 01:53] barbeau commented on #290
Here's how notifications are currently used in OBA Android:

1. Pull up arrival times
1. Tap on an arrival time
1. Tap "Set a reminder", and save it

You should get a notification then based on the reminder you set up.

[2016-03-17 02:02] barbeau commented on #290
As far as unit-testing Notifications on Android - I've never set this up before, so I'm not sure the best way to approach it.  Ideally it would involve actually registering a Notification and then retrieving it from the Android framework to confirm it was set up correctly, or somehow otherwise detecting it.

The following seems promising - http://stackoverflow.com/a/34467347/937715.

[2016-03-17 15:44] barbeau commented on #439
I've implemented polyline simplification using the android-maps-util library in this branch:
https://github.com/OneBusAway/onebusaway-android/tree/simplifyPolylines

However, I'm seeing strange artifacts that shouldn't exist, such as the line across the middle of the route below:

![image](https://cloud.githubusercontent.com/assets/928045/13851366/3fb57e98-ec34-11e5-9496-c1584285646f.png)

This is

[2016-03-17 15:47] barbeau opened #444 "Simplify route polylines before they are drawn on the map"
I started investigation of this as part of troubleshooting https://github.com/OneBusAway/onebusaway-android/issues/439, but this would generally help performance when panning the map.

From https://github.com/OneBusAway/onebusaway-android/issues/439:

`D/BaseMapFragment: Total points for route polylines = 668`

`D/BaseMapFragment: Total points for route polylines = 560`

`D/BaseMapFragment: Total

[2016-03-18 15:00] themonki commented on #442
I report this, with 2.0.9 beta version currently I can not reproduce.

[2016-03-18 19:11] charles-b-stb commented on #290
Ok, as far as my testing goes, the code I wrote using new notifications framework produces notifications properly. I just have to generate the test for it as required (I believe?) by the developer agreement.

Should I also bump the compile sdk version as part of this fix, or will that be handled elsewhere?

[2016-03-18 19:47] barbeau commented on #290
Cool!  Tests aren't required, but very much appreciated.  They help us keep the code quality high.

Let's wait to bump `compileSdkVersion`, we can do that elsewhere.

[2016-03-18 21:19] barbeau commented on #442
@themonki In 2.0.8, did this happen every time you tried to restart the tutorial?  Or just occasionally?

I didn't change anything that would have fixed this, so I'm curious why it's not happening in v2.0.9.

[2016-03-18 21:49] themonki commented on #442
Steps:
1. The tutorial was active and I made a few steps.
2. I selected to redisplay the tutorial.
I remember I made three consecutive times with the crash of the application.

I'll try to replay with this version and will show you if so.

[2016-03-18 22:09] barbeau commented on #442
@themonki Yes, if you could do some additional testing w/ v2.0.9 to make sure it doesn't happen again, that would be great.

[2016-03-18 22:11] barbeau commented on #442
I should also add that OBA code doesn't appear anywhere in the stack trace, so it's very possible there is a bug in the ShowcaseView library we use for the tutorial that only shows up under rare circumstances that repeatedly caused the crash.  In this case we really couldn't do anything to fix it anyway.

[2016-03-19 02:16] barbeau commented on #290
The closest existing test would probably be the provider test for the reminders (trip alerts) - https://github.com/OneBusAway/onebusaway-android/blob/master/onebusaway-android/src/androidTest/java/org/onebusaway/android/provider/test/TripAlertsTest.java

It just tests if the proper records are inserted in the provider, though, it doesn't touch the actual notifications.

@charles-b-stb For notifica

[2016-03-22 01:07] themonki commented on #442
Hi @barbeau,

On the version v.2.0.9 also it occurs (I use Agency Y):

`03-21 19:10:03.790 1524-1524/org.agencyy.android D/AndroidRuntime: Shutting down VM
03-21 19:10:03.807 1524-1524/org.agencyy.android E/AndroidRuntime: FATAL EXCEPTION: main
                                                                   Process: org.agencyy.android, PID: 1524

[2016-03-22 01:22] barbeau commented on #442
@themonki awesome, thanks for the detailed steps to reproduce!  I'll take a look and see if there is a workaround.

[2016-03-22 05:50] charles-b-stb commented on #290
Sorry for being late on updating this. I realized while working on a test case that my first implementation was wrong as it left the service trying to manage references to notification objects. I will fix this before continuing to build a test case.

[2016-03-22 13:41] barbeau commented on #290
@charles-b-stb No rush!  I'd prefer a correct solution to a fast one, so take your time.

[2016-03-22 13:43] barbeau commented on #442
I was able to reproduce this on the `obaGoogle` build variant as well.  After the crash, the back button also appears to be disabled, which means that it thinks the ShowcaseView is still open and active.

[2016-03-22 16:26] arirusakko commented on #434
made the updates: https://github.com/OneBusAway/onebusaway-android/pull/446

[2016-03-22 16:31] #434 closed

[2016-03-22 19:28] charles-b-stb commented on #290
@barbeau I am still processing the needed changes, but this is beginning to look like a fairly big deal. From what I am seeing in the code, it looks like most if not all of the code in TripService.java is obsolete given the new architecture from Google. We should not be saving notifications anywhere at all.

I would just rewrite this whole process to rely on NotificationManager to handle notificat

[2016-03-22 20:01] barbeau commented on #290
Yes, that's the best solution - `TripService` needs to be updated to the current best practices for Notifications.  I haven't looked at that code in a while, so a fix may be more invasive than I recall.

Yes, OBA was initially set up to be able to expose info to other apps (before my time), but to my knowledge this was never actually implemented by any other application.  I started looking at this

[2016-03-23 18:17] barbeau opened #447 "Large number of service alerts make arrivals unviewable"
1. **Summary:**

When there are a large number of service alerts active for a specific stop, you can't view the arrivals.

2. **Steps to reproduce:** How can we reproduce the issue?

Using test server `app1.staging.obahart.org, go to stop_code 5512 (stop_id 2757) and view arrivals.

Here's the URL that includes the alerts, see http://app1.staging.obahart.org/api/where/arrivals-and-departures-for-s

[2016-03-24 13:54] barbeau commented on #447
Same issue with production v1.7.9:

![image](https://cloud.githubusercontent.com/assets/928045/14018882/630a7138-f1a6-11e5-8ed9-d4e7d1f4013e.png)

[2016-03-25 21:08] barbeau commented on #287
Via https://github.com/OneBusAway/onebusaway-application-modules/issues/148 and PR https://github.com/OneBusAway/onebusaway-application-modules/pull/149, we now have access to a new API parameter `totalStopsInTrip` on some OBA installations that should help with this.

* stopSequence - the index of the stop into the sequence of stops that make up the trip for this arrival.  This value is 0-indexed

[2016-03-28 16:17] barbeau opened #450 "Allow tapping on phone numbers or URLs in Service Alerts"
**Summary:**

We should allow users to tap on phone numbers or URLs in Service Alerts, so they can easily access more information related to the alert.

Example alert:

URLs to same stop/alert in webapp - http://tampa.onebusaway.org/where/standard/stop.action?id=PSTA_4473 and http://tampa.onebusaway.org/where/standard/service-alert.action?id=PSTA_13.

**Steps to reproduce:**

Open a service alert

[2016-03-28 18:41] barbeau opened #451 "Background shading behind arrival time cards isn't consistent"
**Summary:**

If you look closely at the background color behind the cards for Arrival info, both Style A and B, there is a darker gray surrounding by a lighter gray - the background should all be the same color (minus the shadow of the card itself).

This seems to be more noticeable when viewing the ArrivalsListFragment within the ArrivalsListActivity than the sliding panel, but exists in both vi

[2016-03-28 18:54] barbeau commented on #451
This is also very noticeable in the ArrivalsListActivity view for stops with no immediate upcoming arrivals:

![image](https://cloud.githubusercontent.com/assets/928045/14086782/e56b9034-f4f4-11e5-89e7-4f80572d1091.png)

It looks like the fill color within the card itself is off as well.

[2016-03-29 13:50] barbeau commented on #287
PR at https://github.com/OneBusAway/onebusaway-android/pull/449.

[2016-03-29 16:56] #287 closed

[2016-03-29 17:01] barbeau opened #452 "Update Spanish translation"
Sorry to ping you once again @themonki, but I just added better description of arrivals/departures in https://github.com/OneBusAway/onebusaway-android/pull/449.

Would you be able to provide a Spanish translation for these new strings?

Thanks!

[2016-03-29 17:03] themonki commented on #452
No problem @barbeau. I review this. :+1:

[2016-03-29 17:03] barbeau opened #453 "Update Finnish translation"
Sorry to ping you once again @arirusakko, but I just added better description of arrivals/departures in https://github.com/OneBusAway/onebusaway-android/pull/449.

Would you be able to provide a Finnish translation for these new strings?

Thanks!

[2016-03-29 18:14] barbeau commented on #436
So after looking at the implementation in #287, I think I've changed my mind on this.

The labeling seems to be enough on loop routes to distinguish back to back arrivals/departures:

![image](https://cloud.githubusercontent.com/assets/928045/14091291/66390012-f50d-11e5-9bdc-1185d9e10acf.png)

Bus was scheduled to arrive at 5:55pm and have a 5 min layover, and depart at 6pm. It's running 6 min lat

[2016-03-29 18:14] #436 closed

[2016-03-29 20:13] #452 closed

[2016-03-30 15:08] kencon commented on #438
I like this idea. It cleans up the UI a bit. Could the same be done with the scheduled arrival bubble as well or just shorten it to Scheduled?

[2016-03-30 19:19] barbeau commented on #438
@kencon So the proposal here is to move all labels directly beneath the ETA, including for scheduled.  The above screenshot just left the old label location in the bottom two rows for comparison.

[2016-03-30 19:33] kencon commented on #438
Regarding scheduled departures, would it be worthwhile to have it in clock time format instead of a countdown? I've seen many RTPI systems use this method to differentiate real-time estimates from scheduled departures.

[2016-03-30 19:38] barbeau commented on #438
@kencon That was exactly my thought when working on the alternate route-sorted/grouped presentation of arrival times (referred to as "Style B" internally) - you can get this by tapping the "Sort" button in the action bar:

![image](https://cloud.githubusercontent.com/assets/928045/14154913/31dbf4ce-f68d-11e5-89b2-7875ee59e441.png)

Scheduled times are in clock format on the left, with real-time ET

[2016-03-30 19:41] kencon commented on #438
That's true. If it's not broken.

[2016-03-30 21:07] charles-b-stb commented on #290
I believe I have a viable fix here: https://github.com/charles-b-stb/onebusaway-android.git on the branch "issue290-NotificationManager". As far as my manual testing goes, this seems to be working, but I am still unclear on how to write a test case.

The sample you shared earlier relies on an existing test framework set up specifically for provider objects, and its not clear to me that this will w

[2016-03-30 22:17] barbeau commented on #290
Cool!  As far as using native Android to implement the notifications test, I'd check out the `NotificationListenerService`:
https://developer.android.com/reference/android/service/notification/NotificationListenerService.html

In theory I think in a unit test you could set up the listener, register the notification, and make sure that your listener gets the same thing back that you registered.

Ma

[2016-04-01 13:27] barbeau commented on #453
Fixed via https://github.com/OneBusAway/onebusaway-android/pull/455.

[2016-04-01 13:27] #453 closed

[2016-04-05 20:14] barbeau commented on #442
Reported by another user as well, after clicking through a few screens (including real-time vehicles on map) and then restarting the tutorial.

Here is where the tutorials are reset after tapping "Help->Show tutorials":
https://github.com/OneBusAway/onebusaway-android/blob/master/onebusaway-android/src/main/java/org/onebusaway/android/ui/HomeActivity.java#L604

Code is:

[code]

`NavHelp.goHome()`

[2016-04-05 20:33] themonki commented on #442
On `ShowcaseViewUtils.resetAllTutorials();` its, maybe, necessary:
[code]
?

[2016-04-05 20:58] barbeau commented on #442
@themonki Good catch!  Yes, those need to be added too, although I don't think it's the cause of this issue (missing those lines would just result in those tutorials not being shown again).  Thanks for pointing this out, though, I'll fix it.

[2016-04-05 21:04] barbeau commented on #442
Here's a more complete stack trace:

[code]

[2016-04-05 21:30] barbeau commented on #442
So moving the following to `HomeActivity.onResume()` results in the same crash:

[code]

[2016-04-05 22:25] themonki commented on #442
@barbeau I have noticed that the crash always happens if you go of the view 'trip detail' from clic on balloon:

From here clic on balloon:
![image](https://cloud.githubusercontent.com/assets/1817333/13938766/b79e8f74-ef9c-11e5-836a-16d1ffeb834d.png)

Go here and always crash the app:
![image](https://cloud.githubusercontent.com/assets/1817333/13938758/9fdc14ce-ef9c-11e5-8318-c8149d74f966.png)

Bu

[2016-04-05 22:41] barbeau commented on #442
@themonki Ok, thanks for the info.  This crash is still related to showing the tutorial again, right?  In other words, it doesn't crash if you don't choose "Help->Show tutorial"?

[2016-04-05 22:56] themonki commented on #442
Yes, only crash with thats events and choose the option "Help->Show tutorial".

a new clarification.

If clic on "Map" Button the app crash on restart the tutorial, if clic on "Back" Button the app dont crash on restart the tutorial:

![image](https://cloud.githubusercontent.com/assets/1817333/13938758/9fdc14ce-ef9c-11e5-8318-c8149d74f966.png)

[2016-04-05 23:37] themonki commented on #442
Update

same issue happen on clic "Map" Button on this view on restart the tutorial:

![image](https://cloud.githubusercontent.com/assets/1817333/14301409/45ec96ba-fb5d-11e5-870c-6bb7262f4c1b.png)

[2016-04-06 20:49] barbeau commented on #442
Looks like this has actually been fixed in a newer version of the ShowcaseView library:
https://github.com/amlcurran/ShowcaseView/commit/c79c60dc798f081fb62e48c549c7bdbff8da51b9

Not sure why none of the above resources reflect that.  So, bumping library to `compile 'com.github.amlcurran.showcaseview:library:5.4.2' or `compile 'com.github.amlcurran.showcaseview:library:5.4.3'` should hopefully fix

[2016-04-06 20:50] barbeau commented on #442
Oh - looks like `5.4.3` was literally committed 22 minutes ago.  `5.4.2` was released a few days ago:
https://github.com/amlcurran/ShowcaseView/commits/master

[2016-04-06 21:19] themonki commented on #442
@barbeau the last commit [d11f19b](https://github.com/OneBusAway/onebusaway-android/commit/d11f19ba2c63b391762e3f61e74d36e74d3fe34d) cause error on current status of travis:

https://travis-ci.org/OneBusAway/onebusaway-android

[2016-04-06 21:23] barbeau commented on #442
@themonki Thanks, I'm looking at that now.  Not sure why - might be Travis issue.

[2016-04-06 21:26] amlcurran commented on #442
I'm not sure if that fix will definitely work, but please me know if it does!

[2016-04-06 21:35] barbeau commented on #442
@amlcurran Thanks, we'll give it a shot.  Do you plan to push `5.4.3` release today?

[2016-04-06 21:40] amlcurran commented on #442
The release is pushed :) should be available now

[2016-04-06 21:47] barbeau commented on #442
Hmmm...I'm getting "Failed to resolve" error for `compile 'com.github.amlcurran.showcaseview:library:5.4.3'`.

'com.github.amlcurran.showcaseview:library:5.4.2'` works fine.

5.4.3 also doesn't show up in Maven Central:
http://search.maven.org/#search%7Cga%7C1%7Ccom.github.amlcurran.showcaseview

[2016-04-06 21:59] amlcurran commented on #442
Oh yeah I didn't completely publish it! I'll do it now, should be available
within the next couple of hours.

Sorry about that

On Wed, 6 Apr 2016, 22:47 Sean Barbeau, <notifications@github.com> wrote:

[2016-04-07 19:43] barbeau commented on #442
@amlcurran After some testing, it appears that the `java.lang.IllegalArgumentException: width and height must be > 0` crash IS fixed in 'com.github.amlcurran.showcaseview:library:5.4.3'`.  Thanks for fixing this!!

I'll comment on the remaining open issue https://github.com/amlcurran/ShowcaseView/issues/197 as well.

For OBA Android, we still have an issue of the back button being disabled after t

[2016-04-07 19:46] #442 closed

[2016-04-07 19:51] barbeau opened #456 "Back button is disabled after restarting tutorial"
**Summary:**

Initially discovered in https://github.com/OneBusAway/onebusaway-android/issues/442#issuecomment-199821464.

After viewing vehicles on the map, and then tapping on vehicle info window, and then tapping on Map action bar button, and then choosing "Help->Show Tutorial", the back button is disabled in the `HomeActivity`.

Only workaround is to kill and restart the app to get the back bu

[2016-04-07 20:08] barbeau commented on #456
It looks like this is related to the ShowcaseView being triggered from within `VehicleOverlay.CustomInfoWindowAdapter.getInfoContents(Marker marker)` - if I comment out the line:

[code]

Then the back button remains functional.  When debugging the `.getInfoContents()` method is called very frequently by the platform - I'm guessing this is related.  Strangely, this continues to be called even afte

[2016-04-07 20:18] barbeau commented on #456
Interesting - if you return to the map where you originally tapped on the vehicle marker to open the balloon, and tap on the map to close the marker popup balloon, then the calls to `.getInfoContents()` stop.  It seems like the `GoogleMap` object never realizes that the marker balloon contents are no longer visible, so it continuously tries to render them, even when the fragment/activity are no lo

[2016-04-07 20:31] barbeau commented on #456
Ah - so it looks like this related to a Handler we have running to keep the vehicle marker balloon open, even after the vehicles are reloaded.  This is a workaround, as there isn't any built-in mechanism to keep a marker balloon open when updating it.

[code]

If I comment out the above `mCurrentFocusVehicleMarker.showInfoWindow();` line then the calls to `.getInfoContents()` stop when the marker

[2016-04-07 21:03] barbeau commented on #456
Confirmed - removing callbacks on info window click seems to fix the constantly calling `.getInfoContents()` issue, and also fixes the disabled back button.  The only downside to this is that when returning to the map (e.g., tapping back button in the `TripDetailsActivity`), the counting clock for "Update X seconds ago" pauses until the reload of the most recent vehicle status from the server comp

[2016-04-07 21:23] #443 closed

[2016-04-07 21:27] barbeau opened #457 "Set the default build variant in Android Studio to obaGoogleDebug"
I originally mentioned this in https://github.com/OneBusAway/onebusaway-android/issues/443.

Setting a default build variant would help because right now some developers new to the project are trying to build in Android Studio with the default build variant selected by Android Studio, which happens to be `agencyXAmazonDebug`, which fails, as most developers are building for Google Android devices.

[2016-04-08 03:34] charles-b-stb commented on #290
Conceptually, I understand what needs to be done to see if this will work. I'm a bit more fuzzy on the details for modifying the gradle scripts for allowing a 2nd (test only) manifest and how the service will interact with tests.

Just to make sure I know what I'm doing here, are you implying that all debug versions of the build in onebusaway-android-onebusaway-android.iml should have their MANIFE

[2016-04-08 14:00] barbeau commented on #187
For reference, here are the current most popular issue categories that are reported via the OBA trip/stop problem reporting APIs.

Puget Sound:

[code]
Tampa (just for HART):

![image](https://cloud.githubusercontent.com/assets/928045/14385891/970093c0-fd70-11e5-9538-041cb8f81012.png)

Atlanta:

[code]

[2016-04-08 15:32] barbeau commented on #290
It's been a little while since I worked on the Gradle build variants, but IIRC you should be able to drop a new file `AndroidManifest.xml` into the `src/androidTest` folder that has **only** the following:

[code]

I believe this should automatically merge the above attributes with the main `AndroidManifest.xml`, but only for tests - this service wouldn't be part of the manifest if you launch a no

[2016-04-11 19:48] barbeau opened #458 "Add legend for arrival time colors"
This has been requested numerous times before, and I'd like to add it along side the work we're doing for issue reporting (https://github.com/OneBusAway/onebusaway-android/pull/392).

We should add a Legend option under "Help", that looks something like this (but obviously much prettier):

![image](https://cloud.githubusercontent.com/assets/928045/14440153/a74627ca-fffc-11e5-9e6c-a7cfe892f5c5.png)

[2016-04-12 21:18] barbeau commented on #458
After talking with @cagryInside further, it would be good to show this a little more in context to how users see the colors and animating real-time indicator within the app.

Here's a mockup that's more like what the users see in the app:

![image](https://cloud.githubusercontent.com/assets/928045/14475856/473944da-00d2-11e6-9cfc-9297ede5cc5a.png)

This is also similar in language to [the brochure

[2016-04-12 21:19] barbeau commented on #458
Powerpoint file that contains these mockups is [here](https://www.dropbox.com/s/4vexs40ikr05xha/OBA%20Legend.pptx?dl=0)

[2016-04-13 04:08] bbodenmiller commented on #458
Shouldn't the gray one not have the dot? Also I vote they be styled exactly the same as the app (no border, same font & size, animated dot, etc.)

[2016-04-13 04:15] barbeau commented on #458
@bbodenmiller Whoops, yes, good catch.  I'll fix that.  Yes, these would be styled exactly as they appear in the app - likely the exact same layout.

[2016-04-13 13:52] barbeau opened #460 "Pass in stopId to TripDetailsActivity when tapping on vehicle marker balloon"
**Summary:**

When tapping on the vehicle marker balloon on the map:

![image](https://cloud.githubusercontent.com/assets/928045/14495241/9f263ee8-015c-11e6-9b8c-c3d617bbae98.png)

...you are taken to the TripDetailsListFragment.

![image](https://cloud.githubusercontent.com/assets/928045/14495422/5f1a0004-015d-11e6-9385-87420e4bab15.png)

However, if you had a stop selected, we don't show the lit

[2016-04-13 19:05] #187 closed

[2016-04-13 20:40] barbeau commented on #437
I'm wondering if we should hide `stop_code` by default, and use a preference to turn it, and other more debugging-related information like `vehicleId`, `stop_id`, on.  So if a user is having problems they can flip on this preference (maybe under "Advanced"?), and then send us a screenshot, which would then show all the IDs we need to start diagnosing things.

[2016-04-13 22:14] barbeau opened #461 "Add tutorial for new "Send feedback" feature"
Via #187, we now have a "Send feedback" option in the navigation drawer that leads to a more structured feedback process:

![image](https://cloud.githubusercontent.com/assets/928045/14511129/70aa1caa-01a3-11e6-8f91-dfff401e50e7.png)

We should add a tutorial (ShowcaseView) message telling the user they can find the "Send feedback" option in the navigation drawer.

[2016-04-14 04:34] charles-b-stb commented on #290
I am having issues getting the manifest version to cooperate. Apparently we need to be as high as version 23 in the manifest to use the NotificationListener. I've tried changing the version for the local manifest in the test folder, but it still apparently keeps referring to the version in the core manifest.

Do you know of any workarounds to get past this?

[2016-04-14 16:33] cagryInside commented on #458
@barbeau This is the screenshots of the first implementation:

![device-2016-04-14-122822](https://cloud.githubusercontent.com/assets/2777974/14535636/b81183be-023c-11e6-896a-3dadb1c830dc.png)

What do you think about the layout? I used a scroll layout, because it is a little bit long for horizontal orientation. Also, any comments on text style, maybe non-bold, black color?
![device-2016-04-14-122

[2016-04-14 16:55] barbeau commented on #458
Let's put the "Legend" option just below the "Tutorial" option - I'd like to keep the "self-service" options grouped near the top.  Related to this - let's use the following order:

* Show Tutorial
* Legend
* What's New?
* Supported Agencies
* Twitter Feed
* Contact Us

Layout is looking good!  We just need to make sure it looks good on smaller screens and can scroll if needed (and "Close" button

[2016-04-14 17:29] barbeau commented on #290
@charles-b-stb Did you try bumping `compileSdkVersion` to `23` in `build.gradle`?

You'll need to sync Android Studio with `build.gradle` after this change.  If you've gotten rid of `Notification.setLatestEventInfo()` I believe the project should build.

When you use `NotificationListener`, if you need API level 23 to execute the test, you'll need to surround it with:

[code]

[2016-04-15 08:57] charles-b-stb commented on #290
The only way I could find to get rid of the compiler error was to set the test notification listener implementation (which has to be referenced from the test manifest) to have an annotated version of 23 (@TargetApi(23)) unfortunately I don't know of a way to certify that lower versions of android cannot access this class since its will be instantiated from the manifest directly. I suspect that thi

[2016-04-15 11:56] barbeau commented on #290
Yes, adding @TargetApi(23) to method is fine.  This along with IF statement should be sufficient to run test only on M devices/emulators.

[2016-04-15 18:30] barbeau commented on #456
Under rare conditions when the vehicle market balloon is open and a showcase view is triggered while the Thread updating the balloon marker contents is executing, the back button can still be disabled.

One way to fix this is not to disable the back button when showing ShowcaseViews in HomeActivity, although the downside of this is that users can accidentally dismiss the tutorial without having re

[2016-04-24 19:52] #458 closed

[2016-04-25 16:34] barbeau opened #465 "Long stop names should be truncated with "..." in issue report view"
**Summary:**

If a stop name is long, when it is selected in the "Report a Problem" page it makes the placemark icon smaller and can cascade off the screen.

**Steps to reproduce:**

Go to "Send Feedback", "Report Stop Problem", and tap on a stop with a long name.  For example, stop_id `MARTA_902375` in Atlanta region.

**Expected behavior:**

Placemark icon should remain the same size, and the te

[2016-04-25 18:56] barbeau opened #467 "Release build fails"
Trying to execute a release build on master branch currently aborts with the below errors when running `gradlew assembleRelease`.  Likely related to Proguard and issue reporting implementation, which includes a new library and dependencies there - I'm working on this.

[code]

[2016-04-25 19:53] #465 closed

[2016-04-25 20:35] #467 closed

[2016-04-25 20:37] barbeau commented on #467
JUnit was being included in the open311 library - fixed in https://github.com/OneBusAway/onebusaway-android/pull/469, via https://github.com/CUTR-at-USF/open311-client/commit/2408a2255afb06730d1cfaf73c7353237511ee89 in library, which removed JUnit from releases and now includes it only in the test scope of that project.

[2016-04-26 14:32] barbeau commented on #456
Interestingly, when I don't manually disable the back button in `HomeActivity.onBackPressed()` it seems I can't close the ShowcaseView by using the back button (which was the behavior we wanted anyway).  Not sure if this behavior changed in the later ShowcaseView library versions or if we changed a setting along the way.  Either way, there is no need to manage this on our own now.

[2016-04-26 14:33] #456 closed

[2016-04-26 14:43] #461 closed

[2016-04-26 14:51] barbeau commented on #437
Another option for showing stop number is to simply append it to the end of the stop name.  I recently saw that this is what York Region Transit in Canada does for some stops by adding the `stop_code` to the end of the stop name (intentionally or unintentionally, I'm not sure):

![image](https://cloud.githubusercontent.com/assets/928045/14822425/aa18b49e-0b9c-11e6-84a3-ee167a3bd6ac.png)

[2016-04-26 16:05] barbeau commented on #437
Two different options for this type of presentation - left is similar to York, right is re-styled a big to de-emphasize the number.  I think I like the right better - thoughts?

![image](https://cloud.githubusercontent.com/assets/928045/14824962/e5f729ba-0ba5-11e6-9a31-e44de92f0763.png)

[2016-04-28 14:42] barbeau commented on #200
We're currently looking at this feature again, in the context of PSTA subsidizing Uber trips for a first/last mile solution in OBA Tampa, as well as HART providing first/last mile service using Transdev.

Here's the wording from the [Uber Terms of Use](https://developer.uber.com/docs/terms-of-use):

I think if we limit the display of information to be mutually exclusive (i.e., we only show Uber in

[2016-04-28 14:49] barbeau commented on #200
I should add that HART requested that the information be mutually exclusive as well - they don't want to show Uber information in the HART service area.

[2016-04-28 15:23] barbeau commented on #290
@charles-b-stb If the test is proving difficult to implement, I'd be ok with you submitting a PR for the fix without it.  For this particular case, I don't want perfect to be the enemy of good.  This issue is blocking us bumping `compileSdkVersion` to `23`, which needs to happen.

[2016-04-28 15:47] barbeau opened #473 "Crash when restoring old backup in new version of app database"
**Summary:**

The app crashes when trying to restore a backup created with an older version of the app/database:

[code]

**Steps to reproduce:**

1.  Install an old version of the app with an old version of the database
2.  Star a stop
3.  Go to "Settings->Save to storage"
4.  Update to the app to a new version that includes a new version of the database
5.  Go to "Settings->Restore from storage"

[2016-04-28 15:49] barbeau commented on #473
We aren't currently overriding `onDowngrade()` in `ObaProvider`, and a crash is the default Android behavior in this scenario if this method isn't overridden.  I think we can just override `onDowngrade()` and make sure we execute the SQL queries to update the database schema to the newest version.  Going to give this a shot.

[2016-04-28 16:43] barbeau commented on #473
I should add that this bug has probably existed for a very long time - doesn't seem to be related to any recent work.

[2016-04-28 16:54] barbeau commented on #473
Calling `onUpgrade()` with the new version number from `onDowngrade()` seems to work - it seems to update the schema correctly.  Interestingly, from some testing with older version numbers, it seems that it can also execute the SQL statements such as "CREATE TABLE..." when that table already exists without crashing.  I would have expected us to need to change the SQL statements to "CREATE TABLE IF

[2016-04-28 16:57] #473 closed

[2016-04-28 17:40] barbeau opened #474 "Tutorials are disabled after orientation change when showing"
**Summary:**
If an orientation change happens while a tutorial view is showing, no subsequent tutorial screens will show until the app is killed and restarted.

**Steps to reproduce:**

* Install and start app
* Rotate screen while welcome screen shows
* Tap on stop

**Expected behavior:**

Should show tutorial for arrival times.

**Observed behavior:**

No tutorial is shown.

**Device and Android

[2016-04-28 20:23] #474 closed

[2016-04-29 20:15] barbeau commented on #294
We've seen this rarely recently, so I'm going to re-open just so we have record of this.  I'm still not sure how to reproduce or fix.

[2016-05-03 15:06] cagryInside opened #478 "Restoring an old database version results in empty Open311 tables"
**Summary:**

If you get a backup of DB with the lower version of the application, and restore this DB after you upgrade the application, it will effectively delete the data in new created tables.

**Steps to reproduce:**

1. Download the lower version of the app.
1. Go to settings and click `Save to storage`.
1. Remove the app.
1. Download the latest version of the app.
1. Go to settings and clic

[2016-05-05 13:41] barbeau commented on #440
Will anyone watching this issue please go star the root issue on the Google issue tracker at the link below?

https://code.google.com/p/gmaps-api-issues/issues/detail?id=9021

Not sure if this will help push Google to release the fix faster, but it doesn't hurt.

[2016-05-05 22:01] barbeau opened #480 "Route favorite dialog crashes upon orientation change"
**Summary:**

Reported via Android Developer Console:

[code]

**Steps to reproduce:**

I was able to reproduce by doing the following:

1. Open any stop
2. Tap on any arrival
3. Select "Add star to route"
4. Rotate the screen
5. Tap on "Save"

**Expected behavior:**

The app should complete the rotation and allow the user to save the favorite route.

**Observed behavior:**

The app crashes with t

[2016-05-05 22:01] barbeau commented on #480
@cagryInside Could you please take a look at this?

[2016-05-05 22:06] barbeau opened #481 "Bus stop ID isn't autopopulating in Open311 issue reports"
**Summary:**

The bus stop ID field in the Open311 issue report for stop and arrival time issues in Pinellas County should auto-populate.  It currently doesn't.

**Steps to reproduce:**

1. Tap on a bus stop on the map in Pinellas County
2. Tap on "Send feedback" in the navigation drawer
3. Select "Report a Stop Problem" or "Report an Arrival Time Problem"
4. Scroll down to view the "Bus stop id (

[2016-05-05 22:07] barbeau commented on #481
@cagryInside Could you please take a look at this?  Thanks!

[2016-05-06 15:51] barbeau commented on #402
We now have GBFS support in our OTP fork, http://maps.usf.edu/.  OTP consumes GBFS and offers the data up via a REST API call, very similar to what OBA does with real-time transit info.

Here's the bike rental API call to OTP:
http://maps.usf.edu/otp/routers/default/bike_rental

HTTP request header:

[code]

And the OTP bike rental API docs:
http://dev.opentripplanner.org/apidoc/0.15.0/resource_Bi

[2016-05-06 15:53] barbeau commented on #402
For parsing the response with Jackson, we should be able to leverage the POJOs in our opentripplanner-pojos library:
https://github.com/CUTR-at-USF/opentripplanner-pojos/tree/master/src/org/opentripplanner/routing/bike_rental

This is how OTP Android parses the response.

[2016-05-06 15:59] barbeau commented on #402
In OTP Android, I believe we make the assumption that all returned entities are bike stations.  At USF (including maps.usf.edu) and other locations, there are floating bikes w/ embedded GPS that aren't fixed to stations.  So we might need to update the POJOs project to reflect this difference.

[2016-05-06 18:42] cagryInside opened #482 "Issue reporting fragments dosn't finish upon orientation change"
**Summary:**

Issue reporting fragments (`ReportStopProblemFragment`, `ReportTripProblemFragment`, `Open311ProblemFragment`) don't get closed after orientation change.

**Steps to reproduce:**
1. Go to send feedback
2. Fill an issue form
3. Rotate screen
4. Click submit button

**Expected behavior:**

What did you expect the app to do?

**Observed behavior:**

It should close the activity and frag

[2016-05-06 20:34] barbeau commented on #29
I was looking at this again in context of trying to debug some potential differences we're seeing between predicted times and vehicle positions, and trying to eliminate device/server clock sync as a potential source of differences.

One catch is that we can only use the server "current time" if we just recently had a successful refresh of the arrival info data from the API.  There are several loca

[2016-05-06 20:43] barbeau commented on #29
WIP PR at https://github.com/OneBusAway/onebusaway-android/pull/484.

[2016-05-07 18:39] #481 closed

[2016-05-09 16:25] cagryInside opened #486 "Trip headsign disappears on orientation change"
**Summary:**

In Problem reporting view, trip headsign text disappears when orientation change.

**Steps to reproduce:**

1. Open any stop
2. Tap on any arrival
3. Select "Report arrival time problem"
4. Rotate the screen

**Expected behavior:**

It should keep the headsign text.

**Observed behavior:**

Headsign text disappears.

**Device and Android version:**

Motorola Nexus 6 w/ 6.0.1

**Scree

[2016-05-09 17:02] #486 closed

[2016-05-10 14:07] barbeau commented on #478
This is a side effect of our current backup method, which is simply to copy the database file to storage in https://github.com/OneBusAway/onebusaway-android/blob/master/onebusaway-android/src/main/java/org/onebusaway/android/io/backup/Backup.java#L54.  When we "restore" old data, we swap the old database back in.  If the database version changed prior to the fix for https://github.com/OneBusAway/o

[2016-05-10 14:11] barbeau opened #489 "Implement a real backup/restore mechanism"
**Summary:**

Our current implementation of backup/restore is simply to copy the database file to storage in https://github.com/OneBusAway/onebusaway-android/blob/master/onebusaway-android/src/main/java/org/onebusaway/android/io/backup/Backup.java#L54.  When we "restore" old data, we swap the old database back in.

This causes issues when trying to restore a database from an older database version

[2016-05-10 14:45] barbeau opened #490 "Loading animation doesn't appear when refreshing arrival times"
**Summary:**

When you refresh the arrival times, the loading animation doesn't appear.

It does appear when initially loading the arrivals when `ArrivalsListFragment` is first instantiated.

Reported by beta user:

**Steps to reproduce:**

1. Go to any region/stop and view arrivals
1. Tap on the refresh button, or wait for the arrivals to automatically refresh

**Expected behavior:**

A "loading"

[2016-05-10 15:12] #480 closed

[2016-05-10 15:12] #482 closed

[2016-05-10 15:18] barbeau commented on #490
@cagryInside Could you please take a look at this?

[2016-05-10 18:18] barbeau commented on #489
This will probably be related to, or at least overlap in implementation partially, the cloud saves feature (https://github.com/OneBusAway/onebusaway-android/issues/32).

[2016-05-10 22:10] barbeau opened #491 "Tapping back in region confirmation dialog is treated as a "yes""
**Summary:**

In the issue reporting process, when you first tap on "Send feedback" and you are prompted with the "Are you in the Tampa Bay region?", if you tap the back button and then tap on "Send feedback" again, it is treated as though you answered "Yes" to the region confirmation prompt dialog.

**Steps to reproduce:**

1. Do a fresh install of OBA Android
2. Tap on "Send feedback"
3. Hit the

[2016-05-10 22:11] barbeau commented on #491
@cagryInside Could you please take a look at this too?

I think we want the dialog to remain dismissable (so pressing the back button is still allowed), but we should prompt again with the dialog if the user comes back instead of assuming they are in the region.

[2016-05-11 16:24] barbeau opened #493 "Improve reminder notification implementation"
**Summary:**

The reminder notification implementation could use a re-write.  From https://github.com/OneBusAway/onebusaway-android/pull/479#discussion_r62705038 and https://github.com/OneBusAway/onebusaway-android/pull/479#discussion_r62736914, here's a description of the current implementation:

We seem to synchronize shutting down the service on the `mNotifications` object, which is a `Concurre

[2016-05-11 20:41] #491 closed

[2016-05-12 19:02] #490 closed

[2016-05-12 19:53] barbeau commented on #200
Uber said separate presentation of Uber only in PSTA area and presentation of Transdev only in HART area is fine.  They are checking on displaying both United Taxi and Uber in the same PSTA area.

[2016-05-13 17:43] barbeau opened #496 "Reminder text doesn't accurately reflect arrival/departure information"
**Summary:**

When viewing the reminder for a trip that has just arrived/departed, the reminder always says "Route X has departed", even if the trip was incoming to a transit center.  In that case, the reminder should say "Route X has arrived".

This doesn't affect trips that haven't yet arrived/departed - the text says "Route X is 5 min away".

This is related to issue https://github.com/OneBusAw

[2016-05-16 20:05] hypergreatthing opened #498 "Scheduled arrival time for a stop is truncated"
Information displaying schedule arrival time is off by a minute in some cases.

I'm a little bit of an outsider in how the structure of this application is created, but i assume you're using the oba api to pull stop information that includes scheduled arrival times.

Stop level arrival information is merely estimated time between timepoints using distance.  The stop times are in seconds.

It's my

[2016-05-16 20:23] barbeau commented on #498
@hypergreatthing Good point!  Do you have a pointer to a specific region/route/stop where this is visible?  Would like to grab some data to create some unit tests.  Screenshot would help too.

I'm surprised this issue has never come up before, although maybe most agencies either round schedules to the minute or rounding down has been mostly accurate with agency data.

[2016-05-16 20:24] barbeau commented on #498
This should also affect departure times too.

[2016-05-16 20:25] barbeau commented on #498
And from a quick scan of the code on my phone I think real-time too.

[2016-05-16 20:27] hypergreatthing commented on #498
WMATA: stop id 14078
I'm not sure if you use the siri call for stop info but this url will work:
http://buseta.wmata.com/api/stop-for-id?_=1463427413328&stopId=1_14078

I'll have to get a screenshot later.

[2016-05-16 21:08] barbeau commented on #498
Out of curiosity - does this display correctly in the other OBA UIs (iPhone, web, etc.)?  Would help to have something accurate to test against.

[2016-05-16 22:40] barbeau commented on #440
Can anyone who is following this issue please check your device "Settings->Apps", and see which version of Google Play Services your device is running, along with make/model of device?

Looks like mine (LG G4 w/ Android 6.0) finally got bumped to 9.0.83.  The issue was last confirmed on 8.7.03 so I'm hoping that a) this is the major version release Google was referring to in which the issue is res

[2016-05-16 22:42] barbeau commented on #440
From this comment on gmaps issue it appears this may be fixed with 9.0.82:
https://code.google.com/p/gmaps-api-issues/issues/detail?id=9021#c129

[2016-05-17 14:00] hypergreatthing commented on #498
![rosslyn](https://cloud.githubusercontent.com/assets/10711060/15324417/5e06e160-1c14-11e6-9658-00c37f0cad3a.jpg)
From GTFS:
868586830	13:49:57	13:49:57	14078	N MOORE ST + 19TH ST
868588830	14:29:57	14:29:57	14078	N MOORE ST + 19TH ST
Timetable:
http://www.wmata.com/bus/timetables/dc/05a.pdf?n

I don't think oba web shows scheduled arrival times when they have real time data.  When they do it's re

[2016-05-17 14:55] hypergreatthing commented on #498
Just fyi they also truncate by design

[2016-05-17 16:52] barbeau commented on #498
So WMATA is also truncating by design in their printed schedules?

Also, do you have a link to the full GTFS dataset being used?
On May 17, 2016 10:55 AM, "hypergreatthing" <notifications@github.com>
wrote:

[2016-05-17 16:58] hypergreatthing commented on #498
No.  OBA is (as far as i know).
Basically stop times in GTFS are created through a algorithm which uses timepoints (scheduled times) overlayed on top of route shapes and uses the distances between the stops and shapes to determine what times the stops should be associated with.  In this particular instance the timepoint is 3 seconds (relative to distance) away from the timepoint.

There's the publ

[2016-05-17 17:01] barbeau commented on #498
Can you provide link to WMATA GTFS you're looking at?

Even though non timepoint times are interpolated, the timepoint times
should still match the WMATA printed schedule.  If these aren't rounded to
the minute I'm curious how WMATA is displaying them, whether they are
truncating or rounding.
On May 17, 2016 12:58 PM, "hypergreatthing" <notifications@github.com>
wrote:

[2016-05-17 17:15] hypergreatthing commented on #498
I can't provide a link as it's not public.  I will ask however.

The public gtfs however shows this same issue:
http://lrg.wmata.com/GTFS_data/google_transit.zip
stop #29136 in stop_times if you look at the almost all the arrival times is 6 seconds short of the minute.

I guess it's an issue with our system that we use.  Timepoints and stops have distinct locations that typically aren't the same p

[2016-05-17 20:36] barbeau commented on #498
@hypergreatthing Thanks for all the info, I really appreciate it.

Yes, this issue with truncating seconds off schedule and real-time values (and doing calculations based on minutes resolution) is a little more complicated than I initially thought, especially because there is no `timepoint` field in the WMATA [GTFS stop_times.txt file](https://developers.google.com/transit/gtfs/reference#stop_time

[2016-05-17 20:41] hypergreatthing commented on #498
A suggestion would be to round to the nearest minute in a fashion that isn't that much different then what you're doing now.
Ex:
final long scheduledMins = scheduled / ms_in_mins;
changed to
final long scheduledMins = (scheduled+500) / ms_in_mins;

That would fix everything.  But i agree on being consistent throughout the different projects associated with OBA.

[2016-05-17 20:52] barbeau commented on #498
I believe the main problem with this is that because we're calculating the ETA using minute precision, so you can end up with a schedule time, ETA, and clock time that don't match.  Currently, because we're always rounding down to closest minute, these always match.

For example, if the scheduled arrival time is `5:00:59 PM`, using the above calculation the scheduled time would be displayed to the

[2016-05-18 13:52] hypergreatthing commented on #498
Ok.
Just fyi, i don't think OBA web shows scheduled arrival time as you do in the app.  When real-time isn't available they show "X minutes (scheduled)".  Your app by default shows the scheduled time of arrival truncated to the minute which makes it a lot more apparent.
A quick scan shows nyc, cta has to the second data in gtfs while mbta, la seems to round to the nearest minute.  It doesn't seem

[2016-05-18 13:59] barbeau commented on #498
@hypergreatthing Thanks for that info.  Yes, I think there is a lot of variety here in how the data is represented - I'm sure this won't be the last time this topic comes up :).

[2016-05-19 15:44] cagryInside opened #500 "Add analytics to the "service alerts button""
**Summary:**

We would like to report how many times a service alert button is clicked. Therefore, we need to add analytics when a service alert button is clicked. We should also include the agency id to this report.

[2016-05-19 17:40] barbeau commented on #500
This is a request from HART in Tampa.

[2016-05-19 17:55] barbeau opened #501 "Implement Firebase Analytics"
Google announced the expansion of the Firebase platform yesterday:
https://firebase.googleblog.com/2016/05/firebase-expands-to-become-unified-app-platform.html

We should take a close look at analytics:
https://firebase.google.com/docs/analytics/

This could potentially help us with our major Google Analytics problem, which is the limit on reported events - we've been around 10x over the limit for

[2016-05-19 17:56] barbeau commented on #501
cc @cagryInside

[2016-05-19 20:09] #290 closed

[2016-05-19 21:02] barbeau commented on #493
In our `AlarmReceiver`, we should be extending the support library version of `WakefulBroadcastReceiver` and starting the service using `startWakefulService()`, instead of a normal `BroadcastReceiver` and managing the WakeLock ourselves.  See https://developer.android.com/training/scheduling/wakelock.html under *Using WakefulBroadcastReceiver* for details.

[2016-05-19 22:07] barbeau commented on #437
I'm not convinced this should be part of the normal UI yet - it may just exist in a "debugging" option.  Moving milestone to v2.1.

[2016-05-19 22:08] barbeau commented on #294
Moving to v2.1 milestone - it's not bad enough to justify blocking v2.0 release, and I'm not sure we can fix this (seems to be library issue), but I want to keep it open just for a record of what's going on.

[2016-05-20 13:47] #500 closed

[2016-05-20 15:05] barbeau opened #503 "Update Spanish translation"
@themonki Would you be able to update the Spanish translation?

There has been a good amount of text added since the last update, so I've pulled out the changes/additions below.  I think this covers everything.

[code]

[2016-05-20 15:05] barbeau opened #504 "Update Finnish translation"
@arirusakko Would you be able to update the Finnish translation?

There has been a good amount of text added since the last update, so I've pulled out the changes/additions below.  I think this covers everything.

[code]

[2016-05-20 17:32] barbeau opened #505 "Release builds fail due to missing/extra translations"
**Summary:**

When doing `gradlew assembleRelease`, we get the following error:

[code]
F:\Android_Studio\onebusaway-android\onebusaway-android\src\main\res\values\arrays.xm
l:186: Error: "report_stop_transit_category_keywords" is not translated in "es" (Span
ish), "fi" (Finnish) [MissingTranslation]
    <string-array name="report_stop_transit_category_keywords">
[code]
F:\Android_Studio\onebusawa

[2016-05-20 17:33] barbeau commented on #505
A workaround for this that we've used in OTP Android is to just ignore the extra/missing translations in `build.gradle`:
https://github.com/CUTR-at-USF/OpenTripPlanner-for-Android/blob/master/opentripplanner-android/build.gradle#L56

[code]

[2016-05-20 19:33] themonki commented on #503
Good, I was working here https://github.com/themonki/onebusaway-android/commit/7315a7996edaa135c7c37df97fe8461af6170688

I hope to update this soon.

[2016-05-20 20:19] barbeau commented on #503
Awesome, thanks!

[2016-05-20 20:56] #505 closed

[2016-05-23 13:34] #503 closed

[2016-05-23 14:17] barbeau opened #507 "Update Spanish translation - arrays.xml"
@themonki Sorry!  I completely missed the changes to `arrays.xml` in the last issue I opened.

If you have a chance soon, here are the strings we'd need to translate:

`arrays.xml`

[code]

[2016-05-23 14:19] barbeau commented on #507
Actually, I'm not entirely sure that the string arrays with `keywords` in the name should be translated.

@cagryInside With the Open311 implementation, does the user's locale affect what language is returned to them?  I don't believe it does.  If English is always going be returned, we should probably move these string arrays to `donottranslate.xml`.  Please take a look and let me know what you th

[2016-05-23 14:21] barbeau commented on #501
This looks like a good initial starting place for setting up Firebase in an Android project:
https://firebase.google.com/docs/android/setup#prerequisites

[2016-05-23 14:41] cagryInside commented on #507
@barbeau I think we should leave them in the `arrays`. We are comparing `report_stop_transit_category_keywords` and `report_trip_transit_category_keywords` with the actual service name or category name (which are UI elements). For example, in Spain if they add an open311 endpoint for their agency, it is expected to have a Spanish service names.

[2016-05-23 14:46] barbeau commented on #439
I saw this problem again yesterday in the v2.0.11 beta release when looking at PSTA routes in OBA Tampa - this time, when I cleared the route header view, and selected a new route to view, the old vehicle icon from the other route stayed on the map (IIRC, when viewing a new route on the map last time the extra vehicle icon went away).  I also then experienced this crash several times, which is in

[2016-05-23 14:56] barbeau commented on #507
@cagryInside Yeah, that's a good point.  I was thinking that if someone was using a foreign locale in the U.S. then the Spanish translation would never match the English response returned from the Open311 API (e.g., SeeClickFix in Pinellas County).  I guess we can only support one of the two scenarios at this point - I agree that between the two scenarios, we should probably leave them in `arrays.

[2016-05-23 18:52] cagryInside opened #508 "RouteShortName overflows if it is more than three character"
**Summary:**

In `ArrivalsListAdapterStyleA`, if the route short name is more than 3 characters it overflows to new line.

**Steps to reproduce:**

1. Go to Tampa Bay region
2. Search for route `100X`
3. Look at the arrivals

**Expected behavior:**

It should be in the same line.

**Device and Android version:**

Motorola Nexus 6 w/ Android 6.0.1

**Screenshots:**
![device-2016-05-23-142203](https

[2016-05-24 16:01] #508 closed

[2016-05-24 16:03] barbeau commented on #32
Looks like Firebase Real-time database might be a good option for this - https://firebase.google.com/docs/database/.

[2016-05-24 16:35] barbeau opened #510 "Support multiple map tile providers"
From a user:

We have no control over the default Maps API v2 Google map tiles, but we could support multiple map tile providers, including custom Mapbox tiles where we could edit the size of street names, etc, and potentially even add a custom tile for large street names for users with visual impairments.  We're looking at using Mapbox custom tiles for our USF Maps app - more info [here](https://

[2016-05-24 16:49] barbeau commented on #510
I asked the user the following:

They responded:

[2016-05-24 16:55] barbeau commented on #510
One of the map tile types can be Google satellite, so this issue is an umbrella issue that includes the functionality discussed in #31.  I'm going to close #31 as a duplicate as we now have more info here than in that issue.  Mapbox and MapQuest OSM tiles are also included in OTP Android, and could be included here as well, which addresses https://github.com/OneBusAway/onebusaway-android/issues/31

[2016-05-24 16:55] barbeau commented on #31
I'm going to close this as a duplicate of #510, as we can support satellite images on the map as one type of tile provider (and we can support multiple tile providers).

[2016-05-24 16:55] #31 closed

[2016-05-25 14:56] themonki commented on #507
@barbeau currently [array.xml](https://github.com/OneBusAway/onebusaway-android/blob/master/onebusaway-android/src/main/res/values-es/arrays.xml) was translated a part on spanish.

About the string 'keyword' you say translate the item values? for example:
[code]

And not translate anything here (for example):

[code]

[2016-05-25 15:00] barbeau commented on #507
@themonki Yes, the "keyword" strings should be translated:

[code]

And yes, the strings that reference other strings should just be copied into `values-es/arrays.xml`, without any changes/translation:

[code]

[2016-05-25 17:21] barbeau opened #512 ""Send feedback" screen text needs more padding for longer languages"
**Summary:**

When tapping on "Send feedback" in the main navigation drawer, the activity that shows all the different categories for feedback is very cramped for languages with longer strings (e.g., Spanish).

**Steps to reproduce:**

1. Change your Android settings to Spanish via "Settings->Language & keyboard->Espanol (United States)"
1. In OBA in main navigation drawer, tap on "Send feedback"

[2016-05-25 17:23] #507 closed

[2016-05-25 17:30] cagryInside commented on #512
@barbeau I will tackle this.

[2016-05-25 17:43] barbeau commented on #512
@cagryInside Awesome, thanks!

[2016-05-25 17:44] themonki commented on #512
Need to change [here](https://github.com/OneBusAway/onebusaway-android/blob/master/onebusaway-android/src/main/res/values-es/strings.xml#L589)

* <string name="rt_customer_service">Contactar con el Servicio de **Atneción** al Cliente</string>

for

* <string name="rt_customer_service">Contactar con el Servicio de **Atención** al Cliente</string>

[2016-05-25 17:57] barbeau commented on #512
@themonki Thanks!  Just fixed that type in https://github.com/OneBusAway/onebusaway-android/commit/ccd07ee345d720d85f137d25d029c628d2576b33.

[2016-05-26 13:57] barbeau opened #515 "NPE in TripDetailsListFragment"
**Summary:**

Crash from Android Developer Console:

[code]

**Steps to reproduce:**

Unknown

Looks like this happened when the user tapped on the "Show on Map" option - the `ObaTrip` in the following line was `null`:

`ObaTrip trip = refs.getTrip(tripId);`

**Expected behavior:**

Not crash

**Observed behavior:**

Crash

**Device and Android version:**

Samsung Galaxy S5 w/ Android 6.0

[2016-05-26 15:54] #515 closed

[2016-05-26 16:08] barbeau opened #517 "Map doesn't zoom to route on orientation change if sliding panel closed"
**Summary:**

If you rotate your device when showing a route on the map and the sliding panel is closed, the map will center on lat/long (0,0) and will not zoom to show the route.

Note that if the sliding panel is showing, it does zoom correctly.

**Steps to reproduce:**

1. Tap on a stop on the map in portrait orientation
1. Tap on an arrival time, and choose "Show route on map"
1. Close the sli

[2016-05-26 16:11] barbeau opened #518 "NPE when changing screen orientations in HomeActivity in route mode w/ interruption"
**Summary:**

NPE when changing screen orientations in HomeActivity, showing the route, after I received an incoming phone call and returned to the app:

[code]

**Steps to reproduce:**

I saw this while trying to grab screenshots for https://github.com/OneBusAway/onebusaway-android/issues/517.

Steps were something along the lines of:

1. Tap on a stop on the map in portrait orientation
1. Tap on

[2016-05-26 16:23] barbeau commented on #440
Another comment on the gmaps issue saying this is fixed, although Google hasn't officially confirmed it yet:
https://code.google.com/p/gmaps-api-issues/issues/detail?id=9021#c133

I'm going to close this out as fixed for now, unless evidence resurfaces that it's still a problem.

[2016-05-26 16:23] #440 closed

[2016-05-26 16:26] #512 closed

[2016-05-26 17:48] barbeau opened #519 "Send feedback Open311 form - move issue category above issue description?"
**Summary:**

When reporting an issue via "Send feedback" form, and stop or arrival time problem, it seems like it may be a more natural flow to pick the issue category and then enter a description.  It also helps the user focus on the types of issues they should be reporting here.  I took a look at the Pinellas County (i.e., SeeClickFix white label) app and then put category above issue descripti

[2016-05-26 17:49] barbeau commented on #519
@cagryInside Thoughts on this?  I think the description was above the category in the initial implementation because we use description for both Open311 and non-Open311.  Do you think it causes implementation issues if we try to move the category above the description?

[2016-05-26 18:06] #368 closed

[2016-05-26 20:20] cagryInside commented on #519
I agree, SCF also puts the description bottom:

![screen shot 2016-05-26 at 4 14 54 pm](https://cloud.githubusercontent.com/assets/2777974/15588711/27a39690-235d-11e6-9e14-94606c49a091.png)

It won't cause any implementation issues, because non-open311 issues have their own `fragments`.
However, there are other questions coming from the open311 endpoint. So, we will have to add the description and

[2016-05-27 01:22] themonki opened #520 "Main navigation panel can not scroll in landscape orientation"
**Summary:**

When I change my device on horizontal view the menu look cut and I can't scroll down to see all options on the menu.

**Steps to reproduce:**

1. Open onebusaway
2. Change the position of my device to horizontal
3. Open the principal menu

**Expected behavior:**

Scroll down and see all options on the menu

**Observed behavior:**

The menu look cut and can not scroll down to see all

[2016-05-27 01:52] barbeau commented on #520
@themonki Thanks for the report!  I agree that we need to fix this.

[2016-05-27 13:37] #519 closed

[2016-05-27 13:42] barbeau commented on #336
Looks like Firebase Analytics may help with this - it provides unlimited reporting on up to 500 distinct events - see https://github.com/OneBusAway/onebusaway-android/issues/501.

[2016-05-31 14:06] cagryInside commented on #520
I am working on this issue.

[2016-05-31 14:54] barbeau commented on #32
From https://firebase.google.com/pricing/ for "Realtime Database":

* Simultaneous connections = 100
* GB stored = 1 GB
* GB Transferred = 10 GB
* Daily private backups = NO

* Simultaneous connections = Unlimited*
* GB stored = 2.5 GB
* GB Transferred = 20 GB
* Daily private backups = YES

For FLAME Unlimited connections:

Without running any numbers, I'm guessing that for something simple like s

[2016-05-31 21:33] barbeau commented on #498
On a related note - I was browsing the Git history looking for something else, and ran across these two related issues:

* https://github.com/OneBusAway/onebusaway-android/issues/363
* https://github.com/OneBusAway/onebusaway-android/issues/375

We were previously calculating status colors (red, blue, green) in milliseconds precision, and had problems because these colors didn't always match the s

[2016-05-31 21:54] barbeau opened #523 "Stop name in arrivals header sliding panel is incorrect on initial load"
**Summary:**

Reported on oba-dev list - https://groups.google.com/forum/#!topic/onebusaway-developers/bq8y7m6dykE

If the user is viewing arrivals in ArrivalsListActivity and taps on "View on Map" option in the Action Bar, the stop name is not  populated immediately, showing "University Area Transit Center" layout placeholder name instead of the actual stop name.

**Steps to reproduce:**

From ab

[2016-05-31 22:19] barbeau commented on #523
Fix for this should be to pass in the stop name as part of the intent that starts up `HomeActivity`, and wire this up from the multiple sources to be passed into `HomeActivity` and then into `ArrivalsListFragment`, where it would populate the arrivals list header with the stop name before the arrivals info response is received from the server.

[2016-05-31 22:23] barbeau commented on #451
From a quick look, it seems that this is still a problem with:

`compile 'com.android.support:cardview-v7:23.4.0'`
`compile 'com.android.support:design:23.4.0'`

[2016-06-01 18:48] #520 closed

[2016-06-02 02:13] barbeau commented on #440
Officially confirmed as fixed by Google - from https://code.google.com/p/gmaps-api-issues/issues/detail?id=9021#c135:

[2016-06-06 01:24] barbeau opened #525 "Support user location via manual zip code entry"
From user feedback on Google Play:

This is a completely fair request, especially from a privacy perspective.  Shouldn't be too hard to prompt the user for a zip code if they choose not to turn location on, and then use the Google Geocoder to get the location from the zip code.

[2016-06-06 01:29] barbeau opened #526 "Cut back on tutorial frequency/amount"
Only negative feedback I've heard from a user so far with the 2.0.12 public rollout (we're currently at 5%):

We can either space out the tutorials a bit more, or perhaps cut back on some that are more obvious.

[2016-06-06 15:30] #523 closed

[2016-06-06 17:54] azizmb9494 commented on #526
+1 one on cutting back. I had similar thoughts when first using the app. If it helps, when I get my Android back, I'll go through tutorial & suggest those I think are obvious.

[2016-06-07 00:08] barbeau commented on #526
Thank @azizmb9494!

If anyone else has suggestions on which to cut I'd like to hear it.  I think I'll probably take an initial cut at this tomorrow and release as a hotfix along with some of the Spanish translation updates.

[2016-06-07 00:55] barbeau commented on #526
Something else that can help here - we can space out the tutorials more (with a counter and mod(3)), and if the user taps on the functionality covered by a tutorial they haven't seen yet, we can just never show that tutorial.  If they've found it themselves we don't need to show them a tutorial about it.

[2016-06-07 18:40] barbeau commented on #525
@azizmb9494 started a WIP PR for this issue at https://github.com/OneBusAway/onebusaway-android/pull/527.

[2016-06-07 18:42] barbeau commented on #447
WIP PR at https://github.com/OneBusAway/onebusaway-android/pull/448.

[2016-06-07 18:43] barbeau commented on #437
WIP PR at https://github.com/OneBusAway/onebusaway-android/pull/471.

[2016-06-07 18:44] barbeau commented on #444
WIP PR at https://github.com/OneBusAway/onebusaway-android/pull/445.

[2016-06-08 13:28] barbeau commented on #526
More user feedback on this topic:

[2016-06-08 15:36] #478 closed

[2016-06-08 15:55] barbeau commented on #526
@azizmb9494 and @cagryInside Could you please take a look at this branch which cuts back on the tutorials, and see what you think?

https://github.com/OneBusAway/onebusaway-android/tree/cutBackTutorials

From commit summary:

* Uses a global counter to space out notification internal and avoid spamming users with tutorials back-to-back for different features
* If a user discovers a feature on thei

[2016-06-08 20:13] barbeau commented on #526
@cagryInside I just pushed https://github.com/OneBusAway/onebusaway-android/commit/4f19c74c6608f23444f596fb6994d41e60b9aec8 to the same branch, which I believe should fix the problem of the "Starred route" tutorial focusing on the wrong part of the screen due to the sliding panel being in motion.  Please let me know if you see that problem again when running with this commit.

[2016-06-09 03:22] azizmb9494 commented on #526
@barbeau: Looks like a good direction to me (doing both the cutback & spacing out), still can't play with it since Android still isn't here :/ (Shipped a bunch of my stuff by mail when moving across the country).

[2016-06-09 03:49] barbeau commented on #526
@azizmb9494 Sure, thanks, no problem.  FYI, you might want to try out the emulator with the new version of Android Studio - much better than its been in the past.

[2016-06-09 03:53] barbeau commented on #526
Users definitely feel passionately about this - more user feedback:

I've halted the existing rollout and will likely cut a new release tomorrow to get an update out to fix this.  So if anyone has further suggestions on improvements please speak up now before this goes out.

[2016-06-09 05:28] bbodenmiller commented on #526
Its been awhile since I've viewed the tutorial (is there a way to reset it?) but does it get in the way of users performing actions and require them to click Got It before proceeding? If so, it might be better if it was suggestions that didn't require a user action to dismiss.

[2016-06-09 11:59] barbeau commented on #526
You can reset tutorial via "Help->Show Tutorial."

Yes, the ShowcaseView library requires tapping on button to dismiss
screen.  I'll look and see if there are options to dismiss via other
actions.
On Jun 9, 2016 1:28 AM, "Ben Bodenmiller" <notifications@github.com> wrote:

Its been awhile since I've viewed the tutorial (is there a way to reset
it?) but does it get in the way of users performing ac

[2016-06-09 13:57] themonki commented on #526
@barbeau How about deactivate the tutorial and showing a first pop-up saying:

You want to see the tutorial on how to use OneBusAway?

Options Yes or No

And then call the tutorial.

[2016-06-09 14:04] barbeau opened #529 "IllegalStateException: Can not perform this action after onSaveInstanceState"
**Summary:**

From Android Developer Console for staged rollout v2.0.12:

[code]

There is also a similar stacktrace from a crash in April for the production v1.7.9 - not sure if this is related to the same problem, but both stack traces including the flow for trip problem reporting:

[code]

**Steps to reproduce:**

Unknown

**Expected behavior:**

Not crash

**Observed behavior:**

Crash

**Devi

[2016-06-09 14:08] barbeau opened #530 "NPE when getting Location in Send Feedback flow"
**Summary:**

From Android Developer Console for staged rollout v2.0.12:

[code]

User comment:

**Steps to reproduce:**

Unknown

**Expected behavior:**

Not crash

**Observed behavior:**

Crash

**Device and Android version:**

[code]

@cagryInside Could you please take a look?  Thanks!

[2016-06-09 14:17] barbeau commented on #526
@themonki Good idea - that's exactly what we were talking about here.  Similar option would be to include checkbox within the tutorial screen to "show these screens".  There are some implementation and UX challenges here to turn this out quickly, so we're taking a look now.

[2016-06-09 16:09] cagryInside commented on #530
To reproduce this problem:

1. Disable location services in your phone
2. Restart your phone
3. Open OBA and go to `send feedback`

[2016-06-09 17:03] #530 closed

[2016-06-09 17:46] cagryInside commented on #529
To reproduce this problem:

1. Click a bus stop
2. Go to Send Feedback
3. Select `Report an Arrival Time Problem`
4. Rotate the screen very fast just before the arrival list were loaded

[2016-06-09 17:52] cagryInside commented on #529
This issue happens when you call a fragment transaction  after `onSaveInstanceState(Bundle outState) ` has been called. Couple stackoverflow questions about the same topic:

http://stackoverflow.com/questions/14262312/java-lang-illegalstateexception-can-not-perform-this-action-after-onsaveinstanc

http://stackoverflow.com/questions/32781678/can-not-perform-this-action-after-onsaveinstancestate-whe

[2016-06-09 17:56] barbeau commented on #526
Alright, just force-pushed a new commit to the same https://github.com/OneBusAway/onebusaway-android/tree/cutBackTutorials branch that combines all the related commits, and adds a preference to turn on/off tutorial popups at any time.  Also, following the "What's new?" dialog, the user is now prompted asking if they want to see the tutorial:

![image](https://cloud.githubusercontent.com/assets/928

[2016-06-09 17:58] #526 closed

[2016-06-09 18:04] barbeau commented on #526
@themonki Would you be able to do a quick Spanish translation for the new strings in https://github.com/OneBusAway/onebusaway-android/commit/6a44a8c38dc6ab84225ab0eb83ae0d497a530c9b?

Should only be 3-4 strings, for the preference and above dialog.

[2016-06-09 18:49] cagryInside opened #533 "NPEs when clicking a bus stop and changing screen orientation at the same time in HomeActivity"
**Summary:**

Getting following NPEs when clicking a bus stop and just after changing the screen orientation in `HomeActivity`:

**Issue 1:**

[code]

**Issue 2:**

[code]

**Steps to reproduce:**
1. In `HomeActivity` click on a bus stop icon
2. Rotate the screen very fast just before `ArrivalsListLoader` has been finished

**Expected behavior:**

Not crash

**Observed behavior:**

It crashed.

**

[2016-06-09 19:08] themonki commented on #526
Ok, I am working on this.

[2016-06-09 19:41] themonki commented on #526
@barbeau done on PR #534

[2016-06-09 20:05] barbeau commented on #504
And a few more changes in https://github.com/OneBusAway/onebusaway-android/commit/6a44a8c38dc6ab84225ab0eb83ae0d497a530c9b.

[2016-06-09 20:23] #529 closed

[2016-06-09 21:40] themonki opened #536 "On restore from storage Custom Server API is deleted"
**Summary:**

When save data and restore them, the Custom OBA Server API is removed.

**Steps to reproduce:**
1. Set a Custom Server API
2. Click on Save to storage
3. Click on Restore from storage
4. Close and Open the App

**Expected behavior:**

Reload backed up data, and the Custom OBA Server API should still be selected

**Observed behavior:**

The Custom OBA Server API is deleted and it show

[2016-06-10 13:29] barbeau opened #537 "Transition EditTexts to the new TextInputLayout"
We should look at transitioning EditTexts to the new [`TextInputLayout`](https://developer.android.com/reference/android/support/design/widget/TextInputLayout.html).

`TextInputLayout` provides some animations that allow users to continue to see hint text as they type, as well as any validation errors.

Click on the below YouTube video image to see what this looks like in action:

[![IMAGE ALT TEX

[2016-06-10 16:07] barbeau commented on #536
@themonki Thanks for the report!

I can reproduce this issue (LG G4 Android 6.0 w/ `master` branch at https://github.com/OneBusAway/onebusaway-android/commit/6efc57548d1dcdb299355176f6db63847569ccd5), but what I see is a little different.  After tapping "Restore", I see the manual region prompt (instead of "Out of range"):

![image](https://cloud.githubusercontent.com/assets/928045/15970544/19523e

[2016-06-10 17:47] barbeau opened #538 "NPE - Invoke virtual method 'java.lang.String edu.usf.cutr.open311client.Open311.getJurisdiction()'"
**Summary:**
I happened to see this crash today on my device:

[code]

**Steps to reproduce:**

I think the steps were the following:

1. Tap "Send Feedback"
1. Tap on "Stop Problem Report"
1. Scroll map to PSTA stop and tap on stop
1. Switch to "PSTA - Arrival info/schedule" category
1. Put app in the background and browse other apps
1. Return to OBA

**Expected behavior:**

Not crash

**Observed

[2016-06-10 18:00] barbeau commented on #309
@cagryInside implemented a nice custom drop-down for the issue reporting categories that we can re-use for this:

![image](https://cloud.githubusercontent.com/assets/928045/15973900/b5682f88-2f13-11e6-9d93-0f6fa771f41f.png)

[2016-06-10 18:06] barbeau commented on #309
FYI - Google now has a Places auto-complete widget that doesn't have a quota:
https://developers.google.com/places/android-api/autocomplete

This helps for addresses and POIs (Walmart, Publix, McDonalds) but doesn't help us with GTFS stop and route names.

There is also a new Geocoder called Pelias - https://github.com/pelias/pelias.

It’s an open-source geocoder by Mapzen, and they’ve indicated t

[2016-06-10 18:09] barbeau commented on #309
There is also a discussion here on the OBA dev list about improving OBA search server-side:
https://groups.google.com/d/msg/onebusaway-developers/w0g5E8zVe60/IYeHG000CQAJ

Currently OBA server search only supports searching for `stop_id` and `route_id`.

[2016-06-10 19:19] bbodenmiller commented on #309
It appears the programmatic Google Places autocomplete access also has no limit but requires additional verifications to unlock higher limits.

If Google Maps is any indication of the results autocomplete could return it does have stops but not routes.

[2016-06-10 19:56] barbeau commented on #309
Historically from what I have been able to tell, Google does it's own thing in Google Maps, so I'd be somewhat surprised if the geocoding results from the Places autocomplete widget that is available to us matches what we see in the Google Maps app.  But it's possible.

[2016-06-14 14:07] cagryInside opened #539 "Add route icon"
**Summary:**

We want to add a specific route icon in `Issue reporting` and `Recent stops/routes` screens.

**Screenshots:**
Currently we are using generic icons to indicate routes:

`Issue Reporting`:

![device-2016-06-14-100259](https://cloud.githubusercontent.com/assets/2777974/16045713/b50c70b0-3217-11e6-945f-a0d20e38775b.png)

`Recent stops/routes`:

![device-2016-06-14-100330](https://cloud.

[2016-06-14 14:28] cagryInside commented on #539
A material design icon:

1)
![routes](https://cloud.githubusercontent.com/assets/2777974/16046190/894f5292-3219-11e6-8bfd-dbb9b5610d9c.png)

Or, non-material design icons, I think we can materialize them using http://romannurik.github.io/AndroidAssetStudio/icons-launcher.html#foreground.space.trim=1&foreground.space.pad=0&foreColor=607d8b%2C0&crop=0&backgroundShape=square&backColor=ffffff%2C100&ef

[2016-06-14 17:28] barbeau commented on #539
Conceptually I've always thought that this should be something like a curved S, closer to number 4 above, but a much more compact representation.

I think 1) is good but too close to the icon we're already using for stops:
![image](https://cloud.githubusercontent.com/assets/928045/16052733/7ce26a48-3233-11e6-858d-9f1ea335f1f2.png)

An easy solution would be to just re-use the icon we are currently

[2016-06-15 13:46] barbeau commented on #518
Similar stack trace from a user w/ 2.0.12 installed, but for the VehicleLoader instead of the RouteLoader:

[code]

Device:

[code]

[2016-06-15 14:33] #518 closed

[2016-06-15 14:34] barbeau commented on #518
The Android docs show using the Application context instead of Activity context for Toasts:
https://developer.android.com/guide/topics/ui/notifiers/toasts.html#Basics

...which seems to make sense to me, so that's what I'm doing in https://github.com/OneBusAway/onebusaway-android/commit/7ac161d6d5f0b3760f1fa66c512f9dbc512e985d.

[2016-06-15 19:50] barbeau opened #542 "Change from GooglePlayServicesUtil.isGooglePlayServicesAvailable() to GoogleApiAvailability"
**Summary:**

Apparently `GooglePlayServicesUtil.isGooglePlayServicesAvailable()` is deprecated, and we should be using `GoogleApiAvailability.isGooglePlayServicesAvailable()` instead:
https://developers.google.com/android/reference/com/google/android/gms/common/GoogleApiAvailability.html#public-methods

See also http://stackoverflow.com/questions/31016722/googleplayservicesutil-vs-googleapiavaila

[2016-06-16 13:39] #460 closed

[2016-06-16 14:12] barbeau opened #544 "Tapping on vehicle marker popup should focus on vehicle icon in TripDetailsListFragment"
**Summary:**

Currently, if a user taps on an arrival time at a particular stop, the stop and vehicle icons both appear in TripDetailsListFragment and the stop is focused as the top visible record in the list - this is the desired behavior:

![image](https://cloud.githubusercontent.com/assets/928045/16119378/38d12be2-33a9-11e6-896a-8e28a82f4c5b.png)

Prior to #463, we weren't showing the bus stop

[2016-06-16 17:00] #538 closed

[2016-06-16 17:24] cagryInside commented on #539
I re-used the icon we are currently using for "Show trip status":
@barbeau what is your thoughts?

![device-2016-06-16-130449](https://cloud.githubusercontent.com/assets/2777974/16126273/6af9048e-33c5-11e6-9c6d-e85160ff23be.png)
![device-2016-06-16-132202](https://cloud.githubusercontent.com/assets/2777974/16126274/6afdbfe2-33c5-11e6-89bf-b5c6b8732c06.png)

[2016-06-16 17:58] barbeau commented on #539
:+1: Works for me :).  We can revisit this later if we need another route icon and the trip status one doesn't work in that use case.

[2016-06-17 14:48] #539 closed

[2016-06-17 15:56] barbeau opened #548 "Improve Trip Status vehicle icon"
The vehicle icon in `TripDetailsListFragment` (accessible by tapping on vehicle marker balloon, or tapping on an arrival time and then "Show trip status") currently looks like this:

![image](https://cloud.githubusercontent.com/assets/928045/16156326/b58c1e98-3481-11e6-85ef-43abe1f18d2f.png)

I'd like to change it to be a white bus icon inside of a colored circle, similar to the vehicle map marker

[2016-06-17 17:36] barbeau opened #549 "Add region name and auto region select to feedback email body"
**Summary:**

If you do menu "Send feedback->Send App Feedback", and email gets sent to android-app@onebusaway.org,which includes various troubleshooting info:

![image](https://cloud.githubusercontent.com/assets/928045/16159334/3de67f8c-3490-11e6-8a7d-35642d648516.png)

We should add region name to this info - previously this wasn't needed because we were sending this to the regional contact emai

[2016-06-21 03:06] barbeau opened #550 "Starred stops text is clipped with "Very large" system font setting"
**Summary:**

When increasing the Android system font size to "Very large" or more, the text for the starred stops view is clipped.

**Steps to reproduce:**

1. Go to Android system menu
1. Go to "General->Accessibility"
1. Go to "Vision"
1. Set the "Font size" to "Very large" or bigger
1. Open the "Starred stops" screen

**Expected behavior:**

Show starred stops names that are readable

**Observ

[2016-06-22 00:37] barbeau opened #551 "Map doesn't automatically recenter on last map position on fresh startup"
**Summary:**

First reported in #525:

Also reported by another user:

I think the behavior reported above is a bug, but I'm not yet sure if it's with OBA Android or Maps API v2.  It may be that we didn't sufficient test with location services off in the situation where the app completely gets killed by the user or platform.

So, separate from the enter being able to enter a home zip code to set t

[2016-06-22 00:44] barbeau opened #552 "Native crash at /system/lib/libc.so in /system/lib/libc.so (dlfree+1239), /system/lib/libc.so (free+10)"
**Summary:**

From Google Play Developer Console for v2.0.13 staged rollout:

[code]

I'm going to close this as "Won't fix" as this crash is in native code and there isn't anything we can do about it, but I wanted to document the stack trace in case it pops up again.

**Steps to reproduce:**

Unknown

**Expected behavior:**

Unknown

**Observed behavior:**

Unknown

**Device and Android version:*

[2016-06-22 00:45] barbeau commented on #552
Closing as "Won't Fix".

[2016-06-22 00:45] #552 closed

[2016-06-22 04:22] azizmb9494 commented on #551
Would simply storing the lat & lng of the last location in shared preferences then pulling when needed suffice?

[2016-06-22 04:30] barbeau commented on #551
I think so.  We'll need to test this carefully because I believe Google
Maps does retain its own state information, and we don't want to be
fighting their implementation or moving the camera/zoom unnecessarily.
On Jun 22, 2016 12:22 AM, "Aziz Batihk" <notifications@github.com> wrote:

[2016-06-23 13:58] barbeau opened #553 "Improve discovery of the "vehicles on map" feature"
**Summary:**

I've gotten feedback from several users using v2.0.13 that they'd like to see buses on the map - for example:

This feature already exists - you can see it currently by tapping on the arrival time, and selecting "Show route on map".  However, some users definitely aren't discovering this on their own.

We have a few options for helping with this:
1. **Rename the current option from "

[2016-06-23 18:28] barbeau opened #554 "Add permissions explanation in Markdown file"
**Summary:**

Some users have questioned why certain permissions are needed, especially the way that Google categorizes them (for example, "Storage/Photos" shows up for access to SD card to write/read database backups).  For example, from a Google Play review:

There is a good explanation [here](https://github.com/OneBusAway/onebusaway-android/issues/61#issuecomment-21809193) by Paul of why the pe

[2016-06-23 18:30] barbeau commented on #554
BTW, we didn't require any new permissions in v2, so I'm not sure what this particular user was referencing - his review said he was running v1.6.5.

[2016-06-23 22:05] #554 closed

[2016-06-24 13:38] barbeau opened #555 "Add tests for HTTPS URLs"
**Summary:**

iOS is requiring web servers to use secure connections over HTTPS starting Jan 1, 2017.  HTTP is no longer an option.  For more details see:
https://groups.google.com/forum/#!topic/onebusaway-developers/cMMOzLDdQDk

This means that all URLs in the Regions API will change to be HTTPS instead of HTTPS - see https://github.com/OneBusAway/onebusaway-multiregion-support/issues/14 for deta

[2016-06-24 14:04] #555 closed

[2016-06-24 20:07] barbeau commented on #330
It looks like some users are turning off location permissions for the app (both v1.7.9 and v2.0.13) from the Android system settings, which is causing these crashes:

[code]

When we update to the new permissions model we should make sure that these don't happen.  I believe users are warned by the platform that turning off permission for apps still using the install-time permission model can cause

[2016-06-24 20:19] barbeau commented on #71
A user request for this:

[2016-06-24 22:02] barbeau commented on #551
I'm taking a shot at fixing this, should have a WIP PR soon.

[2016-06-24 22:21] barbeau commented on #551
WIP PR at https://github.com/OneBusAway/onebusaway-android/pull/557.

[2016-06-27 13:52] barbeau commented on #551
Reported by another user on Google Play:

[2016-06-27 14:00] barbeau commented on #551
Reported by another user via email:

[2016-06-27 14:37] barbeau opened #558 "Reminders don't trigger/update unless app is opened"
**Summary:**

Reported by a user via email:

**Steps to reproduce:**

Unknown (I haven't tried to reproduce yet), but I'm assuming:
1. Set a reminder
2. Restart the phone
3. Do NOT start the app

**Expected behavior:**

Reminder triggers based on when it was set

**Observed behavior:**

Reminder doesn't trigger

**Device and Android version:**

[2016-06-27 14:57] barbeau commented on #558
I asked the user if they had this issue in v1.x of OBA, and this was their response:

So sounds like this might not be an issue specific to the v2.0 update.

IIRC following the fix for https://github.com/OneBusAway/onebusaway-android/issues/290 @cagryInside and I both tested notifications, and we both were able to get them to fire after a phone restart - so everything still seemed to work fine.

@

[2016-06-27 15:28] #517 closed

[2016-06-27 15:29] cagryInside commented on #558
@barbeau I have 6.0.1 on my Nexus 6. I could not reproduce this problem. After restarting my phone, I was able to see the notification without opening the app.

[2016-06-27 16:18] #549 closed

[2016-06-27 17:11] barbeau commented on #558
I'm guessing this might be a case of https://github.com/OneBusAway/onebusaway-android/issues/333, where the agency had a data change that invalidated the trip_ids for this users reminders.

[2016-06-27 19:00] #550 closed

[2016-06-27 19:44] barbeau opened #561 "Some headsigns have inconsistent upper/lower case"
**Summary:**

Trip headsigns are treated inconsistently in term of case within the app.  For example, in the below screenshot, in the sliding panel header the headsign is shown as "UTC", but in the arrivals list below it's shown as "Utc".  There is a history of data issues in OBA, including ALL CAPS HEADSIGNS IN PUGET SOUND which is why title casing is currently applied.

![image](https://cloud.gi

[2016-06-27 20:42] barbeau commented on #558
User says this seems different from #333, which he's encountered before.  He said he does have a PIN on his device, and Good installed.  Not sure yet if this is related.

[2016-06-27 20:44] barbeau commented on #558
I tried testing reminders in Tampa, and it seems that some duplicate trip_ids are showing up – I saw this specifically for UATC (Stop #6497) and Route 18 in Tampa - OBA Android actually alerted me twice for one reminder:
http://tampa.onebusaway.org/where/standard/stop.action?id=Hillsborough+Area+Regional+Transit_6497&route=Hillsborough+Area+Regional+Transit_18

Here’s the API request:
http://api.t

[2016-06-28 13:20] barbeau opened #562 "Some legacy shortcuts are broken"
**Summary:**

I'm getting a few reports that shortcuts created with v1.x of OBA Android no longer work with v2.0. I'm not sure if all devices are affected, although I was able to reproduce with LG G4 w/ Android 6.0.

I'm guessing the only fix for this would be to include dummy Activities in the original `com.joulespersecond.seattlebusbot` package that redirect (i.e., pass the intent and finish) to

[2016-06-28 13:26] barbeau commented on #562
@cagryInside Would you be able to try the above fix with the dummy Activities this morning?  I'd like to try and get a hotfix out for this if possible.

[2016-06-28 13:33] barbeau commented on #562
Looks like the following activities that existed in v1 support shortcuts (based on manifest entries with intent filter that includes `<action android:name="android.intent.action.CREATE_SHORTCUT"/>`):

* MyStopsActivity
* MyRecentRoutesActivity
* MyRecentStopsActivity
* MyRoutesActivity
* MyStarredStopsActivity

[2016-06-28 14:22] barbeau opened #563 "NPE when showing route search results on map"
**Summary:**

I was searching for a route ("link" in Puget Sound region), and when I tapped on the search result and selected "Show on map" the app crashed and I got this stack trace:

[code]

I believe this is an unintended side effect of https://github.com/OneBusAway/onebusaway-android/pull/543/files, which restores the zoom level and map location on orientation changes for route mode.

**Steps

[2016-06-28 14:31] barbeau commented on #562
Here's the debug log when tapping on the shortcut:

`E/[LGHome]LGActivityUtil: [LGActivityUtil.java:297:startActivityWithAnimation()]ActivityNotFoundException: intent= android.intent.action.VIEWandroid.content.ActivityNotFoundException: Unable to find explicit activity class {com.joulespersecond.seattlebusbot/com.joulespersecond.seattlebusbot.ArrivalsListActivity}; have you declared this activity

[2016-06-28 14:43] #563 closed

[2016-06-28 14:52] barbeau commented on #562
If you long press on the home screen of Android, and select the "Widgets", there are several options to create OneBusAway shortcuts:

* Starred Stops
* Recent Stops
* Recent Routes
* Recent
* OneBusAway Stop
* OneBusAway Route

...so we'd need to make sure we cover all of these in our workaround.

[2016-06-28 15:44] barbeau commented on #428
The June 27th release of Android Maps API v2 now supports a z-index, so we can try to resolve this issue using the new z-index setting:
https://developers.google.com/maps/documentation/android-api/releases

[2016-06-28 16:15] #562 closed

[2016-06-28 16:28] barbeau opened #565 "BadTokenException - Unable to add window - when leaving tutorial opt out"
**Summary:**

From Android Developer console - stack trace:

[code]

User message:

**Steps to reproduce:**

Unknown

**Expected behavior:**

Not crash

**Observed behavior:**

Crash

**Device and Android version:**

Nexus 5X (bullhead)
Manufacturer Google
Android version Android 6.0
RAM (MB) 2048
Screen size 1080 × 1920
Screen density (dpi) 420
OpenGL ES version 3.1
Native platform armeabi-v7a
CP

[2016-06-28 16:40] #565 closed

[2016-06-28 16:50] barbeau commented on #558
This could be a similar issue to #562 - we accidentally broken stop shortcuts on at least some devices due to the refactoring Activities from the `com.joulespersecond.seattlebusbot` package to the `org.onebusaway.android.ui` package, and the Intents stored with the shortcuts couldn't find the old activities in the old package.

The `TADService` and `AlarmReceiver` were also refactored like this -

[2016-06-28 16:53] barbeau commented on #558
We'd also need to include the old `com.joulespersecond.seattlebusbot.BootstrapService` to handle boot events as well.

[2016-06-28 16:54] barbeau commented on #558
Here are the old v1.7.9 manifest entries:

[code]

[2016-06-28 17:32] barbeau commented on #558
Looks like the refactor is the cause - I'm able to reproduce by installing `v1.7.9`, setting a reminder, and the installing `master` branch.  Reminder only triggers after OBA app v2.0.13 is started.

[2016-06-29 04:23] barbeau opened #568 "Change color of schedule/real-time arrival times in Style B cards"
**Summary:**

We should change the scheduled/real-time text colors for Style B cards to match the rest of OBA.  The current colors are a hold-over from the original York design.

We use gray to indicate schedule arrivals in the classic Style A OBA arrival cards, and vehicle markers on the map:

![image](https://cloud.githubusercontent.com/assets/928045/16440361/47f1b098-3d8f-11e6-9d25-f21cfd684889

[2016-06-29 15:26] #551 closed

[2016-06-29 18:54] barbeau opened #569 "Show trip status (current stop for vehicle) as part of arrival times cards"
**Summary:**

Requested by user:

This would be nice to have, although I'd need to think through design and implementation a bit more.

[2016-06-29 18:58] barbeau commented on #569
This might look best as part of the Style B (route-grouped) arrival cards - we already have one card per route direction, and could show the current stop the next arrival is at for each route direction.

[2016-06-29 21:25] barbeau opened #570 "IllegalStateException: Fragment BaseMapFragment not attached to Activity"
**Summary:**

From Android Developer Console for v2.0.13:

[code]

**Steps to reproduce:**

Unknown

**Expected behavior:**

Not crash

**Observed behavior:**

Crash

**Device and Android version:**

[code]

[2016-06-29 21:29] barbeau opened #571 "NPE tapping on arrival time - ObaReferences.getRoute(java.lang.String)"
**Summary:**

From Android Developer Console for v2.0.13:

[code]

Looks like this happens when trying to report an arrival time problems after tapping on an arrival time.

**Steps to reproduce:**

Unknown (involves tapping on arrival time, and then tapping "Report arrival time problem")

**Expected behavior:**

Not crash

**Observed behavior:**

Crash

**Device and Android version:**

[code]

[2016-06-29 21:34] barbeau opened #572 "NPE - invoke virtual method 'void org.onebusaway.android.ui.ArrivalsListHeader.closeStatusPopups()'"
**Summary:**

From Android Developer Console for v2.0.13:

[code]

User message:

**Steps to reproduce:**

Unknown

**Expected behavior:**

Not crash

**Observed behavior:**

Crash

**Device and Android version:**

[code]

[2016-06-30 03:33] #572 closed

[2016-06-30 13:58] #570 closed

[2016-06-30 15:05] barbeau commented on #569
This could also be formatted as "6 stops away" as well, not necessarily naming the stop.

[2016-06-30 15:13] barbeau opened #573 "NPE tapping on trip details list item"
**Summary:**

From Android Developer Console for v2.0.13:

[code]

User message:

**Steps to reproduce:**

Unknown

**Expected behavior:**

Not crash

**Observed behavior:**

Crash

**Device and Android version:**

[code]

[2016-06-30 18:44] barbeau commented on #303
Same sync issue also occurs with vehicle markers on the map - one user noticed this:

[2016-07-01 14:54] barbeau opened #574 "NPE in BaseMapFragment getting map center location in onPause()"
**Summary:**

From Google Play Developer Console for v2.0.14:

[code]

We should do a null check on the map center location before saving it.

**Steps to reproduce:**

Unknown

**Expected behavior:**

Not crash.

**Observed behavior:**

Crash.

**Device and Android version:**

Galaxy S6, Galaxy Grand Prime, Galaxy S5 (all Android 5.1)

[2016-07-01 15:29] #450 closed

[2016-07-01 15:33] #574 closed

[2016-07-01 15:40] #573 closed

[2016-07-01 17:59] barbeau commented on #571
@cagryInside Could you please take a shot at this one?  If we don't need agencyName, we can just not pass it to the problem reporting activity/fragment if the references object is null.

[2016-07-01 20:00] #571 closed

[2016-07-01 20:00] barbeau commented on #561
I'm working on this.

[2016-07-01 20:18] barbeau commented on #561
PR at https://github.com/OneBusAway/onebusaway-android/pull/576.

[2016-07-03 17:32] bendu commented on #411
For completeness, the trip details list shows a bus for the ferries which should also be addressed.

![screenshot_20160703-102753](https://cloud.githubusercontent.com/assets/5668844/16546744/22c570f2-4109-11e6-80bb-e3bb4b049d91.png)

[2016-07-04 00:22] bendu commented on #553
There used to be this app called BusDrone (don't know if it still exists/works), that showed all of the buses on a map. It would be cool to have a layer which could be toggled to show all of the buses at once, not just a particular route.

[2016-07-04 01:46] barbeau commented on #553
@bendu Yes, showing all buses would be nice.  Main limitations here are that a) it would require multiple API calls - basically number of routes in viewport + 1 (call routes-for-location with viewport bounds, and then trips-for-route for each route returned - unless there is another way I'm forgetting), and b) a potentially large number of markers on the map, especially if we add the vehicle marke

[2016-07-05 14:58] barbeau opened #578 "No indication that map is loading stops/routes on slow data connections"
**Summary:**

When loading stops and routes on very slow data connections (or data connections that are otherwise problematic), it seems like the app isn't doing anything.

**Steps to reproduce:**

First, be on a very slow (3G) data connection.  Seems to also occur on 4G connections that appear to have good signal quality (see screenshot below), but for some reason data connection is hung (maybe s

[2016-07-05 15:00] barbeau commented on #428
Blocked by issue updating Google Play Services to 9.2.0 - https://github.com/OneBusAway/onebusaway-android/pull/577.

[2016-07-05 16:12] bbodenmiller opened #579 "Nearby view does not auto center on location"
**Summary:**

When I select the nearby view I expect it to show stops near my current location but instead it just shows the last location I viewed

**Steps to reproduce:**

1. Open app
2. Select nearby
3. Pan to random location
4. Close app by removing from recent apps view
5. Open app

**Expected behavior:**

When nearby view is opened, show nearby stops to current user location

**Observed beha

[2016-07-05 16:25] barbeau commented on #579
So this is actually working as intended, after fixing https://github.com/OneBusAway/onebusaway-android/issues/551, via PR https://github.com/OneBusAway/onebusaway-android/pull/557.

We now always show the previous map view when returning to the app and the Nearby screen.  To re-center map on your location, you just need to hit the "My location" button.  This behavior is the same as Google Maps.

R

[2016-07-05 16:59] bbodenmiller commented on #579
From https://github.com/OneBusAway/onebusaway-android/pull/557:

The implementation in OBA seems to be slightly different than Google Maps. In Google Maps if you have the follow location button tapped it will follow your location and bring you to your current location on app launch (if you did not have the button selected then it brings you to the last viewed area like OBA). With OBA it appears it

[2016-07-05 18:06] barbeau commented on #372
If we implement a "follow mode", we should also have the map re-center on the user's location if the app is backgrounded or killed while follow mode is still active - suggested in https://github.com/OneBusAway/onebusaway-android/issues/579#issuecomment-230537857.